/* lesson/write.html */

*,
:after,
:before {
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}

html {
  height: 100%;
  line-height: 1.5;
  tab-size: 4;
  font-family: Pretendard, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol, Noto Color Emoji;
  display: block;
}

body {
  margin: 0;
  line-height: inherit;
  height: 100%;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

menu,
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
  display: block;
  vertical-align: middle;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
}

button,
select {
  text-transform: none;
}

[role='button'],
button {
  cursor: pointer;
}

[type='button'],
[type='reset'],
[type='submit'],
button {
  background-color: transparent;
  background-image: none;
}

/* top */
div.top {
  z-index: 10;
  top: 0;
  position: sticky;
}

header.my-page-header {
  padding-left: 32px;
  padding-right: 32px;
  height: 58px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-shrink: 0;
  display: flex;
  z-index: 20;
  left: 0;
  top: 0;
  position: sticky;
  background-color: #1d1d1e;
}

header div.logo-wrapper {
  align-items: center;
  display: flex;
}

header svg.logo-image {
  display: block;
  width: 96px;
  color: #fff;
  fill: #fff;
}

header div.line {
  margin-left: 10px;
  margin-right: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  fill: #fff;
}

header div.my-page-text {
  align-items: center;
  display: flex;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  fill: #fff;
}

header div.member-profile-wrapper {
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

header button.profile-modal-button {
  border-radius: 9999px;
  width: 32px;
  height: 32px;
  position: relative;
  background-color: #e6e6e7;
}

header span.profile-image {
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  width: initial;
  height: initial;
  background: none;
  opacity: 1;
  border: 0px;
  margin: 0px;
  padding: 0px;
  position: absolute;
  inset: 0px;
}

header span.profile-image img {
  position: absolute;
  inset: 0px;
  box-sizing: border-box;
  padding: 0px;
  border: none;
  margin: auto;
  display: block;
  width: 0px;
  height: 0px;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: center center;
  border-radius: 9999px;
}

/* 글 작성 헤더 */
nav.write-header-wrapper {
  border-bottom-width: 1px;
  align-items: center;
  height: 68px;
  display: flex;
  border-color: #e6e6e7;
  background-color: #fff;
}

nav div.write-header {
  justify-content: space-between;
  align-items: center;
  min-width: 944px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

nav div.write-header div.left {
  align-items: center;
  display: flex;
  color: #1d1d1e;
  fill: #1d1d1e;
}

nav div.left button.prev {
  border-radius: 9999px;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  display: flex;
  margin-right: 16px;
  background-color: #f3f3f4;
}

nav div.left button.prev svg {
  width: 16px;
  height: 16px;
}

nav div.left h1.header-title {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  margin: 0;
}

nav div.write-header div.right {
  align-items: center;
  display: flex;
}

nav div.write-header button.save {
  padding-left: 15px;
  padding-right: 15px;
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  height: 40px;
  display: flex;
  position: relative;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  border-color: rgba(0, 0, 0, 0.1);
  color: #333334;
  fill: #333334;
  background-color: #fff;
}

nav div.write-header button.submit {
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  height: 40px;
  display: flex;
  position: relative;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  fill: #fff;
  background-color: #1d1d1e;
}

/* 글 쓰기 */
main div.write-wrapper {
  row-gap: 0;
  column-gap: 16px;
  grid-template-columns: repeat(15, minmax(0, 1fr));
  width: 944px;
  display: grid;
  margin-left: auto;
  margin-right: auto;
}

main section.content {
  grid-column: span 9 / span 9;
}

main section.content label.title-label {
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  position: relative;
  border-color: rgba(0, 0, 0, 0.1);
  background-color: #c0b9bb96;
}

main section.content input.title-input {
  outline: 2px solid transparent;
  outline-offset: 2px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  height: 48px;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #1d1d1e;
  fill: #1d1d1e;
}

main section.content input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #c0b9bb;
  fill: #c0b9bb;
}

/* tinymce api 설정 */
.tox.tox-tinymce {
  resize: none !important;
  border-radius: 10px;
  box-shadow: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    'Helvetica Neue', sans-serif;
  overflow: hidden;
  position: relative;
  visibility: inherit !important;
}

.tox-statusbar {
  display: none !important;
}

/* 오른쪽 */
main section.info-wrapper {
  grid-column-start: 11 !important;
  grid-column: span 5 / span 5;
}

main section.info-wrapper div.info {
  border-width: 1px;
  border-radius: 12px;
  flex-direction: column;
  display: flex;
  border-color: #e6e6e7;
}

main section.info-wrapper div.sub-title:first-child {
  border-top-width: 0;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding-left: 16px;
  padding-right: 16px;
  border-bottom-width: 1px;
  justify-content: space-between;
  align-items: center;
  height: 54px;
  border-color: #e6e6e7;
  background-color: #fafafb;
  display: flex;
}

main section.info-wrapper div.sub-title {
  border-top-width: 1px;
  padding-left: 16px;
  padding-right: 16px;
  border-bottom-width: 1px;
  justify-content: space-between;
  align-items: center;
  height: 54px;
  border-color: #e6e6e7;
  background-color: #fafafb;
  display: flex;
}

main section.info-wrapper strong {
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  color: #1d1d1e;
  fill: #1d1d1e;
}

main section.info-wrapper div.info-content {
  padding-left: 20px;
  padding-right: 20px;
}

main section.info-wrapper ul li.board-type-wrapper:first-child {
  border-top-width: 0;
  padding-top: 26px;
  padding-bottom: 10px;
  border-color: #f3f3f4;
}

main section.info-wrapper ul li.board-type-wrapper:last-child {
  border-top-width: 1;
  padding-top: 10px;
  padding-bottom: 26px;
  border-color: #f3f3f4;
}

main section.info-wrapper ul li.board-type-wrapper {
  border-top-width: 1;
  padding-top: 10px;
  padding-bottom: 10px;
  border-color: #f3f3f4;
}

main section.info-wrapper ul input {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

main section.info-wrapper ul div.radio-button {
  border-width: 1px;
  border-radius: 9999px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 0;
  width: 20px;
  height: 20px;
  display: flex;
  border-color: #7e69fe;
  background-color: #fff;
}

main section.info-wrapper ul div.radio-button svg {
  width: 12px;
  width: 12px;
  color: #fff;
  fill: #fff;
}

main section.info-wrapper ul div.radio-button svg.active {
  width: 12px;
  width: 12px;
  color: #7e69fe;
  fill: #7e69fe;
}

main section.info-wrapper ul div.board-type {
  flex-grow: 1;
  margin-top: 1px;
  margin-left: 12px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #1d1d1e;
  fill: #1d1d1e;
}

main section.info-wrapper ul div.board-type-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #1d1d1e;
  fill: #1d1d1e;
}

main section.info-wrapper div.tag-input-wrapper {
  column-gap: 12px;
  display: flex;
  margin-bottom: 16px;
}

main section.info-wrapper label.tag-label {
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  position: relative;
  border-color: rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

main section.info-wrapper input {
  outline: 2px solid transparent;
  outline-offset: 2px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  height: 48px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #1d1d1e;
}

main section.info-wrapper input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #c0b9bb;
  fill: #c0b9bb;
}

main section.info-wrapper div.tag-explain {
  display: flex;
  margin-top: 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #8a8a8b;
  fill: #8a8a8b;
}

main section.info-wrapper div.tag-explain-text {
  align-items: center;
  display: flex;
  margin-right: auto;
}

main section.info-wrapper li.tag-wrapper {
  padding-right: 8px;
  padding-left: 8px;
  background-color: rgb(250 250 251);
  border-radius: 4px;
  align-items: center;
  height: 30px;
  display: flex;
  margin-right: 6px;
  margin-bottom: 12px;
}

main section.info-wrapper li.tag-wrapper span.tag-text {
  /* color: #1d1d1e; */
  fill: #1d1d1e;
  color: rgb(102 102 103);
  margin-right: 6px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

main section.info-wrapper li.tag-wrapper svg {
  width: 16px;
  height: 16px;
  color: #666667;
  fill: #666667;
}

main section.info-wrapper label.file-upload-label {
  padding-left: 15px;
  padding-right: 15px;
  border-style: solid;
  border-width: 1px;
  border-radius: 16px;
  justify-content: center;
  align-items: center;
  height: 32px;
  display: flex;
  position: relative;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  border-color: rgba(0, 0, 0, 0.1);
  color: #333334;
  fill: #333334;
  background-color: #fff;
}

main section.info-wrapper div.file-wrapper {
  justify-content: center;
  align-items: center;
  height: 88px;
  display: flex;
}

main section.info-wrapper span.file-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #b9b9bb;
  fill: #b9b9bb;
}
