{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/helpers/list.css' %}" />
    <link rel="shortcut icon" href="{% static 'image/logo/logo-color.png' %}" type="image/x-icon">
    <link rel="stylesheet" type="text/css"  href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css"/>
</head>
<body>
    <!-- 헤더 -->
    {% include "header/header.html" %}
    <!-- 메인 -->
    <main class="main">
      <!-- 필터 -->
      <div class="filter">
        <div class="order">
          <div class="order">
                <button type="button" class="order-btn active-post">최신글</button>
            </div>
            <div class="order">
                <span class="order-line"></span>
                <button type="button" class="order-btn">인기글</button>
            </div>
        </div>
      </div>
      <!-- 글 목록 -->
      <div>
        <ul class="post-wrapper">
{#          <li class="post">#}
{#            <div>#}
{#              <button type="button" class="post-link">#}
{#                <div class="post-container">#}
{#                  <div class="post-text">#}
{#                    <h2 class="post-title">😈 대답을 듣지 않는 고약한 상사(메인작가)</h2>#}
{#                    <p class="post-content">#}
{#                      유리향기_송아론 꿈을 꾸었다 너의 향기가 내려오는 것을 나는 그것을 잡을 줄 알아#}
{#                      달려갔다 매일 둥둥 떠 있는 이 마음을 너는 알지 못할 것이다 허망함에 눈을 뜨면#}
{#                      나는 오늘도 다른 얼굴 색깔을 하고 있다 가면을 쓰는 건 어렵지 않다 미소를#}
{#                      띠우면 그만이고 착각 속에 사는 시간도 나쁘지 않다 우울함을 잡으면 감성도#}
{#                      풍부해지고 내 감정에 더 귀 기울이게 된다 그런데 꿈을 꾸었다 너의 향기가 내#}
{#                      머리맡에 앉는 것을 나는 신기루에 빠진 사람처럼 양팔을 허우적거렸고 잡히지#}
{#                      않는데도 손을 베었다 아프지 않다고 하면 거짓말이겠지 꿈이라도 그 세계가 더#}
{#                      애틋한 게 사실이지 문제는 그곳과 이곳의 시간이 달라 매일 유리처럼 깨어난다는#}
{#                      것이다 그래도 괜찮다 이렇게나마 잠시 너의 채취를 느끼고 일어날 때면 언제나#}
{#                      그랬듯 웃고 있으니까#}
{#                    </p>#}
{#                  </div>#}
{#                  <div class="post-image">#}
{#                    <span class="post-thumbnail">#}
{#                      <img#}
{#                        class="thumbnail-image"#}
{#                        src="https://steadio.imgix.net/creator-posts/e587b12f-71bc-4296-8a6d-94e74b383686/creatorPostImage/d45deb85-931d-4f68-8ec9-3457ec8fa12a.png?auto=format%2Ccompress&fit=max&lossless=true&w=1240"#}
{#                        alt=""#}
{#                      />#}
{#                    </span>#}
{#                    <div></div>#}
{#                  </div>#}
{#                </div>#}
{#                <div class="post-writer">#}
{#                  <div class="writer-profile-image"></div>#}
{#                  <div class="writer-info">#}
{#                    <span class="writer-name">사라있네 SARAHITNE (작가)</span>#}
{#                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="writer-line">#}
{#                      <circle cx="12" cy="12" r="4"></circle>#}
{#                    </svg>#}
{#                    <span class="write-info">한 시간 전</span>#}
{#                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="writer-line">#}
{#                      <circle cx="12" cy="12" r="4"></circle>#}
{#                    </svg>#}
{#                    <span class="write-info">조회수 3</span>#}
{#                  </div>#}
{#                </div>#}
{#              </button>#}
{#            </div>#}
{#          </li>#}
        </ul>
      </div>
    </main>
  </body>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="{% static 'js/helpers/list.js' %}"></script>
</html>
