{% load static %}
<!DOCTYPE html>
<html lang="ko" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css">
    <link rel="stylesheet" href="{%  static 'css/about_us/about_us.css' %}" />
    <link rel="stylesheet" href="{%  static 'css/about_us/about_us_media.css' %}" />
    <link rel="stylesheet" href="{%  static 'css/footer/footer.css' %}">
    <link rel="stylesheet" href="{%  static 'css/header/header.css' %}" />
    <link rel="shortcut icon" href="{%  static 'image/logo/logo-color.png' %}" type="image/x-icon">
    <title>폴인어스 foreign-us</title>
  </head>
  <body class="h-full">
    <div class="main-wrap">
    <!-- 헤더 -->
      {% include "header/header.html" %}
      <!-- 슬라이드 -->
      <div></div>
      <!-- section-1 -->
      <section class="first-section">
        <p class="head-sub-text">외국인 친구들과 자유롭게 언제 어디서나</p>
        <h2 class="head-text">Foreign Us 에서 새로운 언어의 세계로 🌍</h2>
        <div class="show-boxes-wrap">
          <div class="show-box box">
            <span class="pic-box-wrap">
              <span class="pic-box-contain"></span>
              <img
                src="{%  static 'image/about_us/people.jpg' %}"
                alt="외국인들" class="top-img-box"/>
            </span>
          </div>
          <div class="show-box-t text-box">
            <span class="text-box-icon">📒</span>
            <h3 class="title">언어!! 실전에서 사용하자</h3>
            <p class="title-text">언어 스킬 향상을 위한 외국어 과외는 효과적인 방법입니다. 외국 친구와 언어 과외를 시작해보세요. 그들과의 직접적인 대화를 통해 실전에서 사용하는 표현과 문법을 배울 수 있습니다. 언어 교환 파트너로서 상호적인 학습 경험을 공유하며 발음과 회화 능력을 개선해보세요. 다양한 문화를 이해하며 언어 스킬을 높여보세요.</p>
          </div>
          <div class="show-box box set-box2">
            <span class="pic-box-wrap">
              <span class="pic-box-contain"></span>
              <img
                src="{%  static 'image/about_us/papaer-work.jpg' %}"
                alt="외국인들" class="top-img-box"/>
            </span>
          </div>
          <div class="show-box-t text-box">
            <span class="text-box-icon">🧡</span>
            <h3 class="title">Do You Need Help?</h3>
            <p class="title-text">서로 도와가며 언어를 습득해보세요. 외국인 친구들을 돕는 것으로서 그들의 학습을 지원하고, 그들로부터 언어와 문화를 배워보세요. 편안하고 열린 대화를 통해 상호적으로 지식을 교환하며 발음과 회화 능력을 향상시켜보세요. 서로의 경험을 공유하며 두려움 없이 언어 스킬을 향상시키는 소중한 시간을 보내보세요.</p>
          </div>
          <div class="show-box box">
            <span class="pic-box-wrap">
              <span class="pic-box-contain"></span>
              <img
                src="{%  static 'image/about_us/event.jpg' %}"
                alt="외국인들" class="top-img-box"/>
            </span>
          </div>
          <div class="show-box-t text-box">
            <span class="text-box-icon">🎉</span>
            <h3 class="title">다양한 이벤트</h3>
            <p class="title-text">외국 친구들과 함께하는 국제 문화 이벤트 참여는 색다른 경험을 함께 나누며 언어 스킬을 향상시키는 좋은 기회입니다. 다양한 문화가 어우러지는 축제나 이벤트에 함께 참여하여 즐거움을 나누고, 외국인 친구들과 함께 언어 교환을 하며 새로운 표현과 문화를 배워보세요. 함께 참여하면서 서로의 관점을 공유하고 이해하며, 흥미로운 대화를 통해 언어 능력을 함께 향상시켜보세요.</p>
          </div>
        </div>
      </section>

      <!-- apps -->
      <section></section>
      <!-- 카테고리 목록(기존) -->
      <section></section>

      <!-- section 2 카테고리 목록 -->
      <section class="second-section">
        <div class="second-section-wrap">
          <h3 class="title-for-2nd-section">
            Foreign Us 에서 다양한 나라의 친구들과 언어를 쉐어 해보세요🌎
          </h3>
          <ul class="category-icon-Wrap-for-2nd-section">
            <li class="categories">
              <div class="img-wrap-for-2nd-section-category">
                <span class="img-wrap-size">
                  <img src="{%  static 'image/about_us/tutoring.png' %}" alt="과외" />
                </span>
              </div>
              <span class="list-button">Tutor</span>
              <p class="list-explain">
                자신이 원하는 선생님/학생을<br />선택 할수있어요
              </p>
            </li>
            <li class="categories">
              <div class="img-wrap-for-2nd-section-category">
                <span class="img-wrap-size">
                  <img src="{%  static 'image/about_us/helpus.png' %}" alt="헬퍼스" />
                </span>
              </div>
              <span class="list-button">Help Us</span>
              <p class="list-explain">
                도움이 필요한 외국인 친구들을<br />도와주고<br />언어도 사용해
                보아요
              </p>
            </li>
            <li class="categories">
              <div class="img-wrap-for-2nd-section-category">
                <span class="img-wrap-size">
                  <img src="{%  static 'image/about_us/events.png' %}" alt="이벤트" />
                </span>
              </div>
              <span class="list-button">Event</span>
              <p class="list-explain">
                여러분이 원하는 이벤트를<br />만들어 보아요
              </p>
            </li>
          </ul>
        </div>
      </section>

    <!-- section 3 카테고리 소개 -->
      <section class="third-section">
        <div class="main-title-buttons">
            <button class="title-button active-tab">과외<span class="tab-line"></span></button>
            <button class="title-button">헬퍼스</button>
            <button class="title-button">이벤트</button>
        </div>
        <div class="main-content">
            <div class="tutor">
                <div class="content-head-title-3rd-section">
                  <h3 class="content-head-title">Find Your Tutor</h3>
                </div>
                <div class="main-content-wrap-for-3rd">
                  <div class="containers-for-3rd">
                    <div class="content-img-wrap">
                      <span class="content-img-span">
                        <span class="content-img-span-span"> </span>
                        <img class="content-img-span-img"  src="{%  static 'image/about_us/lesson1.png' %}" alt="" />
                      </span>
                    </div>
                    <h5 class="content-explain-title">언어 및 목록 선택</h5>
                    <p class="content-explain">과외 받고싶은 언어를 선택 하고 받고 과외 선택</p>
                  </div>
                  <div class="containers-for-3rd">
                    <div class="content-img-wrap">
                      <span class="content-img-span">
                        <span class="content-img-span-span"> </span>
                        <img class="content-img-span-img" src="{%  static 'image/about_us/lesson.png' %}" alt="" />
                      </span>
                    </div>
                    <h5 class="content-explain-title">과외 게시글 상세보기</h5>
                    <p class="content-explain">상세보기에서 선생님에게 쪽지를 보내 보세요</p>
                  </div>
                </div>
            </div>

            <div class="help_us">
                <div class="content-head-title-3rd-section">
                  <h3 class="content-head-title">Help Us</h3>
                </div>
                <div class="main-content-wrap-for-3rd">
                  <div class="containers-for-3rd">
                    <div class="content-img-wrap">
                      <span class="content-img-span">
                        <span class="content-img-span-span"> </span>
                        <img class="content-img-span-img" src="{%  static 'image/about_us/helpers1.png' %}" alt="" />
                      </span>
                    </div>
                    <h5 class="content-explain-title">헬퍼스 목록 선택</h5>
                    <p class="content-explain">도움 주고 싶은 사람을 선택 할 수 있어요</p>
                  </div>
                  <div class="containers-for-3rd">
                    <div class="content-img-wrap">
                      <span class="content-img-span">
                        <span class="content-img-span-span"> </span>
                        <img class="content-img-span-img" src="{%  static 'image/about_us/helpers2.png' %}" alt="" />
                      </span>
                    </div>
                    <h5 class="content-explain-title">헬퍼스 상세보기</h5>
                    <p class="content-explain">어떤 도움을 요청 했는지 확인해 보세요</p>
                  </div>
                </div>
            </div>

            <div class="event">
                <div class="content-head-title-3rd-section">
                  <h3 class="content-head-title">Event</h3>
                </div>
                <div class="main-content-wrap-for-3rd">
                  <div class="containers-for-3rd">
                    <div class="content-img-wrap">
                      <span class="content-img-span">
                        <span class="content-img-span-span"> </span>
                        <img class="content-img-span-img" src="{%  static 'image/about_us/event1.png' %}" alt="" />
                      </span>
                    </div>
                    <h5 class="content-explain-title">이벤트 목록</h5>
                    <p class="content-explain">원하는 이벤트를 선택 할 수 있어요</p>
                  </div>
                  <div class="containers-for-3rd">
                    <div class="content-img-wrap">
                      <span class="content-img-span">
                        <span class="content-img-span-span"> </span>
                        <img class="content-img-span-img" src="{%  static 'image/about_us/event2.png' %}" alt="" />
                      </span>
                    </div>
                    <h5 class="content-explain-title">이벤트 선택</h5>
                    <p class="content-explain">이벤트 정보를 확인해 보세요</p>
                  </div>
                </div>
            </div>
        </div>
        <div class="suggestion_wrap">
          <div class="suggestion_wrap_body">
            <div class="suggestion_left_box">
              <div class="sgt-icon-wrap">
                <span class="sgt-icon-span">
                  <img
                    class="sgt-icon-span-img"
                    src="https://steadio.co/_next/image?url=https://steadio-asset.s3.ap-northeast-2.amazonaws.com/static/images/home/img_inquiry.png&w=1920&q=75"
                    alt="전등 아이콘"
                  />
                </span>
              </div>
              <div class="suggestion_text_wrap">
                <h5 class="suggestion_title">Foreign Us 팀에 제안해주세요!</h5>
                <p class="suggestion_text">
                  필요한 기능과 원하는 혜택이 있으신가요?<br />더 좋은 환경을
                  마련해 드리겠습니다.
                </p>
              </div>
            </div>
            <a class="suggestion_btn_wrap" href="">
              <button type="button" class="suggestion_btn">
                지금 제안하기
              </button>
            </a>
          </div>
        </div>
      </section>
     {% include "footer/footer.html" %}
    </div>
    <!-- 푸터 -->

    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="{%  static 'js/about_us/about_us.js' %}"></script>
  </body>
</html>
