{% load static %}
<!DOCTYPE html>
<html lang="ko" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css">
    <link rel="stylesheet" href="{%  static 'css/about_us/about_us.css' %}" />
    <link rel="stylesheet" href="{%  static 'css/about_us/about_us_media.css' %}" />
    <link rel="stylesheet" href="{%  static 'css/footer/footer.css' %}">
    <link rel="stylesheet" href="{%  static 'css/header/header.css' %}" />
    <link rel="shortcut icon" href="{%  static 'image/logo/logo-color.png' %}" type="image/x-icon">
    <title>폴인어스 foreign-us</title>
  </head>
  <body class="h-full">
    <div class="main-wrap">
    <!-- 헤더 -->

      <!-- 슬라이드 -->
      <div></div>
      <!-- section-1 -->
      <section class="first-section">
        <p class="head-sub-text">외국인 친구들과 자유롭게 언제 어디서나</p>
        <h2 class="head-text">Foreign Us 에서 새로운 언어의 세계로 🌍</h2>
        <div class="show-boxes-wrap">
          <div class="show-box box">
            <span class="pic-box-wrap">
              <span class="pic-box-contain"></span>
              <img
                src="{%  static 'image/about_us/people.jpg' %}"
                alt="외국인들" class="top-img-box"/>
            </span>
          </div>
          <div class="show-box-t text-box">
            <span class="text-box-icon">📒</span>
            <h3 class="title">언어!! 실전에서 사용하자</h3>
            <p class="title-text">그 나라 사람에게 직접 배울 수 있는 기회</p>
          </div>
          <div class="show-box box set-box2">
            <span class="pic-box-wrap">
              <span class="pic-box-contain"></span>
              <img
                src="{%  static 'image/about_us/papaer-work.jpg' %}"
                alt="외국인들" class="top-img-box"/>
            </span>
          </div>
          <div class="show-box-t text-box">
            <span class="text-box-icon">🧡</span>
            <h3 class="title">Do You Need Help?</h3>
            <p class="title-text">서로 도와주고 언어도 배우고</p>
          </div>
          <div class="show-box box">
            <span class="pic-box-wrap">
              <span class="pic-box-contain"></span>
              <img
                src="{%  static 'image/about_us/event.jpg' %}"
                alt="외국인들" class="top-img-box"/>
            </span>
          </div>
          <div class="show-box-t text-box">
            <span class="text-box-icon">🎉</span>
            <h3 class="title">다양한 이벤트</h3>
            <p class="title-text">그각 나라의 축제,이벤트</p>
          </div>
        </div>
      </section>

      <!-- apps -->
      <section></section>
      <!-- 카테고리 목록(기존) -->
      <section></section>

      <!-- section 2 카테고리 목록 -->
      <section class="second-section">
        <div class="second-section-wrap">
          <h3 class="title-for-2nd-section">
            Foreign Us 에서 다양한 나라의 친구들과 언어를 쉐어 해보세요🌎
          </h3>
          <ul class="category-icon-Wrap-for-2nd-section">
            <li class="categories">
              <div class="img-wrap-for-2nd-section-category">
                <span class="img-wrap-size">
                  <img src="{%  static 'image/about_us/tutoring.png' %}" alt="과외" />
                </span>
              </div>
              <span class="list-button">Tutor</span>
              <p class="list-explain">
                자신이 원하는 선생님/학생을<br />선택 할수있어요
              </p>
            </li>
            <li class="categories">
              <div class="img-wrap-for-2nd-section-category">
                <span class="img-wrap-size">
                  <img src="{%  static 'image/about_us/helpus.png' %}" alt="헬퍼스" />
                </span>
              </div>
              <span class="list-button">Help Us</span>
              <p class="list-explain">
                도움이 필요한 외국인 친구들을<br />도와주고<br />언어도 사용해
                보아요
              </p>
            </li>
            <li class="categories">
              <div class="img-wrap-for-2nd-section-category">
                <span class="img-wrap-size">
                  <img src="{%  static 'image/about_us/events.png' %}" alt="이벤트" />
                </span>
              </div>
              <span class="list-button">Event</span>
              <p class="list-explain">
                여러분이 원하는 이벤트를<br />만들어 보아요
              </p>
            </li>
          </ul>
        </div>
      </section>

    <!-- section 3 카테고리 소개 -->
      <section class="third-section">
        <div class="main-title-buttons">
            <button class="title-button active-tab">과외<span class="tab-line"></span></button>
            <button class="title-button">헬퍼스</button>
            <button class="title-button">이벤트</button>
        </div>
        <div class="main-content">
            <div class="tutor">
                <div class="content-head-title-3rd-section">
                  <h3 class="content-head-title">Find Your Tutor</h3>
                </div>
                <div class="main-content-wrap-for-3rd">
                  <div class="containers-for-3rd">
                    <div class="content-img-wrap">
                      <span class="content-img-span">
                        <span class="content-img-span-span"> </span>
                        <img class="content-img-span-img"  src="{%  static 'image/about_us/Global.png' %}" alt="" />
                      </span>
                    </div>
                    <h5 class="content-explain-title">언어 선택</h5>
                    <p class="content-explain">과외 받고싶은 언어를 선택할수 있어요</p>
                  </div>
                  <div class="containers-for-3rd">
                    <div class="content-img-wrap">
                      <span class="content-img-span">
                        <span class="content-img-span-span"> </span>
                        <img class="content-img-span-img" src="{%  static 'image/about_us/Global.png' %}" alt="" />
                      </span>
                    </div>
                    <h5 class="content-explain-title">선생님 or 학생 선택</h5>
                    <p class="content-explain">과외 받고싶은 언어를 선택할수 있어요</p>
                  </div>
                </div>
            </div>

            <div class="help_us">
                <div class="content-head-title-3rd-section">
                  <h3 class="content-head-title">Help Us</h3>
                </div>
                <div class="main-content-wrap-for-3rd">
                  <div class="containers-for-3rd">
                    <div class="content-img-wrap">
                      <span class="content-img-span">
                        <span class="content-img-span-span"> </span>
                        <img class="content-img-span-img" src="{%  static 'image/about_us/help.foreigner.png' %}" alt="" />
                      </span>
                    </div>
                    <h5 class="content-explain-title">도움 선택</h5>
                    <p class="content-explain">도움이 필요한 사람 or 도움 줄 사람</p>
                  </div>
                  <div class="containers-for-3rd">
                    <div class="content-img-wrap">
                      <span class="content-img-span">
                        <span class="content-img-span-span"> </span>
                        <img class="content-img-span-img" src="{%  static 'image/about_us/help.foreigner.png' %}" alt="" />
                      </span>
                    </div>
                    <h5 class="content-explain-title">도움 목록</h5>
                    <p class="content-explain">자유롭게 선택할수 있어요</p>
                  </div>
                </div>
            </div>

            <div class="event">
                <div class="content-head-title-3rd-section">
                  <h3 class="content-head-title">Event</h3>
                </div>
                <div class="main-content-wrap-for-3rd">
                  <div class="containers-for-3rd">
                    <div class="content-img-wrap">
                      <span class="content-img-span">
                        <span class="content-img-span-span"> </span>
                        <img class="content-img-span-img" src="{%  static 'image/about_us/event.pic.png' %}" alt="" />
                      </span>
                    </div>
                    <h5 class="content-explain-title">이벤트</h5>
                    <p class="content-explain">이벤트 주최 or 이벤트 참여</p>
                  </div>
                  <div class="containers-for-3rd">
                    <div class="content-img-wrap">
                      <span class="content-img-span">
                        <span class="content-img-span-span"> </span>
                        <img class="content-img-span-img" src="{%  static 'image/about_us/event.pic.png' %}" alt="" />
                      </span>
                    </div>
                    <h5 class="content-explain-title">이벤트 선택</h5>
                    <p class="content-explain">가고싶은 이벤를 선택할수 있어요</p>
                  </div>
                </div>
            </div>
        </div>
        <div class="suggestion_wrap">
          <div class="suggestion_wrap_body">
            <div class="suggestion_left_box">
              <div class="sgt-icon-wrap">
                <span class="sgt-icon-span">
                  <img
                    class="sgt-icon-span-img"
                    src="https://steadio.co/_next/image?url=https://steadio-asset.s3.ap-northeast-2.amazonaws.com/static/images/home/img_inquiry.png&w=1920&q=75"
                    alt="전등 아이콘"
                  />
                </span>
              </div>
              <div class="suggestion_text_wrap">
                <h5 class="suggestion_title">Foreign Us 팀에 제안해주세요!</h5>
                <p class="suggestion_text">
                  필요한 기능과 원하는 혜택이 있으신가요?<br />더 좋은 환경을
                  마련해 드리겠습니다.
                </p>
              </div>
            </div>
            <a class="suggestion_btn_wrap" href="">
              <button type="button" class="suggestion_btn">
                지금 제안하기
              </button>
            </a>
          </div>
        </div>
      </section>
    </div>
    <!-- 푸터 -->

    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="{%  static 'js/about_us/about_us.js' %}"></script>
  </body>
</html>
