{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 페이지- 회원 정보 상세보기</title>
    <link rel="stylesheet" href="{% static 'css/admin/member/admin_member_detail.css' %}"/>
    <link rel="shortcut icon" href="{% static 'image/logo/logo-color.png'%}" type="image/x-icon">
</head>

<body>
    <div>
        <div class="info-title-box info-title-box-flex">
            <div class="logo-box-layout">
                <div class="logo-box">
                    <a href="/"><img src="{%  static 'image/logo/white.png' %}"></a>
                </div>
                <div class="logo-title">
                    <span>Jar</span>
                </div>
            </div>
            <div>
                <div class="select-name">
                    <span>회원정보 관리</span>
                </div>
            </div>
        </div>
        <div class="wrap">

            <!-- 사이드 바 -->
           {% include "admin/side_bar.html" %}

            <div style="margin-left: 204px;" class="container">
                <div class="container-margin">
                    <!-- 헤더 -->
                    <div class="prev-button-layout">
                        <div>
                            <a href="{% url 'admin:member-list-page' page=page keyword=keyword %}">
                                <img src="{% static 'image/admin/prev_icon.png' %}" class="prev-icon">
                                <span class="prev-title">리스트로 돌아가기</span>
                            </a>
                        </div>
                    </div>
                    <div class="info-flex">
                        <!-- 내용 섹션 -->
                        <section class="board-info-box-layout">
                            <div class="board-info-box board-info-box-flex">
                                <div class="board-info-title-box">
                                    <span>👤 회원 정보</span>
                                </div>
                           <!-- <div class="modify-button-box">
                                    <a>
                                        <span>⚙️</span>
                                        <a>수정</a>
                                    </a>
                                </div> -->
                            </div>
                            <hr>
                            <div class="board-info-box">
                                <div class="member-img-box">
                                    {% if member_profile %}
                                        <img style="opacity: 1; display: block" class="member-img" src="/upload/{{ member_profile.image }}" alt="">
                                    {% else %}
                                        <div class="member-img"></div>
                                    {% endif %}
                                    <div class="member-nickname-box">
                                        <span>{{ member.member_nickname }}</span>
                                    </div>
                                </div>
                                <div class="member-info-box" style="margin-bottom: 20px; margin-right: 20px">
                                    <div class="member-info-tag-box">
                                        <span class="info-tag">이메일</span>
                                        <!-- 이메일 -->
                                        <div class="info">
                                            <span>{{ member.member_email }}</span>
                                        </div>
                                    </div>
                                    <div class="member-info-tag-box" style="margin-top: 60px">
                                        <hr style="margin-bottom: 5px" >
                                        <span class="info-tag">주소</span>
                                        <!-- 핸드폰 번호 -->
                                        <div class="info">
                                            {% if member.member_address %}
                                              <span>{{ member.member_address }}</span>
                                            {% else %}
                                              <span>주소 비공개</span>
                                            {% endif %}
                                        </div>
                                    </div>
{#                                    <hr>#}
                                    <div style="margin-top: 110px; margin-right: 0; display: flex; flex-direction: row-reverse">
{#                                        <button class="btn_done btn_selection">채택</button>#}
                                        <label for="" style="display: inline-block; height: 30px; width: fit-content; padding: 2px 10px; background-color: black; color: white;">
                                            <a href="{% url 'profile:profile' member_id=member.id %}">프로필 페이지로</a>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="board-info-box-layout board-info-box-layout2">
                            <div class="board-info-box">
                                <div class="board-info-title-box">
                                    <span>📋 활동 정보</span>
                                </div>
                            </div>
                            <hr>
                            <div class="member-info">
                                <div class="info-margin">
                                    <span class="info-tag">가입일</span>
                                    <!-- 유저 가입날짜  -->
                                    <h4>{{ member.created_date|date:"Y-m-d H:i" }}</h4>
                                </div>
                                <div class="info-margin margin">
                                    <!-- 유저 작성한 것들  -->
                                    <hr style="margin: 8px 0;">
                                    <span class="info-tag">과외</span>
                                    <div class="info-margin">
                                        <div class="write-count-box">
                                            <div>
                                                <span>작성한 과외 게시글</span>
                                            </div>
                                            <div class="count">
                                                <span>{{ lesson_count }}개</span>
                                            </div>
                                        </div>
                                        <div class="write-count-box">
                                            <div>
                                                <span>참여한 과외</span>
                                            </div>
                                            <div class="count">
                                                <span>{{ lesson_match_count }}회</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="info-margin margin">
                                    <!-- 유저 작성한 것들  -->
                                    <hr style="margin: 8px 0;">
                                    <span class="info-tag">헬퍼스</span>
                                    <div class="info-margin">
                                        <div class="write-count-box">
                                            <div>
                                                <span>작성한 헬퍼스 게시글</span>
                                            </div>
                                            <div class="count">
                                                <span>{{ helpers_count }}회</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div style="margin-bottom: 80px" class="info-margin margin">
                                    <!-- 유저 작성한 것들  -->
                                    <hr style="margin: 8px 0;">
                                    <span class="info-tag">이벤트</span>
                                    <div class="info-margin">
                                        <div class="write-count-box">
                                            <div>
                                                <span>작성한 이벤트 게시글</span>
                                            </div>
                                            <div class="count">
                                                <span>{{ event_count }}회</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script src="{% static 'js/admin/sidemenu.js' %}"></script>
</html>