{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 페이지- 회원 정보 목록</title>
    <link rel="stylesheet" href="{% static 'css/admin/member/admin_member_list.css' %}"/>
    <link rel="shortcut icon" href="{% static 'image/logo/logo-color.png'%}" type="image/x-icon">
</head>

<body>
    <div>
        <div class="info-title-box info-title-box-flex">
            <div class="logo-box-layout">
                <div class="logo-box">
                    <img src="{% static 'image/logo/white.png' %}">
                </div>
                <!-- <div class="logo-title">
                    <span>Jar</span>
                </div> -->
            </div>
            <div>
                <div class="select-name">
                    <span>회원 정보 관리</span>
                </div>
            </div>
        </div>
        <div class="wrap">

            <!-- 사이드 바 -->
           {% include "admin/side_bar.html" %}

            <div class="container">
                <div class="container-margin">
                    <!-- 헤더 -->
                    <!-- 검색 창 -->
                    <div class="search-box-wrap">
                        <div class="search-container">
                            {% if keyword == None %}
                                <input type="text" placeholder="검색어 입력" class="search-box">
                            {% else %}
                                <input value="{{ keyword }}" type="text" placeholder="검색어 입력" class="search-box">
                            {% endif %}
                            <button type="button" class="search-button">
                                <img src="{% static 'image/admin/search-icon-black.png'%}" alt="">
                            </button>
                        </div>
                        <div class="buttons-container">
                            <div class="delete-box-layout">
                                <div class="delete-box">
                                    <button class="deleteButton delete-button" onclick="deleteNotices(getSelectedNoticeIds())">회원 탈퇴</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 내용 섹션 -->
                    <section class="board-info-box-layout">

                        <div class="board-info-box">
                            <div class="board-info-title-box">
                                <span>👤 회원정보 목록</span>
                            </div>

                            <div class="info-table">
                                <table>
                                    <thead>
                                        <tr>
                                            <th class="checkbox-line">
                                                <input type="checkbox" id="allSelect">
                                            </th>
                                            <th>No</th>
                                            <th>회원 상태</th>
                                            <th>이메일</th>
                                            <th>닉네임</th>
                                            <th>주소</th>
                                            <th>가입 날짜</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for member in members %}
                                            <tr>
                                                <td class="checkbox-line">
                                                    <input type="checkbox" class="memberCheckbox" name="check">
                                                </td>
                                                <td>{{ member.id }}</td>
                                                <td class="member_type is_active">
                                                    {{ member.get_member_type_display }}
                                                </td>
                                                <td><a href="{% url 'admin:member-detail' keyword=keyword member_id=member.id page=page %}">{{ member.member_email }}
                                                </a></td>
                                                <td>{{ member.member_nickname }}</td>
                                                {% if member.member_address %}
                                                  <td>{{ member.member_address }}</td>
                                                {% else %}
                                                  <td>주소 비공개</td>
                                                {% endif %}
                                                <td>{{ member.created_date|date:"Y-m-d H:i" }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </section>

                    <!-- 페이지 버튼 -->
                    <div class="page-button-box-layout">
                        <div class="page-button-box">
                            {% if startPage > 1 %}
                                <div class="">
                                    <div class="page-button-margin">
                                        <div>
                                            <a href="{% url 'admin:member-list-page' keyword=keyword page=startPage|add:-1 %}">
                                                <img src="{% static 'image/admin/left_icon.png'%}"
                                                class="left-button">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            {% for i in "x"|rjust:5 %}
                                {% if forloop.counter0|add:startPage <= realEnd %}
                                    {% if forloop.counter0|add:startPage == page %}
                                        <div class="page-button page-button-active">
                                            <div class="page-button-margin">
                                                <div>
                                                    <a href="{% url 'admin:member-list-page' keyword=keyword page=forloop.counter0|add:startPage %}">
                                                        <span>{{ forloop.counter0|add:startPage}}</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="page-button">
                                            <div class="page-button-margin">
                                                <div>
                                                    <a href="{% url 'admin:member-list-page' keyword=keyword page=forloop.counter0|add:startPage %}">
                                                        <span>{{ forloop.counter0|add:startPage}}</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            {% if endPage < realEnd %}
                                <div class="">
                                    <div class="page-button-margin">
                                        <div>
                                            <a href="{% url 'admin:member-list-page' keyword=keyword page=endPage|add:1 %}">
                                                <img src="{% static 'image/admin/right_icon.png'%}"
                                                class="right-button">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <!-- 페이지 버튼 끝 -->
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script src="{%  static 'js/admin/checkbox.js' %}"></script>
<script src="{%  static 'js/admin/board_proposal_member.js' %}"></script>
{#<script src="{%  static 'js/admin/page.js' %}"></script>#}
{#<script src="{%  static 'js/admin/sidemenu.js' %}"></script>#}
<script>
    {% comment %}const memberId = '${memberDTO.id}';

    function getSelectedMemberIds() {
        const memberIds = [];
        $(".memberCheckbox:checked").each(function() {
            memberIds.push($(this).val());
        });
        return memberIds;
    }

    function deleteMembers(memberIds) {
        $.ajax({
            url: "/admin/member/delete",
            type: "DELETE",
            contentType: "application/json",
            data: JSON.stringify(memberIds),
            traditional: true,
            success: function() {
                location.reload();
            },
            error: function() {
                alert("게시물 삭제에 실패했습니다.");
            }
        });
    }{% endcomment %}

{% comment %}
    /* url에 있는 페이지 번호를 가져와서 css 수정하는 코드*/
    $(document).ready(function() {
        const urlParams = new URLSearchParams(window.location.search);
        const currentPage = parseInt(urlParams.get('page'));

        if (currentPage) {
            $('.page-button').each(function(index, element) {
                if (parseInt($(element).text()) === currentPage) {
                    $(element).addClass('page-button-active');
                } else {
                    $(element).removeClass('page-button-active');
                }
            });
        }
    });


    $(document).ready(function() {
        // 삭제 버튼 클릭 이벤트 핸들러
        $("#deleteButton").on("click", function() {
            const checkedItems = $(".memberCheckbox:checked");
            const memberIds = [];
            checkedItems.each(function() {
                memberIds.push($(this).val());
            });

            if (memberIds.length > 0) {
                if (confirm("선택한 게시물을 삭제하시겠습니까?")) {
                    deleteSuggests(memberIds);
                }
            } else {
                alert("삭제할 게시물을 선택해주세요.");
            }
        });
    });

    //페이지 번호 링크로 가져오는 코드
    let $pageForm = $("form[name='pageForm']");

    $("a.changePage").on("click", function (e) {
        e.preventDefault();
        $pageForm.find("input[name='page']").val($(this).attr("href"));
        $pageForm.submit();
    });{% endcomment %}
</script>
</html>