<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>foreign-us 폴인어스</title>
  <link rel="shortcut icon" href="../../static/image/logo/logo-color.png" type="image/x-icon">
  <link rel="stylesheet" type="text/css"
    href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css" />
  <link rel="stylesheet" href="../../static/css/lesson/write.css" />
  <link rel="stylesheet" href="../../static/css/mypage/myprofile.css" />
  <link rel="stylesheet" href="../../static/css/mypage/myinqurie-write.css" />
</head>

<body>
  <div id="wrap">
    <div class="wrap-screen-flex">
      <header id="header">
        <div class="header-logo">
          <div class="header-logo-container">
            <a href="">
              <img src="../../static/image/logo/white.png" alt="">
            </a>
            <div class="header-logo-line">|</div>
            <div class="header-logo-teacherStudio"><span>Helpers Studio</span></div>
          </div>
        </div>
        <div class="header-profile">
          <div class="header-profile-pos">
            <button class="header-profile-btn">
              <span class="header-profile-btn-span">
                <img
                  src="https://steadio.co/_next/image?url=https%3A%2F%2Fsteadio.imgix.net%2Fprofiles%2Fdafd8eca-60ea-40bf-80a3-a4e2e869485a%2FprofileImage%2Ff83e85b0-87ed-4fbf-9a1f-d858ebe2d809.png%3Fauto%3Dformat%252Ccompress%26h%3D300%26lossless%3Dtrue%26w%3D300&w=1080&q=75" />
              </span>
            </button>
          </div>
        </div>
      </header>
      <div id="main">
        <nav class="side-nav">
          <div class="side-nav-top">
            <div class="side-nav-top-flex">
              <div class="side-nav-top-profile-icon">
                <button class="side-nav-top-profile-icon-btn" type="button">
                  <span class="side-nav-top-profile-icon-img">
                    <img
                      src="https://steadio.co/_next/image?url=https%3A%2F%2Fsteadio.imgix.net%2Fprofiles%2Fdafd8eca-60ea-40bf-80a3-a4e2e869485a%2FprofileImage%2Ff83e85b0-87ed-4fbf-9a1f-d858ebe2d809.png%3Fauto%3Dformat%252Ccompress%26h%3D300%26lossless%3Dtrue%26w%3D300&w=1080&q=75">
                  </span>
                  <span class="side-nav-top-profile-icon-border"></span>
                </button>
              </div>
              <h2 class="side-nav-top-nickname">닉네임1</h2>
              <a class="side-nav-top-mypage" href="">
                <button class="side-nav-top-mypage-btn" type="button">
                  <div class="side-nav-top-mypage-btn-flex">
                    <div>내 프로필</div>
                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" height="16px" width="16px">
                      <path d="M11 7a1 1 0 0 0-1-1H4v14h14v-6a1 1 0 1 0-2 0v4H6V8h4a1 1 0 0 0 1-1Z"></path>
                      <path
                        d="M19.01 3.829H20v6.656a1 1 0 1 1-2 0V7.244l-5.293 5.293a1 1 0 0 1-1.414-1.415l5.293-5.292h-3.243a1 1 0 1 1 0-2H19.01Z">
                      </path>
                    </svg>
                  </div>
                </button>
              </a>
            </div>
          </div>
          <ul class="side-nav-bottom">
            <li class="side-nav-bottom-item">
              <a class="side-nav-bottom-item-a" href="">
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M15.4 4.4H8.8a4.4 4.4 0 0 0-4.4 4.4v6.6a4.4 4.4 0 0 0 4.4 4.4h6.6a4.4 4.4 0 0 0 4.4-4.4V8.8a4.4 4.4 0 0 0-4.4-4.4ZM8.8 2.8a6 6 0 0 0-6 6v6.6a6 6 0 0 0 6 6h6.6a6 6 0 0 0 6-6V8.8a6 6 0 0 0-6-6H8.8Z">
                  </path>
                  <path
                    d="M12.2 12.5a2.25 2.25 0 1 0 0-4.5 2.25 2.25 0 0 0 0 4.5ZM12.2 16.4c2.21 0 4-.672 4-1.5s-1.79-1.5-4-1.5-4 .672-4 1.5 1.79 1.5 4 1.5Z">
                  </path>
                </svg>
                <span>내 페이지</span>
              </a>
            </li>
            <li class="side-nav-bottom-item">
              <a class="side-nav-bottom-item-a" href="">
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M15.078 3.137H8.6a5.6 5.6 0 0 0-5.6 5.6v6.8a5.6 5.6 0 0 0 5.6 5.6h6.8a5.6 5.6 0 0 0 5.6-5.6V8.944l-1.6 1.6v4.993a4 4 0 0 1-4 4H8.6a4 4 0 0 1-4-4v-6.8a4 4 0 0 1 4-4h4.878l1.6-1.6Z">
                  </path>
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="m20.692 7.116.534-.534a2.567 2.567 0 1 0-3.63-3.63L9.41 11.138l-1.103 3.74a.8.8 0 0 0 .994.993l3.74-1.103 6.52-6.52.005.004 1.13-1.132-.004-.004Zm-2.262 0-6.233 6.233-1.94.572.572-1.94 6.233-6.233 1.368 1.368Zm1.131-1.132-1.367-1.367.533-.534a.967.967 0 0 1 1.368 1.368l-.534.533Z">
                  </path>
                </svg>
                <span>과외 목록</span>
              </a>
            </li>
            <li class="side-nav-bottom-item">
              <a class="side-nav-bottom-item-a" href="">
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M15.078 3.137H8.6a5.6 5.6 0 0 0-5.6 5.6v6.8a5.6 5.6 0 0 0 5.6 5.6h6.8a5.6 5.6 0 0 0 5.6-5.6V8.944l-1.6 1.6v4.993a4 4 0 0 1-4 4H8.6a4 4 0 0 1-4-4v-6.8a4 4 0 0 1 4-4h4.878l1.6-1.6Z">
                  </path>
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="m20.692 7.116.534-.534a2.567 2.567 0 1 0-3.63-3.63L9.41 11.138l-1.103 3.74a.8.8 0 0 0 .994.993l3.74-1.103 6.52-6.52.005.004 1.13-1.132-.004-.004Zm-2.262 0-6.233 6.233-1.94.572.572-1.94 6.233-6.233 1.368 1.368Zm1.131-1.132-1.367-1.367.533-.534a.967.967 0 0 1 1.368 1.368l-.534.533Z">
                  </path>
                </svg>
                <span>작성 목록</span>
              </a>
            </li>    
            <li class="side-nav-bottom-item">
              <a class="side-nav-bottom-item-a" href="">
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M15.078 3.137H8.6a5.6 5.6 0 0 0-5.6 5.6v6.8a5.6 5.6 0 0 0 5.6 5.6h6.8a5.6 5.6 0 0 0 5.6-5.6V8.944l-1.6 1.6v4.993a4 4 0 0 1-4 4H8.6a4 4 0 0 1-4-4v-6.8a4 4 0 0 1 4-4h4.878l1.6-1.6Z">
                  </path>
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="m20.692 7.116.534-.534a2.567 2.567 0 1 0-3.63-3.63L9.41 11.138l-1.103 3.74a.8.8 0 0 0 .994.993l3.74-1.103 6.52-6.52.005.004 1.13-1.132-.004-.004Zm-2.262 0-6.233 6.233-1.94.572.572-1.94 6.233-6.233 1.368 1.368Zm1.131-1.132-1.367-1.367.533-.534a.967.967 0 0 1 1.368 1.368l-.534.533Z">
                  </path>
                </svg>
                <span>쪽지 목록</span>
              </a>
            </li>
            <li class="side-nav-bottom-item">
              <a class="side-nav-bottom-item-a" href="">
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M15.3 4.3H8.7a4.4 4.4 0 0 0-4.4 4.4v6.6a4.4 4.4 0 0 0 4.4 4.4h6.6a4.4 4.4 0 0 0 4.4-4.4V8.7a4.4 4.4 0 0 0-4.4-4.4ZM8.7 2.7a6 6 0 0 0-6 6v6.6a6 6 0 0 0 6 6h6.6a6 6 0 0 0 6-6V8.7a6 6 0 0 0-6-6H8.7Z">
                  </path>
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M8.874 14.516c.129.434.543.734 1.014.734.474 0 .89-.303 1.016-.74l.724-2.501h.66l.724 2.501c.126.437.542.74 1.015.74.472 0 .886-.3 1.015-.734l.743-2.507h.6c.34 0 .615-.264.615-.59a.603.603 0 0 0-.615-.589h-.252l.274-.925c.135-.454-.221-.905-.714-.905a.737.737 0 0 0-.72.539l-.338 1.291h-1.409l-.3-1.113A.992.992 0 0 0 11.96 9a.99.99 0 0 0-.967.721l-.295 1.11H9.283l-.339-1.293A.738.738 0 0 0 8.224 9c-.494 0-.85.451-.715.906l.274.924h-.168a.603.603 0 0 0-.615.59c0 .325.276.589.615.589h.516l.743 2.507Zm.718-2.507h.793l-.368 1.388h-.06l-.365-1.388Zm4.32 1.365-.368-1.365h.783l-.356 1.365h-.06Z">
                  </path>
                </svg>
                <span>결제 내역</span>
              </a>
            </li>
            <li class="side-nav-bottom-item">
              <a class="side-nav-bottom-item-a-active" href="">
                <svg xmlns="http://www.w3.org/2000/svg" version="1.0" viewBox="0 0 52.000000 52.000000" style="
                          width: 19px !important;
                          height: 19px !important;
                          margin-left: 2px;
                          margin-right: 13px !important;
                        ">
                  <g transform="translate(0.000000,52.000000) scale(0.100000,-0.100000)">
                    <path
                      d="M160 499 c-210 -95 -212 -377 -5 -475 166 -79 364 50 365 236 0 182 -197 313 -360 239z m132 -86 c22 -20 23 -41 1 -65 -20 -22 -41 -23 -65 -1 -22 20 -23 41 -1 65 20 22 41 23 65 1z m-2 -208 l0 -95 -30 0 -30 0 0 95 0 95 30 0 30 0 0 -95z" />
                  </g>
                </svg>
                <span>1:1 문의 리스트</span>
                <!-- <svg viewBox="0 0 11 12" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M4.834 2.667A.667.667 0 0 0 4.167 2h-4v9.333H9.5v-4a.667.667 0 0 0-1.333 0V10H1.5V3.333h2.667a.667.667 0 0 0 .667-.666Z"
                      ></path>
                      <path
                        d="M10.173.552h.66V4.99a.667.667 0 0 1-1.333 0V2.828L5.972 6.357a.667.667 0 0 1-.943-.943l3.528-3.528H6.396a.667.667 0 0 1 0-1.334h3.777Z"
                      ></path>
                    </svg> -->
              </a>
            </li>
          </ul>
        </nav>
        <div class="main-content">
          <div class="main-content-grid">
            <div class="content-wrapper">
              <div class="content-container">
                <div class="top-wrapper">
                  <!-- 제목 및 답장 버튼 -->
                  <div class="title-wrapper">
                    <h3>1:1 문의 작성</h3>
                    <div style="display: flex">
                      <div style="width: 88px">
                        <button class="to-list" type="button">목록 보기</button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- 내용 -->
                <main style="margin-top: 48px">
                  <div class="write-wrapper">
                    <section class="content">
                      <div style="margin-bottom: 14px">
                        <div>
                          <label class="title-label" for="title">
                            <input id="title" class="title-input" placeholder="제목을 입력해주세요." type="text" />
                          </label>
                        </div>
                      </div>
                      <div>
                        <div style="margin-bottom: 48px">
                          <textarea id="image-tools"></textarea>
                        </div>
                      </div>
                    </section>
                    <section class="info-wrapper">
                      <div class="info">
                        <div class="sub-title">
                          <div style="display: flex; align-items: center">
                            <strong class="sub-title-text">접수 이메일</strong>
                          </div>
                        </div>
                        <div class="info-content">
                          <div class="tag-input-wrapper">
                            <div style="width: 100%; margin-top: 24px">
                              <div>
                                <label class="tag-label" for="email-input">
                                  <input placeholder="문의 접수 이메일을 입력하세요." id="email-input" type="email" />
                                </label>
                                <div class="tag-explain">
                                  <div class="tag-explain-text">
                                    이메일을 정확히 입력하세요.
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="sub-title">
                          <div style="display: flex; align-items: center">
                            <strong class="sub-title-text">파일 첨부</strong>
                          </div>
                          <label class="file-upload-label" for="file-upload">
                            <input style="display: none" type="file" id="file-upload" />
                            업로드
                          </label>
                        </div>
                        <div class="info-content">
                          <div class="file-wrapper">
                            <span class="file-text">첨부된 파일이 없습니다.</span>
                          </div>
                        </div>
                      </div>
                    </section>
                  </div>
                </main>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.tiny.cloud/1/oyftbbpg9czujh22qz99ti5pkpym01nfis0fadhi5mzxxhxv/tinymce/5/tinymce.min.js"
  referrerpolicy="origin"></script>

<script>
  tinymce.init({
    selector: 'textarea#image-tools',
    height: 474,
    plugins: [
      'advlist autolink lists link image charmap print preview anchor',
      'searchreplace visualblocks code fullscreen',
      'insertdatetime media table paste imagetools wordcount',
    ],
    toolbar:
      'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
    content_style:
      'body { font-family:Helvetica,Arial,sans-serif; font-size:16px; font-weight: 400; }',
    content_style: `.mce-content-body[data-mce-placeholder]:not(.mce-visualblocks)::before {
          font-weight: 400;
          font-size: 16px;
          line-height: 16px;
          color: #c0b9bb;
          fill: #c0b9bb;
        }
        `,
    placeholder: '내용을 입력해주세요.',
  });
</script>

</html>