{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>foreign-us 폴인어스</title>
    <link rel="shortcut icon" href="{% static 'image/logo/logo-color.png' %} " type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css" />
  <link rel="stylesheet" href="{% static 'css/mypage/mylesson-review.css' %} " />
</head>

<body>
  <div id="wrap">
    <div class="wrap-screen-flex">
      <header id="header">
        <div class="header-logo">
          <div class="header-logo-container">
            <a href="/">
              <img src="{% static 'image/logo/white.png' %} " alt="">
            </a>
            <div class="header-logo-line">|</div>
            <div class="header-logo-teacherStudio">
              <span>Helpers Studio</span>
            </div>
          </div>
        </div>
        <div class="header-profile">
          <div class="header-profile-pos">
            <button class="header-profile-btn">
              <span class="header-profile-btn-span">
                <img src="/upload/{{ member_profile_img }}" />
              </span>
            </button>
          </div>
        </div>
      </header>
      <div id="main">
        <nav class="side-nav">
          <div class="side-nav-top">
            <div class="side-nav-top-flex">
              <div class="side-nav-top-profile-icon">
                <button class="side-nav-top-profile-icon-btn" type="button">
                  <span class="side-nav-top-profile-icon-img">
                    <img src="/upload/{{ member_profile_img }}" />
                  </span>
                  <span class="side-nav-top-profile-icon-border"></span>
                </button>
              </div>
              <h2 class="side-nav-top-nickname">{{member_nickname}}</h2>
              <a class="side-nav-top-mypage" href="">
                <button class="side-nav-top-mypage-btn" type="button">
                  <div class="side-nav-top-mypage-btn-flex">
                    <div>내 프로필</div>
                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" height="16px" width="16px">
                      <path d="M11 7a1 1 0 0 0-1-1H4v14h14v-6a1 1 0 1 0-2 0v4H6V8h4a1 1 0 0 0 1-1Z"></path>
                      <path
                        d="M19.01 3.829H20v6.656a1 1 0 1 1-2 0V7.244l-5.293 5.293a1 1 0 0 1-1.414-1.415l5.293-5.292h-3.243a1 1 0 1 1 0-2H19.01Z">
                      </path>
                    </svg>
                  </div>
                </button>
              </a>
            </div>
          </div>
          <ul class="side-nav-bottom">
            <li class="side-nav-bottom-item">
              <a class="side-nav-bottom-item-a" href="{% url 'mypage:myprofile' %}">
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M15.4 4.4H8.8a4.4 4.4 0 0 0-4.4 4.4v6.6a4.4 4.4 0 0 0 4.4 4.4h6.6a4.4 4.4 0 0 0 4.4-4.4V8.8a4.4 4.4 0 0 0-4.4-4.4ZM8.8 2.8a6 6 0 0 0-6 6v6.6a6 6 0 0 0 6 6h6.6a6 6 0 0 0 6-6V8.8a6 6 0 0 0-6-6H8.8Z">
                  </path>
                  <path
                    d="M12.2 12.5a2.25 2.25 0 1 0 0-4.5 2.25 2.25 0 0 0 0 4.5ZM12.2 16.4c2.21 0 4-.672 4-1.5s-1.79-1.5-4-1.5-4 .672-4 1.5 1.79 1.5 4 1.5Z">
                  </path>
                </svg>
                <span>내 페이지</span>
              </a>
            </li>

            <li class="side-nav-bottom-item">
              <a class="side-nav-bottom-item-a" href="{% url 'mypage:mylesson_init' %}">
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M15.078 3.137H8.6a5.6 5.6 0 0 0-5.6 5.6v6.8a5.6 5.6 0 0 0 5.6 5.6h6.8a5.6 5.6 0 0 0 5.6-5.6V8.944l-1.6 1.6v4.993a4 4 0 0 1-4 4H8.6a4 4 0 0 1-4-4v-6.8a4 4 0 0 1 4-4h4.878l1.6-1.6Z">
                  </path>
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="m20.692 7.116.534-.534a2.567 2.567 0 1 0-3.63-3.63L9.41 11.138l-1.103 3.74a.8.8 0 0 0 .994.993l3.74-1.103 6.52-6.52.005.004 1.13-1.132-.004-.004Zm-2.262 0-6.233 6.233-1.94.572.572-1.94 6.233-6.233 1.368 1.368Zm1.131-1.132-1.367-1.367.533-.534a.967.967 0 0 1 1.368 1.368l-.534.533Z">
                  </path>
                </svg>
                <span>과외 목록</span>
              </a>
            </li>
            <li class="side-nav-bottom-item-active">
              <a class="side-nav-bottom-item-a-active" href="">
                <svg viewBox="0 0 24 25" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M21.38 2.768a1.726 1.726 0 0 0-2.441 0L17.807 3.9l2.442 2.441L21.38 5.21a1.727 1.727 0 0 0 0-2.441ZM19.141 7.449 16.7 5.007l-6.542 6.541-1.193 2.573c-.314.676.386 1.376 1.062 1.062L12.6 13.99l6.541-6.541Z">
                  </path>
                  <path
                    d="M16.015 3.233A5.662 5.662 0 0 0 15.4 3.2H8.6A5.6 5.6 0 0 0 3 8.8v6.8a5.6 5.6 0 0 0 5.6 5.6h6.8a5.6 5.6 0 0 0 5.6-5.6V8.8c0-.247-.016-.49-.047-.729l-7.397 7.075a.447.447 0 0 1-.127.086l-2.764 1.228a2.281 2.281 0 0 1-3.034-2.959l.915-2.205a4.805 4.805 0 0 1 1.02-1.536l6.449-6.527Z">
                  </path>
                </svg>
                <span>과외 후기</span>
              </a>
            </li>
            <li class="side-nav-bottom-item">
              <a class="side-nav-bottom-item-a" href="{% url 'mypage:myhelpers_init' %}">
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M15.078 3.137H8.6a5.6 5.6 0 0 0-5.6 5.6v6.8a5.6 5.6 0 0 0 5.6 5.6h6.8a5.6 5.6 0 0 0 5.6-5.6V8.944l-1.6 1.6v4.993a4 4 0 0 1-4 4H8.6a4 4 0 0 1-4-4v-6.8a4 4 0 0 1 4-4h4.878l1.6-1.6Z">
                  </path>
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="m20.692 7.116.534-.534a2.567 2.567 0 1 0-3.63-3.63L9.41 11.138l-1.103 3.74a.8.8 0 0 0 .994.993l3.74-1.103 6.52-6.52.005.004 1.13-1.132-.004-.004Zm-2.262 0-6.233 6.233-1.94.572.572-1.94 6.233-6.233 1.368 1.368Zm1.131-1.132-1.367-1.367.533-.534a.967.967 0 0 1 1.368 1.368l-.534.533Z">
                  </path>
                </svg>
                <span>헬퍼스 목록</span>
              </a>
            </li>
            <li class="side-nav-bottom-item">
              <a class="side-nav-bottom-item-a" href="{% url 'mypage:myevent_init' %}">
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M15.078 3.137H8.6a5.6 5.6 0 0 0-5.6 5.6v6.8a5.6 5.6 0 0 0 5.6 5.6h6.8a5.6 5.6 0 0 0 5.6-5.6V8.944l-1.6 1.6v4.993a4 4 0 0 1-4 4H8.6a4 4 0 0 1-4-4v-6.8a4 4 0 0 1 4-4h4.878l1.6-1.6Z">
                  </path>
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="m20.692 7.116.534-.534a2.567 2.567 0 1 0-3.63-3.63L9.41 11.138l-1.103 3.74a.8.8 0 0 0 .994.993l3.74-1.103 6.52-6.52.005.004 1.13-1.132-.004-.004Zm-2.262 0-6.233 6.233-1.94.572.572-1.94 6.233-6.233 1.368 1.368Zm1.131-1.132-1.367-1.367.533-.534a.967.967 0 0 1 1.368 1.368l-.534.533Z">
                  </path>
                </svg>
                <span>이벤트 목록</span>
              </a>
            </li>
            <li class="side-nav-bottom-item">
              <a class="side-nav-bottom-item-a" href="{% url 'mypage:message-list-init' %}">
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M15.078 3.137H8.6a5.6 5.6 0 0 0-5.6 5.6v6.8a5.6 5.6 0 0 0 5.6 5.6h6.8a5.6 5.6 0 0 0 5.6-5.6V8.944l-1.6 1.6v4.993a4 4 0 0 1-4 4H8.6a4 4 0 0 1-4-4v-6.8a4 4 0 0 1 4-4h4.878l1.6-1.6Z">
                  </path>
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="m20.692 7.116.534-.534a2.567 2.567 0 1 0-3.63-3.63L9.41 11.138l-1.103 3.74a.8.8 0 0 0 .994.993l3.74-1.103 6.52-6.52.005.004 1.13-1.132-.004-.004Zm-2.262 0-6.233 6.233-1.94.572.572-1.94 6.233-6.233 1.368 1.368Zm1.131-1.132-1.367-1.367.533-.534a.967.967 0 0 1 1.368 1.368l-.534.533Z">
                  </path>
                </svg>
                <span>쪽지 목록</span>
              </a>
            </li>
            <li class="side-nav-bottom-item">
              <a class="side-nav-bottom-item-a" href="{% url 'mypage:mypay' %}">
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M15.3 4.3H8.7a4.4 4.4 0 0 0-4.4 4.4v6.6a4.4 4.4 0 0 0 4.4 4.4h6.6a4.4 4.4 0 0 0 4.4-4.4V8.7a4.4 4.4 0 0 0-4.4-4.4ZM8.7 2.7a6 6 0 0 0-6 6v6.6a6 6 0 0 0 6 6h6.6a6 6 0 0 0 6-6V8.7a6 6 0 0 0-6-6H8.7Z">
                  </path>
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M8.874 14.516c.129.434.543.734 1.014.734.474 0 .89-.303 1.016-.74l.724-2.501h.66l.724 2.501c.126.437.542.74 1.015.74.472 0 .886-.3 1.015-.734l.743-2.507h.6c.34 0 .615-.264.615-.59a.603.603 0 0 0-.615-.589h-.252l.274-.925c.135-.454-.221-.905-.714-.905a.737.737 0 0 0-.72.539l-.338 1.291h-1.409l-.3-1.113A.992.992 0 0 0 11.96 9a.99.99 0 0 0-.967.721l-.295 1.11H9.283l-.339-1.293A.738.738 0 0 0 8.224 9c-.494 0-.85.451-.715.906l.274.924h-.168a.603.603 0 0 0-.615.59c0 .325.276.589.615.589h.516l.743 2.507Zm.718-2.507h.793l-.368 1.388h-.06l-.365-1.388Zm4.32 1.365-.368-1.365h.783l-.356 1.365h-.06Z">
                  </path>
                </svg>
                <span>결제 내역</span>
              </a>
            </li>
          </ul>
        </nav>

        <div class="main-content">
          <div class="main-content-grid">
            <div class="content-wrapper">
              <!-- 상단 메뉴 -->
              <div class="top-menu">
                <!-- 제목 및 작성 버튼 -->
                <header class="title-wrapper">
                  <h1 class="title-text">과외 후기</h1>
                  <div class="create-btn-size">
                    <button class="create-btn" type="button">작성</button>
                  </div>
                </header>
                <!-- 매칭, 후기 목록 탭 -->
                <div class="tab-wrapper">
                  <ul class="tab-ul">
                    <li class="tab-item">
                      <button onclick="location.href='{% url 'mypage:mylesson-review_status' status='Y' %}'" class="tab-item-btn active-tab" type="button">
                        <div style="display: flex">
                          <p class="tab-title">게시완료</p>
                          <div class="tab-number-wrapper">
                            <p class="tab-number">{{ saved_event }}</p>
                          </div>
                        </div>
                        <div class="tab-line"></div>
                      </button>
                    </li>
                    <li class="tab-item">
                      <button onclick="location.href='{% url 'mypage:mylesson-review_status' status='N' %}'" class="tab-item-btn" type="button">
                        <div style="display: flex">
                          <p class="tab-title">임시저장</p>
                          <div class="tab-number-wrapper">
                            <p class="tab-number">{{ temp_event }}</p>
                          </div>
                        </div>
                      </button>
                    </li>
                  </ul>
                </div>
                <!-- 글 개수, 검색창 -->
                <div class="total-and-search-wrapper">
                  <div class="total">
                    <span class="total-text">전체</span>
                    <span class="total-number">{{ current_count }}</span>
                  </div>
                  <div class="search">
                    <div class="search-wrapper">
                      <label class="search-label" for="search-input">
                        {% if keyword == None %}
                        <input id="search-input" type="search" placeholder="검색어 입력">
                        {% else %}
                        <input value="{{ keyword }}" id="search-input" type="search" placeholder="검색어 입력">
                        {% endif %}
                        <button class="search-button" type="button">
                          <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M15.83 16.561a7.8 7.8 0 1 1 1.233-1.312l3.465 3.465a.9.9 0 1 1-1.272 1.273L15.83 16.56Zm1.13-5.961a6.16 6.16 0 1 1-12.32 0 6.16 6.16 0 0 1 12.32 0Z">
                            </path>
                          </svg>
                        </button>
                      </label>
                    </div>
                  </div>
                </div>
              </div>

              <!-- 내용 리스트 -->
              <ul class="posts-wrapper">
                <!-- 작성 글 -->
                {% for review, like, review_file in combine_like %}
                <li class="post">
                  <button class="post-content-wrapper">
                    <div class="post-content">
                      <div>
                        <p class="post-title">{{ review.post_title }}</p>
                      </div>
                      <p class="post-content-text">{{ review.post_content }}</p>
                    </div>
                  </button>
                  <div class="file-wrapper">
{#                     {% if event_file.image %}#}
                       <span class="file">
                        <img src="{{ review_file.image }}" alt="Image">
                       </span>
{#                     {% endif %}#}
                  </div>
                  <!-- 작성 정보 -->
                  <div class="info-wrapper">
                    <div class="info">
                      <p class="info-content">{{ review.reviewed_member.member_nickname }}</p>
                      <p class="info-menu">닉네임</p>
                    </div>
                    <div class="info">
                      <p class="info-content">{{ like }}</p>
                      <p class="info-menu">좋아요</p>
                    </div>
                    <div class="info">
                      <p class="info-content">{{ review.post_view_count }}</p>
                      <p class="info-menu">조회수</p>
                    </div>
                    <div class="info-date">
                      <p class="info-content">{{ review.created_date|date:"Y-m-d" }}</p>
                      <p class="info-menu">게시일</p>
                    </div>
                  </div>

                  <!-- 작성 수정 삭제 -->
                  <div class="edit-wrapper">
                    <button class="update-button" type="button">
                      <svg viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                          d="m15.687 8.163.545-.506c1.024-.951 1.024-2.493 0-3.444-1.024-.95-2.684-.95-3.709 0l-8.362 7.765-1.127 3.547c-.183.577.395 1.113 1.016.943l3.82-1.046 6.661-6.186.005.004 1.155-1.073-.004-.004Zm-2.312 0-6.367 5.912-1.981.543.584-1.84 6.367-5.912 1.397 1.297Zm1.156-1.073-1.397-1.298.545-.506a1.042 1.042 0 0 1 1.397 0 .872.872 0 0 1 0 1.298l-.545.506Z">
                        </path>
                      </svg>
                    </button>
                    <button id="{{review.id }}" class="delete-button" type="button">
                      <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M10 15.6a.7.7 0 0 1-.7-.7v-3.6a.7.7 0 0 1 1.4 0v3.6a.7.7 0 0 1-.7.7ZM14 15.6a.7.7 0 0 1-.7-.7v-3.6a.7.7 0 1 1 1.4 0v3.6a.7.7 0 0 1-.7.7Z">
                        </path>
                        <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M9.6 3.8h4.6c.22 0 .4.178.4.4v1.4H9.2V4.2c0-.222.179-.4.4-.4Zm-2 .4a2 2 0 0 1 2-2h4.6a2 2 0 0 1 2 2v1.4h3.5a.8.8 0 0 1 0 1.6H19v10.4a4 4 0 0 1-4 4H9a4 4 0 0 1-4-4V7.2h-.7a.8.8 0 1 1 0-1.6h3.3V4.2Zm-1 3h10.8v10.4A2.4 2.4 0 0 1 15 20H9a2.4 2.4 0 0 1-2.4-2.4V7.2Z">
                        </path>
                      </svg>
                    </button>
                  </div>
                </li>
                <script>
                    for(var i = 0; i < {{ current_count }}; i++) {
                        document.getElementsByClassName('post-content-text').item(i).innerText =
                        document.getElementsByClassName('post-content-text').item(i).innerText.replace(/<[^>]*>?/g, '');
                    }
                </script>
                {% endfor %}
              </ul>

                <!-- 페이징 -->
            <div class="paging-wrapper">
              <ul  style="display: flex">
              <!-- 이전버튼 -->
              {% if startPage > 1 %}
                  <a href="{% url 'mypage:mylesson-review_status_save' status=status  keyword=keyword page=startPage|add:-1 %}" class="a-prev">
                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M15.58 3.27c.504.405.563 1.115.13 1.587L9.168 12l6.543 7.143a1.076 1.076 0 0 1-.13 1.586 1.26 1.26 0 0 1-1.695-.122L6 12l7.885-8.607a1.26 1.26 0 0 1 1.695-.122Z">
                      </path>
                    </svg>
                  </a>
              {% endif %}
              <!-- 페이지 번호 -->
              {% for i in "x"|rjust:5 %}
                  {% if forloop.counter0|add:startPage <= realEnd%}
                     <li>
                         <a href="{% url 'mypage:mylesson-review_status_save' status=status  keyword=keyword page=forloop.counter0|add:startPage %}" class="page">
                           {% if page ==  forloop.counter0|add:startPage %}
                               <button  class="page-active" type="button">
                                 <span class="page-number">{{ forloop.counter0|add:startPage}}</span>
                               </button>
                           {% else %}
                               <button class="page" type="button">
                                 <span class="page-number">{{ forloop.counter0|add:startPage}}</span>
                               </button>
                           {% endif %}
                         </a>
                     </li>
                  {% endif %}
              {% endfor %}
             <!-- 다음버튼 -->
              {% if endPage < realEnd %}
                  <a href="{% url 'mypage:mylesson-review_status_save' status=status  keyword=keyword page=endPage|add:1 %}" class="a-next">
                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M8.42 20.73a1.076 1.076 0 0 1-.13-1.587L14.832 12 8.289 4.857a1.076 1.076 0 0 1 .13-1.586 1.26 1.26 0 0 1 1.696.122L18 12l-7.885 8.607a1.26 1.26 0 0 1-1.695.122Z">
                      </path>
                    </svg>
                  </a>
                {% endif %}
                </ul>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 작성글 삭제 시 모달창 -->
    <div class="modal">
      <div class="modal-wrapper">
        <h4 class="modal-message">포스트 삭제</h4>
        <div class="modal-sub-message">해당 포스트를 삭제하시겠습니까?</div>

        <div class="modal-choice-wraper">
          <div style="flex: 1 1 0%">
            <button class="button-cancel" type="button">취소</button>
          </div>

          <div style="flex: 1 1 0%; margin: 0 0 0 16px">
            <button class="button-agree" type="button">확인</button>
          </div>
        </div>
      </div>
      <div class="modal-background"></div>
    </div>
  </div>
<script>
  const status_view = "{{ status }}"

</script>
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="{% static 'js/mypage/mylesson-review.js' %}"></script>
</body>

</html>