{% load static%}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>foreign-us 폴인어스</title>
    <link rel="shortcut icon" href="{% static 'image/logo/logo-color.png' %} " type="image/x-icon">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css"/>
    <link rel="stylesheet" href="{% static 'css/mypage/mypay.css' %} "/>
</head>

<body>
<div id="wrap">
    <div class="wrap-screen-flex">
        <header id="header">
            <div class="header-logo">
                <div class="header-logo-container">
                    <a href="/">
                        <img src="{% static 'image/logo/white.png' %} " alt="">
                    </a>
                    <div class="header-logo-line">|</div>
                    <div class="header-logo-teacherStudio">
                        <span>Helpers Studio</span>
                    </div>
                </div>
            </div>
            <div class="header-profile">
                <button class="notice_icon_wrapper" onclick="location.href='/mypage/message-list/'">
                     {% if request.session.unread_message_count >= 1 %}
                        <img class="notice_icon" src="{% static 'image/notification_alert_bell_notice_alarm_icon.png' %}" alt="">
                        <div class="notice_num" style="color: white">{{ request.session.unread_message_count }}</div>
                    {% endif %}
                </button>
                <div class="header-profile-pos">
                    <button class="header-profile-btn" type="button" onclick="location.href='{% url 'profile:profile' member_id=member.id %}'">
                            <span class="header-profile-btn-span">
                                <img src="/upload/{{ member_profile_img }}"/>
                            </span>
                    </button>
                </div>
            </div>
        </header>
        <div id="main">
            <nav class="side-nav">
                <div class="side-nav-top">
                    <div class="side-nav-top-flex">
                        <div class="side-nav-top-profile-icon">
                            <button class="side-nav-top-profile-icon-btn" type="button">
                                <span class="side-nav-top-profile-icon-img">
                                    <img src="/upload/{{ member_profile_img }}"/>
                                </span>
                                <span class="side-nav-top-profile-icon-border"></span>
                            </button>
                        </div>
                        <h2 class="side-nav-top-nickname">{{member_nickname}}</h2>
                        <a class="side-nav-top-mypage" href="/profile/{{ member.id }}">
                            <button class="side-nav-top-mypage-btn" type="button">
                                <div class="side-nav-top-mypage-btn-flex">
                                    <div>내 프로필</div>
                                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" height="16px"
                                         width="16px">
                                        <path d="M11 7a1 1 0 0 0-1-1H4v14h14v-6a1 1 0 1 0-2 0v4H6V8h4a1 1 0 0 0 1-1Z"></path>
                                        <path
                                                d="M19.01 3.829H20v6.656a1 1 0 1 1-2 0V7.244l-5.293 5.293a1 1 0 0 1-1.414-1.415l5.293-5.292h-3.243a1 1 0 1 1 0-2H19.01Z">
                                        </path>
                                    </svg>
                                </div>
                            </button>
                        </a>
                    </div>
                </div>
                <ul class="side-nav-bottom">
                    <li class="side-nav-bottom-item">
                        <a class="side-nav-bottom-item-a" href="{% url 'mypage:myprofile' %}">
                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M15.4 4.4H8.8a4.4 4.4 0 0 0-4.4 4.4v6.6a4.4 4.4 0 0 0 4.4 4.4h6.6a4.4 4.4 0 0 0 4.4-4.4V8.8a4.4 4.4 0 0 0-4.4-4.4ZM8.8 2.8a6 6 0 0 0-6 6v6.6a6 6 0 0 0 6 6h6.6a6 6 0 0 0 6-6V8.8a6 6 0 0 0-6-6H8.8Z">
                                </path>
                                <path
                                        d="M12.2 12.5a2.25 2.25 0 1 0 0-4.5 2.25 2.25 0 0 0 0 4.5ZM12.2 16.4c2.21 0 4-.672 4-1.5s-1.79-1.5-4-1.5-4 .672-4 1.5 1.79 1.5 4 1.5Z">
                                </path>
                            </svg>
                            <span>내 페이지</span>
                        </a>
                    </li>

                    <li class="side-nav-bottom-item">
                        <a class="side-nav-bottom-item-a" href="{% url 'mypage:mylesson_init' %}">
                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path
                                        d="M15.078 3.137H8.6a5.6 5.6 0 0 0-5.6 5.6v6.8a5.6 5.6 0 0 0 5.6 5.6h6.8a5.6 5.6 0 0 0 5.6-5.6V8.944l-1.6 1.6v4.993a4 4 0 0 1-4 4H8.6a4 4 0 0 1-4-4v-6.8a4 4 0 0 1 4-4h4.878l1.6-1.6Z">
                                </path>
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="m20.692 7.116.534-.534a2.567 2.567 0 1 0-3.63-3.63L9.41 11.138l-1.103 3.74a.8.8 0 0 0 .994.993l3.74-1.103 6.52-6.52.005.004 1.13-1.132-.004-.004Zm-2.262 0-6.233 6.233-1.94.572.572-1.94 6.233-6.233 1.368 1.368Zm1.131-1.132-1.367-1.367.533-.534a.967.967 0 0 1 1.368 1.368l-.534.533Z">
                                </path>
                            </svg>
                            <span>과외 목록</span>
                        </a>
                    </li>
                    <li class="side-nav-bottom-item">
                        <a class="side-nav-bottom-item-a" href="{% url 'mypage:mylesson-review_init' %}">
                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path
                                        d="M15.078 3.137H8.6a5.6 5.6 0 0 0-5.6 5.6v6.8a5.6 5.6 0 0 0 5.6 5.6h6.8a5.6 5.6 0 0 0 5.6-5.6V8.944l-1.6 1.6v4.993a4 4 0 0 1-4 4H8.6a4 4 0 0 1-4-4v-6.8a4 4 0 0 1 4-4h4.878l1.6-1.6Z">
                                </path>
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="m20.692 7.116.534-.534a2.567 2.567 0 1 0-3.63-3.63L9.41 11.138l-1.103 3.74a.8.8 0 0 0 .994.993l3.74-1.103 6.52-6.52.005.004 1.13-1.132-.004-.004Zm-2.262 0-6.233 6.233-1.94.572.572-1.94 6.233-6.233 1.368 1.368Zm1.131-1.132-1.367-1.367.533-.534a.967.967 0 0 1 1.368 1.368l-.534.533Z">
                                </path>
                            </svg>
                            <span>과외 후기</span>
                        </a>
                    </li>
                    <li class="side-nav-bottom-item">
                        <a class="side-nav-bottom-item-a" href="{% url 'mypage:myhelpers_init' %}">
                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path
                                        d="M15.078 3.137H8.6a5.6 5.6 0 0 0-5.6 5.6v6.8a5.6 5.6 0 0 0 5.6 5.6h6.8a5.6 5.6 0 0 0 5.6-5.6V8.944l-1.6 1.6v4.993a4 4 0 0 1-4 4H8.6a4 4 0 0 1-4-4v-6.8a4 4 0 0 1 4-4h4.878l1.6-1.6Z">
                                </path>
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="m20.692 7.116.534-.534a2.567 2.567 0 1 0-3.63-3.63L9.41 11.138l-1.103 3.74a.8.8 0 0 0 .994.993l3.74-1.103 6.52-6.52.005.004 1.13-1.132-.004-.004Zm-2.262 0-6.233 6.233-1.94.572.572-1.94 6.233-6.233 1.368 1.368Zm1.131-1.132-1.367-1.367.533-.534a.967.967 0 0 1 1.368 1.368l-.534.533Z">
                                </path>
                            </svg>
                            <span>헬퍼스 목록</span>
                        </a>
                    </li>
                    <li class="side-nav-bottom-item">
                        <a class="side-nav-bottom-item-a" href="{% url 'mypage:myevent_init'%}">
                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path
                                        d="M15.078 3.137H8.6a5.6 5.6 0 0 0-5.6 5.6v6.8a5.6 5.6 0 0 0 5.6 5.6h6.8a5.6 5.6 0 0 0 5.6-5.6V8.944l-1.6 1.6v4.993a4 4 0 0 1-4 4H8.6a4 4 0 0 1-4-4v-6.8a4 4 0 0 1 4-4h4.878l1.6-1.6Z">
                                </path>
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="m20.692 7.116.534-.534a2.567 2.567 0 1 0-3.63-3.63L9.41 11.138l-1.103 3.74a.8.8 0 0 0 .994.993l3.74-1.103 6.52-6.52.005.004 1.13-1.132-.004-.004Zm-2.262 0-6.233 6.233-1.94.572.572-1.94 6.233-6.233 1.368 1.368Zm1.131-1.132-1.367-1.367.533-.534a.967.967 0 0 1 1.368 1.368l-.534.533Z">
                                </path>
                            </svg>
                            <span>이벤트 목록</span>
                        </a>
                    </li>
                    <li class="side-nav-bottom-item">
                        <a class="side-nav-bottom-item-a" href="{% url 'mypage:message-list-init' %}">
                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path
                                        d="M15.078 3.137H8.6a5.6 5.6 0 0 0-5.6 5.6v6.8a5.6 5.6 0 0 0 5.6 5.6h6.8a5.6 5.6 0 0 0 5.6-5.6V8.944l-1.6 1.6v4.993a4 4 0 0 1-4 4H8.6a4 4 0 0 1-4-4v-6.8a4 4 0 0 1 4-4h4.878l1.6-1.6Z">
                                </path>
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="m20.692 7.116.534-.534a2.567 2.567 0 1 0-3.63-3.63L9.41 11.138l-1.103 3.74a.8.8 0 0 0 .994.993l3.74-1.103 6.52-6.52.005.004 1.13-1.132-.004-.004Zm-2.262 0-6.233 6.233-1.94.572.572-1.94 6.233-6.233 1.368 1.368Zm1.131-1.132-1.367-1.367.533-.534a.967.967 0 0 1 1.368 1.368l-.534.533Z">
                                </path>
                            </svg>
                            <span>쪽지 목록</span>
                        </a>
                    </li>
                    <li class="side-nav-bottom-item-active">
                        <a class="side-nav-bottom-item-a-active" href="">
                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10.385 12.208h-.793l.365 1.389h.06l.368-1.389ZM13.544 12.208l.367 1.366h.06l.356-1.366h-.783Z">
                                </path>
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M8.7 2.7a6 6 0 0 0-6 6v6.6a6 6 0 0 0 6 6h6.6a6 6 0 0 0 6-6V8.7a6 6 0 0 0-6-6H8.7Zm1.188 12.75c-.471 0-.885-.3-1.014-.734l-.743-2.508h-.516A.603.603 0 0 1 7 11.62c0-.325.276-.59.615-.59h.168l-.274-.924c-.135-.454.221-.905.715-.905.34 0 .637.222.72.538l.339 1.292h1.414l.295-1.11a.99.99 0 0 1 .967-.72c.456 0 .854.295.967.717l.3 1.113h1.41l.337-1.292a.737.737 0 0 1 .72-.538c.493 0 .849.45.714.905l-.274.925h.252c.34 0 .615.264.615.59 0 .325-.276.588-.615.588h-.6l-.743 2.508a1.048 1.048 0 0 1-1.014.734c-.474 0-.89-.303-1.016-.74l-.724-2.502h-.66l-.724 2.502c-.126.437-.542.74-1.016.74Z">
                                </path>
                            </svg>
                            <span>결제 내역</span>
                        </a>
                    </li>
                </ul>
            </nav>

            <div class="main-content">
                <div class="main-content-grid">
                    <div class="content-wrapper">
                        <!-- 상단 메뉴 -->
                        <div class="top-menu">
                            <!-- 제목 및 작성 버튼 -->
                            <header class="title-wrapper">
                                <h1 class="title-text">결제 내역</h1>
                            </header>
                            <!-- 결제 탭 -->
                            <div class="tab-wrapper">
                                <ul class="tab-ul">
                                    <li class="tab-item">
                                        <button onclick="location.href='{% url 'mypage:mypay_status' status='Y' %}'" class="tab-item-btn
                                        {% if status == "Y" %}
                                         active-tab
                                        {% endif %}
                                         "  type="button">
                                            <div style="display: flex">
                                               <p class="tab-title">결제</p>
                                               <div class="tab-number-wrapper">
                                                 <p class="tab-number">{{pay_total}}</p>
                                               </div>
                                            </div>
                                        {% if status == "Y" %}
                                        <div class="tab-line"></div>
                                        {% endif %}
                                        </button>
                                    </li>
                                    <li class="tab-item">
                                        <button onclick="location.href='{% url 'mypage:mypay_status' status='N' %}'" class="tab-item-btn
                                         {% if status == "N" %}
                                         active-tab
                                         {% endif %}
                                         " type="button">
                                            <div style="display: flex">
                                                <p class="tab-title">입금</p>
                                                <div class="tab-number-wrapper">
                                                    <p class="tab-number">{{ payed_total }}</p>
                                                </div>
                                            </div>
                                        {% if status == "N" %}
                                        <div class="tab-line"></div>
                                        {% endif %}
                                        </button>
                                    </li>
                                </ul>
                            </div>
                            <!-- 글 개수, 검색창 -->
                            <div class="total-and-search-wrapper">
                                <div class="total">
                                    <span class="total-text">전체</span>
                                    <span class="total-number">{{ current_count }}</span>
                                </div>
                                <div class="search">
                                    <div class="search-wrapper">
                                        <label class="search-label" for="search-input">
                                                {% if keyword == None %}
                                                <input id="search-input" type="search" placeholder="검색어 검색">
                                                {% else %}
                                                <input value="{{ keyword }}" id="search-input" type="search" placeholder="검색어 입력">
                                                {% endif %}
                                            <button class="search-button" type="button">
                                                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                                          d="M15.83 16.561a7.8 7.8 0 1 1 1.233-1.312l3.465 3.465a.9.9 0 1 1-1.272 1.273L15.83 16.56Zm1.13-5.961a6.16 6.16 0 1 1-12.32 0 6.16 6.16 0 0 1 12.32 0Z">
                                                    </path>
                                                </svg>
                                            </button>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- 내용 리스트 -->
                        <ul class="posts-wrapper">
                            {% for payment in payments %}
                            <!-- 작성 글 -->
                            <li class="post">
                                <button class="post-content-wrapper">
                                    <div class="post-content">
                                        <div>
                                            <p class="post-title">{{ payment.teacher.member_nickname }}</p>
                                        </div>
                                        <p class="post-content-text">헬퍼스</p>
                                    </div>
                                </button>
                                <!-- 작성 정보 -->
                                <div class="info-wrapper">

                                    <div class="info">
                                        {% if payment.lesson_type == "Y" %}
                                        <p class="info-content">대면</p>
                                        <p class="info-menu">결제 상품</p>
                                        {% else %}
                                        <p class="info-content">비대면</p>
                                        <p class="info-menu">결제 상품</p>
                                        {% endif %}
                                    </div>

                                    <div class="info">
                                        {% if payment.lesson_type == "Y" %}
                                        <p class="info-content">120,000원</p>
                                        <p class="info-menu">결제 금액</p>
                                        {% else %}
                                        <p class="info-content">50,000원</p>
                                        <p class="info-menu">결제 금액</p>
                                        {% endif %}
                                    </div>

                                    <div class="info-date">
                                        <p class="info-content">{{ payment.created_date|date:"Y-m-d" }}</p>
                                        <p class="info-menu">결제일</p>
                                    </div>

                                    <div class="info">
                                        {% if payment.pay_status == "Y" %}
                                        <p class="info-content">결제 완료</p>
                                        <p class="info-menu">결제 상태</p>
                                        {% else %}
                                        <p class="info-content">결제 취소</p>
                                        <p class="info-menu">결제 상태</p>
                                        {% endif %}
                                    </div>

                                </div>
                                <!-- 작성 수정 삭제 -->
                            </li>
                            {% endfor %}
                        </ul>

                         <!-- 페이징 -->
                        <div class="paging-wrapper">
                          <ul  style="display: flex">
                          <!-- 이전버튼 -->
                            {% if startPage > 1 %}
                              <a href="{% url 'mypage:mypay_status_save' status=status keyword=keyword page=startPage|add:-1 %}" class="a-prev">
                                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                  <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M15.58 3.27c.504.405.563 1.115.13 1.587L9.168 12l6.543 7.143a1.076 1.076 0 0 1-.13 1.586 1.26 1.26 0 0 1-1.695-.122L6 12l7.885-8.607a1.26 1.26 0 0 1 1.695-.122Z">
                                  </path>
                                </svg>
                              </a>
                          {% endif %}
                          <!-- 페이지 번호 -->
                          {% for i in "x"|rjust:5 %}
                              {% if forloop.counter0|add:startPage <= realEnd%}
                                 <li>
                                     <a href="{% url 'mypage:mypay_status_save' status=status keyword=keyword page=forloop.counter0|add:startPage %}" class="page">
                                       {% if page ==  forloop.counter0|add:startPage %}
                                           <button  class="page-active" type="button">
                                             <span class="page-number">{{ forloop.counter0|add:startPage}}</span>
                                           </button>
                                       {% else %}
                                           <button class="page" type="button">
                                             <span class="page-number">{{ forloop.counter0|add:startPage}}</span>
                                           </button>
                                       {% endif %}
                                     </a>
                                 </li>
                              {% endif %}
                          {% endfor %}
                         <!-- 다음버튼 -->
                          {% if endPage < realEnd %}
                              <a href="{% url 'mypage:mypay_status_save' status=status keyword=keyword page=endPage|add:1 %}" class="a-next">
                                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                  <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M8.42 20.73a1.076 1.076 0 0 1-.13-1.587L14.832 12 8.289 4.857a1.076 1.076 0 0 1 .13-1.586 1.26 1.26 0 0 1 1.696.122L18 12l-7.885 8.607a1.26 1.26 0 0 1-1.695.122Z">
                                  </path>
                                </svg>
                              </a>
                          {% endif %}
                          </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 작성글 삭제 시 모달창 -->
    <div class="modal">
        <div class="modal-wrapper">
            <h4 class="modal-message">포스트 삭제</h4>
            <div class="modal-sub-message">해당 포스트를 삭제하시겠습니까?</div>

            <div class="modal-choice-wraper">
                <div style="flex: 1 1 0%">
                    <button class="button-cancel" type="button">취소</button>
                </div>

                <div style="flex: 1 1 0%; margin: 0 0 0 16px">
                    <button class="button-agree" type="button">확인</button>
                </div>
            </div>
        </div>
        <div class="modal-background"></div>
    </div>
</div>
<script>
    const status_view = "{{ status }}"
</script>
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="{% static 'js/mypage/mypay.js' %} "></script>
</body>

</html>