{% load static %}

<!DOCTYPE html>
<html id="html" lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>foreing-us 폴인어스</title>
  <link rel="shortcut icon" href="{% static 'image/logo/logo-color.png' %} " type="image/x-icon">
  <link rel="stylesheet" type="text/css"
    href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css" />
  <link rel="stylesheet" href="{% static 'css/mypage/myprofile.css' %} " />
</head>
<body>
  <div id="wrap">
    <div class="wrap-screen-flex">
      <header id="header">
        <div class="header-logo">
          <div class="header-logo-container">
            <a href="/">
              <img style="margin-bottom: 0 !important;" src="{% static 'image/logo/white.png' %} " alt="">
            </a>
            <div class="header-logo-line">|</div>
            <div class="header-logo-teacherStudio">
              <span>Helpers Studio</span>
            </div>
          </div>
        </div>
        <div class="header-profile">
          <div class="notice_icon_wrapper">
             <img class="notice_icon" src="{% static 'image/notification_alert_bell_notice_alarm_icon.png' %}" alt="">
             <div class="notice_num" style="color: white">{{ request.session.unread_message_count }}</div>
          </div>
          <div class="header-profile-pos">
            <button class="header-profile-btn" type="button" onclick="location.href='{% url 'profile:profile' member_id=member.id %}'">
              <span class="header-profile-btn-span">
                <img src="/upload/{{ member_profile_img }}">
              </span>
            </button>
          </div>
        </div>
      </header>
      <div id="main">
        <nav class="side-nav">
          <div class="side-nav-top">
            <div class="side-nav-top-flex">
              <div class="side-nav-top-profile-icon">
                <button class="side-nav-top-profile-icon-btn" type="button">
                  <span class="side-nav-top-profile-icon-img">
                    <img src="/upload/{{ member_profile_img }}">
                  </span>
                  <span class="side-nav-top-profile-icon-border"></span>
                </button>
              </div>
              <h2 class="side-nav-top-nickname">{{member_nickname}}</h2>
              <a class="side-nav-top-mypage" href="/profile/{{ member.id }}">
                <button class="side-nav-top-mypage-btn" type="button">
                  <div class="side-nav-top-mypage-btn-flex">
                    <div>내 프로필</div>
                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" height="16px" width="16px">
                      <path d="M11 7a1 1 0 0 0-1-1H4v14h14v-6a1 1 0 1 0-2 0v4H6V8h4a1 1 0 0 0 1-1Z"></path>
                      <path
                        d="M19.01 3.829H20v6.656a1 1 0 1 1-2 0V7.244l-5.293 5.293a1 1 0 0 1-1.414-1.415l5.293-5.292h-3.243a1 1 0 1 1 0-2H19.01Z">
                      </path>
                    </svg>
                  </div>
                </button>
              </a>
            </div>
          </div>
          <ul class="side-nav-bottom">
            <li class="side-nav-bottom-item-active">
              <a class="side-nav-bottom-item-a-active" href="">
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M8.8 2.8a6 6 0 0 0-6 6v6.6a6 6 0 0 0 6 6h6.6a6 6 0 0 0 6-6V8.8a6 6 0 0 0-6-6H8.8Zm5.65 7.45a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Zm1.75 4.65c0 .828-1.79 1.5-4 1.5-2.209 0-4-.672-4-1.5s1.791-1.5 4-1.5c2.21 0 4 .672 4 1.5Z">
                  </path>
                </svg>
                <span>내 페이지</span>
              </a>
            </li>

            <li class="side-nav-bottom-item">
              <a class="side-nav-bottom-item-a" href="{% url 'mypage:mylesson_init' %}">
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M15.078 3.137H8.6a5.6 5.6 0 0 0-5.6 5.6v6.8a5.6 5.6 0 0 0 5.6 5.6h6.8a5.6 5.6 0 0 0 5.6-5.6V8.944l-1.6 1.6v4.993a4 4 0 0 1-4 4H8.6a4 4 0 0 1-4-4v-6.8a4 4 0 0 1 4-4h4.878l1.6-1.6Z">
                  </path>
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="m20.692 7.116.534-.534a2.567 2.567 0 1 0-3.63-3.63L9.41 11.138l-1.103 3.74a.8.8 0 0 0 .994.993l3.74-1.103 6.52-6.52.005.004 1.13-1.132-.004-.004Zm-2.262 0-6.233 6.233-1.94.572.572-1.94 6.233-6.233 1.368 1.368Zm1.131-1.132-1.367-1.367.533-.534a.967.967 0 0 1 1.368 1.368l-.534.533Z">
                  </path>
                </svg>
                <span>과외 목록</span>
              </a>
            </li>
            <li class="side-nav-bottom-item">
              <a class="side-nav-bottom-item-a" href="{% url 'mypage:mylesson-review_init' %}">
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M15.078 3.137H8.6a5.6 5.6 0 0 0-5.6 5.6v6.8a5.6 5.6 0 0 0 5.6 5.6h6.8a5.6 5.6 0 0 0 5.6-5.6V8.944l-1.6 1.6v4.993a4 4 0 0 1-4 4H8.6a4 4 0 0 1-4-4v-6.8a4 4 0 0 1 4-4h4.878l1.6-1.6Z">
                  </path>
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="m20.692 7.116.534-.534a2.567 2.567 0 1 0-3.63-3.63L9.41 11.138l-1.103 3.74a.8.8 0 0 0 .994.993l3.74-1.103 6.52-6.52.005.004 1.13-1.132-.004-.004Zm-2.262 0-6.233 6.233-1.94.572.572-1.94 6.233-6.233 1.368 1.368Zm1.131-1.132-1.367-1.367.533-.534a.967.967 0 0 1 1.368 1.368l-.534.533Z">
                  </path>
                </svg>
                <span>과외 후기</span>
              </a>
            </li>
            <li class="side-nav-bottom-item">
              <a class="side-nav-bottom-item-a" href="{% url 'mypage:myhelpers_init' %}">
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M15.078 3.137H8.6a5.6 5.6 0 0 0-5.6 5.6v6.8a5.6 5.6 0 0 0 5.6 5.6h6.8a5.6 5.6 0 0 0 5.6-5.6V8.944l-1.6 1.6v4.993a4 4 0 0 1-4 4H8.6a4 4 0 0 1-4-4v-6.8a4 4 0 0 1 4-4h4.878l1.6-1.6Z">
                  </path>
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="m20.692 7.116.534-.534a2.567 2.567 0 1 0-3.63-3.63L9.41 11.138l-1.103 3.74a.8.8 0 0 0 .994.993l3.74-1.103 6.52-6.52.005.004 1.13-1.132-.004-.004Zm-2.262 0-6.233 6.233-1.94.572.572-1.94 6.233-6.233 1.368 1.368Zm1.131-1.132-1.367-1.367.533-.534a.967.967 0 0 1 1.368 1.368l-.534.533Z">
                  </path>
                </svg>
                <span>헬퍼스 목록</span>
              </a>
            </li>
            <li class="side-nav-bottom-item">
              <a class="side-nav-bottom-item-a" href="{% url 'mypage:myevent_init' %}">
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M15.078 3.137H8.6a5.6 5.6 0 0 0-5.6 5.6v6.8a5.6 5.6 0 0 0 5.6 5.6h6.8a5.6 5.6 0 0 0 5.6-5.6V8.944l-1.6 1.6v4.993a4 4 0 0 1-4 4H8.6a4 4 0 0 1-4-4v-6.8a4 4 0 0 1 4-4h4.878l1.6-1.6Z">
                  </path>
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="m20.692 7.116.534-.534a2.567 2.567 0 1 0-3.63-3.63L9.41 11.138l-1.103 3.74a.8.8 0 0 0 .994.993l3.74-1.103 6.52-6.52.005.004 1.13-1.132-.004-.004Zm-2.262 0-6.233 6.233-1.94.572.572-1.94 6.233-6.233 1.368 1.368Zm1.131-1.132-1.367-1.367.533-.534a.967.967 0 0 1 1.368 1.368l-.534.533Z">
                  </path>
                </svg>
                <span>이벤트 목록</span>
              </a>
            </li>
            <li class="side-nav-bottom-item">
              <a class="side-nav-bottom-item-a" href="{% url 'mypage:message-list-init'%}">
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M15.078 3.137H8.6a5.6 5.6 0 0 0-5.6 5.6v6.8a5.6 5.6 0 0 0 5.6 5.6h6.8a5.6 5.6 0 0 0 5.6-5.6V8.944l-1.6 1.6v4.993a4 4 0 0 1-4 4H8.6a4 4 0 0 1-4-4v-6.8a4 4 0 0 1 4-4h4.878l1.6-1.6Z">
                  </path>
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="m20.692 7.116.534-.534a2.567 2.567 0 1 0-3.63-3.63L9.41 11.138l-1.103 3.74a.8.8 0 0 0 .994.993l3.74-1.103 6.52-6.52.005.004 1.13-1.132-.004-.004Zm-2.262 0-6.233 6.233-1.94.572.572-1.94 6.233-6.233 1.368 1.368Zm1.131-1.132-1.367-1.367.533-.534a.967.967 0 0 1 1.368 1.368l-.534.533Z">
                  </path>
                </svg>
                <span>쪽지 목록</span>
              </a>
            </li>
            <li class="side-nav-bottom-item">
              <a class="side-nav-bottom-item-a" href="{% url 'mypage:mypay' %}">
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M15.3 4.3H8.7a4.4 4.4 0 0 0-4.4 4.4v6.6a4.4 4.4 0 0 0 4.4 4.4h6.6a4.4 4.4 0 0 0 4.4-4.4V8.7a4.4 4.4 0 0 0-4.4-4.4ZM8.7 2.7a6 6 0 0 0-6 6v6.6a6 6 0 0 0 6 6h6.6a6 6 0 0 0 6-6V8.7a6 6 0 0 0-6-6H8.7Z">
                  </path>
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M8.874 14.516c.129.434.543.734 1.014.734.474 0 .89-.303 1.016-.74l.724-2.501h.66l.724 2.501c.126.437.542.74 1.015.74.472 0 .886-.3 1.015-.734l.743-2.507h.6c.34 0 .615-.264.615-.59a.603.603 0 0 0-.615-.589h-.252l.274-.925c.135-.454-.221-.905-.714-.905a.737.737 0 0 0-.72.539l-.338 1.291h-1.409l-.3-1.113A.992.992 0 0 0 11.96 9a.99.99 0 0 0-.967.721l-.295 1.11H9.283l-.339-1.293A.738.738 0 0 0 8.224 9c-.494 0-.85.451-.715.906l.274.924h-.168a.603.603 0 0 0-.615.59c0 .325.276.589.615.589h.516l.743 2.507Zm.718-2.507h.793l-.368 1.388h-.06l-.365-1.388Zm4.32 1.365-.368-1.365h.783l-.356 1.365h-.06Z">
                  </path>
                </svg>
                <span>결제 내역</span>
              </a>
            </li>
          </ul>
        </nav>
        <div class="mypage">
          <form action="{% url 'mypage:myprofile' %}" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="mypage-grid">
                <div class="mypage-grid-title">
                  <div class="mypage-grid-title-flex">
                    <h3>내 페이지</h3>
                    <div class="mypage-grid-title-update">
                      <button type="submit" class="mypage-grid-title-update-btn">수정</button>
                    </div>
                  </div>
                </div>
                <div class="mypage-grid-img-text-first">
                  <div>
                    <div class="mypage-grid-img-text-item-flex">
                      <strong>프로필 사진</strong>
                    </div>
                    <span class="mypage-grid-img-text-span">크리에이터를 대표하는 프로필 사진을 등록 해주세요.</span>
                  </div>
                </div>
                <div class="mypage-grid-imgicon">
                  <div class="mypage-grid-imgicon-flex">
                    <div class="mypage-grid-imgicon-icon">
                      <span class="Thumbnail">
                        {% if member_profile_img %}
                            <img class="profile-img" src="/upload/{{ member_profile_img }}" />
                        {% else %}
                            <img class="profile-img" src="https://steadio.co/_next/image?url=https%3A%2F%2Fsteadio.imgix.net%2Favatar_default.png%3Fauto%3Dformat%252Ccompress%26lossless%3Dtrue%26w%3D300%26h%3D300&w=2048&q=100" />
                        {% endif %}
                      </span>
                    </div>
                    <div class="mypage-grid-imgicon-text">
                      <div style="margin-bottom: 14px">
                        <button class="mypage-grid-img-text-btn" type="button">
                          이미지 업로드
                          <input multiple name="file1" class="mypage-grid-img-text-input" type="file" accept="image/*" onchange="setprofile(event)" />
                        </button>
                      </div>
                      <p class="mypage-grid-imgicon-explanation">
                        <span>파일 형식은 jpg 또는 png로,</span>
                        <br />
                        <span>사이즈는 가로 200px, 세로 200px 이상으로
                          올려주세요.</span>
                      </p>
                    </div>
                  </div>
                </div>
                <hr style="
                      width: 100%;
                      border-top-width: 1px;
                      border-color: #f3f3f4;
                      grid-column: 1/-1;
                    " />
                <div class="mypage-grid-img-text">
                  <div>
                    <div class="mypage-grid-img-text-item-flex">
                      <strong>커버 사진</strong>
                    </div>
                    <span class="mypage-grid-img-text-span">페이지의 커버 사진을 등록해주세요.</span>
                  </div>
                </div>
                <div class="mypage-grid-cover">
                  <div class="mypage-grid-cover-container">
                    <div class="mypage-grid-cover-item">
                    {% if member_background_img %}
                        <img class="back-pic" src="/upload/{{ member_background_img }}" style="object-fit: contain; width: 100%; height: 100%;"/>
                    {% else %}
                        <img class="back-pic"  style="object-fit: contain; width: 100%; height: 100%; display: none">
                        <svg viewBox="0 0 49 49" fill="none" xmlns="http://www.w3.org/2000/svg" class="cover-pic"><path  d="M27.782 19.785c1.154-2.172 4.29-2.108 5.354.11l6.68 13.917c1.275 2.655-.66 5.731-3.606 5.731H9.882c-1.506 0-2.472-1.6-1.77-2.932l4.998-9.486a3 3 0 0 1 4.765-.733l4.192 4.151 5.715-10.758ZM19.067 15.543a4 4 0 1 1-8 0 4 4 0 0 1 8 0Z" fill="#C2B8FF"></path></svg>
                    {% endif %}
                    </div>
                    <div style="margin-bottom: 8px">
                      <button class="mypage-grid-img-text-btn" type="button">
                        이미지 업로드
                        <input multiple name="file2" class="mypage-grid-img-text-input" type="file" accept="image/*" onchange="setCover()"/>
                      </button>
                    </div>
                    <p>
                      <span>파일 형식은 jpg 또는 png로,</span>
                      <br />
                      <span>사이즈는 가로 800px, 세로 296px로 올려주세요.</span>
                    </p>
                  </div>
                </div>
                <hr style="
                      width: 100%;
                      border-top-width: 1px;
                      border-color: #f3f3f4;
                      grid-column: 1/-1;
                    " />
                <div class="mypage-grid-img-text">
                  <div>
                    <div class="mypage-grid-img-text-item-flex">
                      <strong>닉네임</strong>
                    </div>
                    <span class="mypage-grid-img-text-span">닉네임을 입력해주세요.</span>
                  </div>
                </div>
                <div class="mypage-grid-introduce">
                  <div>
                    <label class="mypage-grid-introduce-label">
                      <input name="member_nickname" type="text" value="{{ member_nickname }}" placeholder="닉네임을 입력해주세요." />
                    </label>
                    <div class="mypage-grid-introduce-count">
                    </div>
                  </div>
                </div>
                <hr style="
                      width: 100%;
                      border-top-width: 1px;
                      border-color: #f3f3f4;
                      grid-column: 1/-1;
                    " />
                <div class="mypage-grid-img-text">
                  <div>
                    <div class="mypage-grid-img-text-item-flex">
                      <strong>주소 입력</strong>
                    </div>
                    <span class="mypage-grid-img-text-span">호스팅 주소를 입력해주세요. (선택)</span>
                  </div>
                </div>
                <div class="mypage-grid-introduce">
                  <div>
                    <label class="mypage-grid-introduce-label">
                      <input name="member_address" type="text" value="{{ member_address }}" placeholder="주소를 입력해주세요." />
                    </label>
                    <div class="mypage-grid-introduce-count">
                    </div>
                  </div>
                </div>

                <hr style="
                      width: 100%;
                      border-top-width: 1px;
                      border-color: #f3f3f4;
                      grid-column: 1/-1;
                    " />
                <div class="mypage-grid-img-text">
                  <div>
                    <div class="mypage-grid-img-text-item-flex">
                      <strong>한 줄 소개</strong>
                      <svg viewBox="0 0 8 8" xmlns="http://www.w3.org/2000/svg" style="
                            width: 8px;
                            height: 8px;
                            color: #de2c2c;
                            fill: #de2c2c;
                          ">
                        <circle cx="4" cy="4" r="4"></circle>
                      </svg>
                    </div>
                    <span class="mypage-grid-img-text-span">창작 분야 등의 간략한 소개글을 입력해주세요.</span>
                  </div>
                </div>
                <div class="mypage-grid-introduce">
                  <div>
                    <label class="mypage-grid-introduce-label">
                      <input name="member_intro" type="text" value="{{ member_intro }}" placeholder="한 줄 소개를 입력해주세요." />
                    </label>
                    <div class="mypage-grid-introduce-count">
                    </div>
                  </div>
                </div>
                <hr style="
                      width: 100%;
                      border-top-width: 1px;
                      border-color: #f3f3f4;
                      grid-column: 1/-1;
                    " />
                <div class="mypage-grid-img-text">
                  <div>
                    <div class="mypage-grid-img-text-item-flex">
                      <strong>과외 선생님 소개</strong>
                      <svg viewBox="0 0 8 8" xmlns="http://www.w3.org/2000/svg" style="
                            width: 8px;
                            height: 8px;
                            color: #de2c2c;
                            fill: #de2c2c;
                          ">
                        <circle cx="4" cy="4" r="4"></circle>
                      </svg>
                    </div>
                    <span class="mypage-grid-img-text-span">어떤 창작 활동을 하시는지 상세한 소개글을 입력해주세요.
                      매력적인 소개글을 작성하여 멤버십 가입을 유도해보세요.</span>
                  </div>
                </div>

                <div class="mypage-grid-details">
                    <textarea name="member_intro_detail" class="mypage-grid-details-textarea"  placeholder="상세 소개글을 입력해주세요.">{{ member_intro_detail }}</textarea>
                </div>

                <hr style="
                      width: 100%;
                      border-top-width: 1px;
                      border-color: #f3f3f4;
                      grid-column: 1/-1;
                    " />
                <div class="mypage-grid-img-text">
                  <div>
                    <div class="mypage-grid-img-text-item-flex">
                      <strong>SNS 계정</strong>
                    </div>
                    <span class="mypage-grid-img-text-span">기존의 내 팔로워들이 공식 페이지임을 확인할 수 있도록 SNS
                      계정 주소를 입력해주세요.</span>
                  </div>
                </div>
                <div class="mypage-grid-sns">
                  <div class="mypage-grid-sns-items">
                    <div>
                      <p>Instagram</p>
                      <label class="mypage-grid-introduce-label">
                        <input type="text" value="{{ member_sns_insta}}" placeholder="URL 입력..." name="insta"/>
                      </label>
                    </div>
                    <div>
                      <p>Twitter</p>
                      <label class="mypage-grid-introduce-label">
                        <input type="text" value="{{ member_sns_twitter }}" placeholder="URL 입력..." name="twitter"/>
                      </label>
                    </div>
                    <div>
                      <p>Youtube</p>
                      <label class="mypage-grid-introduce-label" >
                        <input type="text" value="{{ member_sns_youtube}}" placeholder="URL 입력..." name="youtube"/>
                      </label>
                    </div>
                    <div>
                      <p>Facebook</p>
                      <label class="mypage-grid-introduce-label" >
                        <input type="text" value="{{ member_sns_facebook }}" placeholder="URL 입력... " name="facebook"/>
                      </label>
                    </div>
                  </div>
                </div>
                </div>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="{% static 'js/mypage/myprofile.js' %} "></script>
</body>

</html>