.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix
S
# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media

.idea/
*.idea