{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" type="text/css"
    href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css" />
  <link rel="stylesheet" href="{% static 'css/notice/list.css' %}"/>
</head>
<body>
  <div id="wrap">
    {% include "header/header.html" %}
    <div id="main">
      <section id="post-wrapper" style="margin: 0 16px;">
{#        <div>#}
{#          <div class="recommend-one-post">#}
{#            <button class="recommend-one-post-btn">#}
{#              <div class="recommend-one-post-btn-img">#}
{#                <span class="recommend-one-post-btn-img-span">#}
{#                  <span></span>#}
{#                  <img src="https://steadio.co/_next/image?url=https%3A%2F%2Fsteadio.imgix.net%2Fsub_banners%2F0731_%25EC%2582%25AC%25EB%259D%25BC%25EC%259E%2588%25EB%2584%25A4.png%3Fauto%3Dformat%252Ccompress%26h%3D840%26lossless%3Dtrue%26w%3D840&w=1920&q=75">#}
{#                </span>#}
{#              </div>#}
{#              <section class="recommend-one-post-btn-content">#}
{#                <div>#}
{#                  <strong class="recommend-one-post-btn-content-strong">추천 포스트</strong>#}
{#                  <h2 class="recommend-one-post-btn-content-h2">사라있네 작가팀의 연애규칙</h2>#}
{#                </div>#}
{#                <div style="width: 40px; height: 2px; background-color: #333334;"></div>#}
{#                <p class="recommend-one-post-btn-content-p">"우리 연애를 합시다. 가능하면 많이!" 꼭 로맨스 장르를 쓰지 않더라도 작가에게 만남과 이별은 호재라고 합니다. '사랑'이란 감정에는 세상 모든 감정들이 포함되어 있기 때문이죠. 8월 무한 작심삼일 1기 멤버십으로 감정의 마스터가 될 기회!</p>#}
{#              </section>#}
{#            </button>#}
{#          </div>#}
{#        </div>#}
      </section>
    </div>
    {% include "footer/footer.html" %}
  </div>
</body>
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="{% static 'js/notice/list.js' %}"></script>
</html>