<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>폴인어스 foreign-us</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css"
    />
    <link rel="stylesheet" href="../../../static/css/main/main.css" />
  </head>
  <body>
    <div id="wrap">
      <section id="banner"></section>
      <div id="main"></div>
    </div>
  </body>
</html>
