{% load static %}
<!DOCTYPE html>
<html lang="en" >

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 페이지- 문의 게시판 작성</title>
    <link rel="stylesheet" href="{% static 'css/admin/inquiry/admin_inquiry_detail_answer.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/admin/inquiry/admin_inquiry_detail.css' %}"/>
    <link rel="shortcut icon" href="{% static 'image/logo/logo-color.png'%}" type="image/x-icon">
</head>

<body>
    <div>
        <div class="info-title-box info-title-box-flex">
            <div class="logo-box-layout">
                <div class="logo-box">
                  <img src="{% static 'image/logo/white.png' %}">
                </div>
                <div class="logo-title">
                    <span>Jar</span>
                </div>
            </div>
            <div>
                <div class="select-name">
                    <span>1:1 문의 게시판 관리</span>
                </div>
            </div>
        </div>
        <div class="wrap">

            <!-- 사이드 바 -->
           {% include "admin/side_bar.html" %}

            <div class="container">
                <div class="container-margin">
                    <!-- 헤더 -->
                    <div class="prev-button-layout">
                        <div>
                            <a href="{% url 'admin:board-inquiry-list-page' page=page keyword=keyword %}">
                                <img src="{% static 'image/admin/prev_icon.png' %}" class="prev-icon">
                                <span class="prev-title">리스트로 돌아가기</span>
                            </a>
                        </div>
                    </div>

                    <!-- 내용 섹션 -->
                    <section class="board-info-box-layout">
                        <div class="board-info-box">
                            <div class="board-info-title-box">
                                <span>📋 1:1 문의 상세보기</span>
                            </div>
                            <hr>
                            <div class="info-table">
                                <div class="board_title">
                                    <span class="span-bold">제목 :</span>
                                    <!-- 제목  -->
                                    <span>{{ post.message_title }}</span>
                                </div>
                                <div class="board_info board_writer">
                                    <span class="span-bold">작성자 :</span>
                                    <!-- 작성자 명  -->
                                    <span>{{ post.send_member.member_nickname }}</span>
                                </div>
                                <!-- <div class="info-member">
									<span class="span-bold">좋아요 :</span>
									<span>3</span>
								</div> -->
                                <div class="board_info board_register_date">
                                    <span class="span-bold">작성 날짜 :</span>
                                    <!-- 작성 날짜  -->
                                    <span>{{ post.created_date|date:"Y-m-d H:i" }}</span>
                                </div>
                                <hr>
                                <div class="board_content">
                                </div>
                                <input type="hidden" value="{{ post.message_content }}" class="post-content-value">
                                <section style="margin: 0 auto"  class="img_wrapper_box">
                                    <div class="img_ul_wrapper">
                                        <ul class="img_ul">
                                            {% for post_file in post_files %}
                                                <img style="display:block; margin: 0 auto" width="400px" src="/upload/{{ post_file.image }}">
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </section>
{#                                <hr>#}
{#                                <div class="answer_button_wrapper modify_button_wrapper" style="display: flex; justify-content: right;">#}
{#                                    <button><a href="{% url 'admin:board-inquiry-write' page=page post_id=post.id %}">답변하기</a></button>#}
{#                                </div>#}
                            </div>
                        </div>
                    </section>
                    <section class="board-info-box-layout">
                        <div class="board-info-box">
                            <div class="board-info-title-box">
                                <span>📨 문의 답변하기</span>
                            </div>
                            <hr>
                            <div class="info-table">
                                <form action="{% url 'admin:board-inquiry-write' page=page post_id=post.id %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="boardId" value="">
                                    <!-- <input type="hidden" name="page" value=""> -->
                                    <div>
                                        <input type="text" class="board-title" name="post_title"
                                            placeholder="제목을 입력해주세요." autocomplete="off" value="">
                                    </div>
                                    <hr>
                                    <div>
                                        <textarea class="board-content" name="post_content"
                                            placeholder="내용을 입력해주세요."></textarea>
                                    </div>
                                    <hr>
                                    <div class="answer_button_wrapper modify_button_wrapper" style="display: flex; justify-content: right;">
                                        <button>답변 등록</button>
                                    </div>
{#                                    <div class="edit-button">#}
{#                                        <button class="btn_done">등록</button>#}
{#                                    </div>#}
                                </form>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script>
      document.querySelector(".board_content").innerHTML = $('.post-content-value').val();
</script>
<script src="{%  static 'js/admin/sidemenu.js'%}"></script>

</html>