{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 페이지- 문의 게시판 목록</title>
    <link rel="stylesheet" href="{% static 'css/admin/inquiry/admin_inquiry_list.css' %}"/>
    <link rel="shortcut icon" href="{% static 'image/logo/logo-color.png'%}" type="image/x-icon">
</head>

<body>
    <div>
        <div class="info-title-box info-title-box-flex">
            <div class="logo-box-layout">
                <div class="logo-box">
                    <a href="/"><img src="{%  static 'image/logo/white.png' %}"></a>
                </div>
                <div class="logo-title">
                    <span>Jar</span>
                </div>
            </div>
            <div>
                <div class="select-name">
                    <span>1:1 문의 게시판 관리</span>
                </div>
            </div>
        </div>
        <div class="wrap">

            <!-- 사이드 바 -->
           {% include "admin/side_bar.html" %}

            <div class="container">
                <div class="container-margin">
                    <!-- 헤더 -->

                       <!-- 검색 창 -->
                    <div class="search-box-wrap">
                        <div class="search-container">
                            {% if keyword == None %}
                                <input type="text" placeholder="검색어 입력" class="search-box">
                            {% else %}
                                <input value="{{ keyword }}" type="text" placeholder="검색어 입력" class="search-box">
                            {% endif %}
                            <button type="button" class="search-button">
                                <img src="{% static 'image/admin/search-icon-black.png'%}" alt="">
                            </button>
                        </div>
                        <!-- <div class="buttons-container">
                            <div class="delete-box-layout">
                                <div class="delete-box">
                                    <button class="deleteButton delete-button" onclick="deleteMembers(getSelectedMemberIds())">선택 게시물 삭제</button>
                                </div>
                            </div>
                        </div> -->
                    </div>
                    <!-- 내용 섹션 -->
                    <section class="board-info-box-layout">

                        <div class="board-info-box">
                            <div class="board-info-title-box">
                                <span>📋 1:1 문의 게시판 목록</span>
                            </div>

                            <div class="info-table">
                                <table>
                                    <thead>
                                        <tr>
                                            <th class="checkbox-line">
                                                <input type="checkbox" id="allSelect">
                                            </th>
                                            <th>No</th>
                                            <!-- <th>카테고리</th> -->
                                            <th>문의 제목</th>
                                            <th>작성자</th>
                                            <th>작성 날짜</th>
                                            <th>답변 여부</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for post in posts %}
                                            <tr>
                                                <td class="checkbox-line">
                                                    <input type="checkbox" name="check" class="memberCheckbox">
                                                </td>
                                                <td class="noticeId">{{ post.id }}</td>
                                                <!-- <td>자유 게시판</td> -->
                                                <td><a href="{% url 'admin:board-inquiry-detail' keyword=keyword post_id=post.id page=page %}">{{ post.message_title }}
                                                </a></td>
                                                <td>{{ post.send_member.member_nickname }}</td>
                                                <td>
                                                    {{ post.created_date|date:"Y-m-d H:i" }}
                                                </td>
                                                <td class="is_answer is_warning">
                                                    {% if post.message_status == "Y" %}
                                                      <span>답변 완료</span>
                                                    {% else %}
                                                      <span>미답변</span>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </section>

                    <!-- 페이지 버튼 -->
                    <div class="page-button-box-layout">
                        <div class="page-button-box">
                            {% if startPage > 1 %}
                                <div class="">
                                    <div class="page-button-margin">
                                        <div>
                                            <a href="{% url 'admin:board-inquiry-list-page' keyword=keyword page=startPage|add:-1 %}">
                                                <img src="{% static 'image/admin/left_icon.png'%}"
                                                class="left-button">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            {% for i in "x"|rjust:5 %}
                                {% if forloop.counter0|add:startPage <= realEnd %}
                                    {% if forloop.counter0|add:startPage == page %}
                                        <div class="page-button page-button-active">
                                            <div class="page-button-margin">
                                                <div>
                                                    <a href="{% url 'admin:board-inquiry-list-page' keyword=keyword page=forloop.counter0|add:startPage %}">
                                                        <span>{{ forloop.counter0|add:startPage}}</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="page-button">
                                            <div class="page-button-margin">
                                                <div>
                                                    <a href="{% url 'admin:board-inquiry-list-page' keyword=keyword page=forloop.counter0|add:startPage %}">
                                                        <span>{{ forloop.counter0|add:startPage}}</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            {% if endPage < realEnd %}
                                <div class="">
                                    <div class="page-button-margin">
                                        <div>
                                            <a href="{% url 'admin:board-inquiry-list-page' keyword=keyword page=endPage|add:1 %}">
                                                <img src="{% static 'image/admin/right_icon.png'%}"
                                                class="right-button">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <!-- 페이지 버튼 끝 -->
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script src="{%  static 'js/admin/checkbox.js'%}"></script>
<script src="{%  static 'js/admin/board_proposal_inquiry.js'%}"></script>
{#<script src="{%  static 'js/admin/sidemenu.js'%}"></script>#}

</html>