{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>관리자 페이지- 과외 매칭 상세보기</title>
    <link rel="stylesheet" href="{% static 'css/admin/tutor/admin_tutor_detail.css' %}"/>
    <link rel="shortcut icon" href="{% static 'image/logo/logo-color.png'%}" type="image/x-icon">
  </head>

  <body>
    <div>
      <div class="info-title-box info-title-box-flex">
        <div class="logo-box-layout">
          <div class="logo-box">
            <a href="/"><img src="{%  static 'image/logo/white.png' %}"></a>
            <span></span>
          </div>
          <div class="logo-title">
            <span>Jar</span>
          </div>
        </div>
        <div>
          <div class="select-name">
            <span>과외 매칭 관리</span>
          </div>
        </div>
      </div>
      <div class="wrap">

              <!-- 사이드 바 -->
       {% include "admin/side_bar.html" %}

        <div class="container">
          <div class="container-margin">
            <!-- 헤더 -->
            <div class="prev-button-layout">
              <div>
                <a href="{% url 'admin:board-lesson-match-list-page' page=page keyword=keyword %}">
                    <img src="{% static 'image/admin/prev_icon.png' %}" class="prev-icon">
                    <span class="prev-title">리스트로 돌아가기</span>
                </a>
              </div>
            </div>
            <div class="info-flex">
            <!-- 선생님 정보 -->
              <section class="board-info-box-layout">
                <div class="board-info-box board-info-box-flex">
                  <div class="board-info-title-box">
                    <span>👩‍🏫 선생님 정보</span>
                  </div>
                </div>
                <hr />
                <div class="board-info-box">
                  <div class="member-img-box">
                    {% if teacher_profile %}
                        <img style="width: 80px; height: 80px; border-radius: 50%; display: block; margin: 0 auto" src="/upload/{{ teacher_profile.image }}" alt="">
                    {% else %}
                      <div class="member-img"></div>
                    {% endif %}
                    <div class="member-nickname-box">
                      <span>{{ post.teacher.member_nickname }}</span>
                    </div>
                  </div>
                  <div class="member-info-box">
              <!-- 이름 -->
                <!-- <div class="member-info-tag-box">
                      <span class="info-tag">이름</span>
                      <div class="info">
                        <span>임희수</span>
                      </div>
                    </div> -->
                    <div class="member-info-tag-box">
                      <span class="info-tag">이메일</span>
                      <!-- 이메일 -->
                      <div class="info">
                        <span>{{ post.teacher.member_email }}</span>
                      </div>
                    </div>
                    <div class="member-info-tag-box">
                      <span class="info-tag">주소</span>
                      <!-- 주소 -->
                      <div class="info">
                        {% if post.teacher.member_address %}
                          <span>{{ post.teacher.member_address }}</span>
                        {% else %}
                          <span>주소 비공개</span>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                  <div id="teacher-review" style="display: flex; justify-content: end">
{#                    <button style="margin-top: 106px;" class="review-btn" type="button">#}
{#                        <a href="{% url 'admin:board-lesson-review-detail' keyword=keyword post_id=post.id page=page %}">#}
{#                            후기#}
{#                        </a>#}
{#                    </button>#}
                  </div>
                </div>
              </section>

         <!-- 학생 정보 -->
              <section class="board-info-box-layout">
                <div class="board-info-box board-info-box-flex">
                  <div class="board-info-title-box">
                    <span>🙋‍♂️ 학생 정보</span>
                  </div>
                </div>
                <hr />
                <div class="board-info-box">
                  <div class="member-img-box">
                    {% if student_profile %}
                        <img style="width: 80px; height: 80px; border-radius: 50%; display: block; margin: 0 auto" src="/upload/{{ student_profile.image }}" alt="">
                    {% else %}
                      <div class="member-img"></div>
                    {% endif %}
                    <div class="member-nickname-box">
                      <span>{{ post.member.member_nickname }}</span>
                    </div>
                  </div>
                  <div class="member-info-box">
                 <!-- 이름 -->
               <!-- <div class="member-info-tag-box">
                      <span class="info-tag">이름</span>
                      <div class="info">
                        <span>장동혁</span>
                      </div>
                    </div>-->
                    <div class="member-info-tag-box">
                      <span class="info-tag">이메일</span>
                      <!-- 이메일 -->
                      <div class="info">
                        <span>{{ post.member.member_email }}</span>
                      </div>
                    </div>
                    <div class="member-info-tag-box">
                      <span class="info-tag">주소</span>
                      <!-- 주소 -->
                      <div class="info">
                        {% if post.member.member_address %}
                          <span>{{ post.member.member_address }}</span>
                        {% else %}
                          <span>주소 비공개</span>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                  <div id="student-review" style="display: flex; justify-content: end">
{#                    <button style="margin-top: 106px;" class="review-btn" type="button">#}
{#                        <a href="{% url 'admin:board-lesson-review-detail' keyword=keyword post_id=post.id page=page %}">#}
{#                            후기#}
{#                        </a>#}
{#                    </button>#}
                  </div>
                </div>
              </section>

           <!-- 활동 정보 -->
              <section class="board-info-box-layout board-info-box-layout2">
                <div class="board-info-box">
                  <div class="board-info-title-box">
                    <span>📋 활동 정보</span>
                  </div>
                </div>
                <hr />
                <div class="member-info">
                  <div class="info-margin">
                    <span class="info-tag">과외 결제일</span>
                    <h4>{{ post.created_date|date:"Y-m-d H:i" }}</h4>
                  </div>
                  <div class="info-margin margin" style="margin-top: 70px">
                    <hr style="margin: 8px 0" />
                    <span class="info-tag">과외</span>
                    <div class="info-margin">
{#                      <div class="write-count-box">#}
{#                        <div>#}
{#                          <span>참여 횟수:</span>#}
{#                        </div>#}
{#                        <div class="count">#}
{#                          <span>3회</span>#}
{#                        </div>#}
{#                      </div>#}
                    </div>
                    <div class="info-margin">
                      <div class="write-count-box">
                        <div>
                          <span>과외 종류:</span>
                        </div>
                        <div class="count">
                          <span>{{ post.get_lesson_type_display }}</span>
                        </div>
                      </div>
                    </div>

                  </div>

                  <div class="info-margin margin" style="margin: 70px 0 50px">
                    <!-- 유저 작성한 것들  -->
                    <hr style="margin: 8px 0" />
                    <span class="info-tag">결제</span>
                    <div class="info-margin">
                      <div class="write-count-box">
                        <div>
                          <span>결제 상태:</span>
                        </div>
                        <div class="count">
                          <span>{{ post.get_pay_status_display }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
{#                  <div class="info-margin margin" style="margin-top: 20px">#}
                      <div style="display: flex; justify-content: end">
                        <button onclick="cancelPay()" style="margin-top: 30px; width: 100px" class="review-btn" type="button">결제 취소</button>
                      </div>
                    <!-- 유저 작성한 것들  -->
{#                    <hr style="margin: 8px 0" />#}
{#                    <span class="info-tag">결제</span>#}
{#                    <div class="info-margin">#}
{#                      <div class="write-count-box">#}
{#                        <div>#}
{#                          <span>결제 상태:</span>#}
{#                        </div>#}
{#                        <div class="count">#}
{#                          <span>{{ post.get_pay_status_display }}</span>#}
{#                        </div>#}
{#                      </div>#}
{#                    </div>#}
{#                  </div>#}
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
  <script>
    let id = {{ post.id }};
    let keyword = `{{ keyword }}`;
    let page = {{ page }};
    let member_id = {{ post.member.id }};
    let teacher_id = {{ post.teacher.id }};
  </script>
  <script src="{% static 'js/admin/lesson_match_detail.js' %}"></script>
{#  <script src="{% static 'js/admin/sidemenu.js'%}"></script>#}
</html>
