{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 페이지- 과외 리뷰 상세보기</title>
    <link rel="stylesheet" href="{% static 'css/admin/tutor/admin_tutor_review_detail.css' %}"/>
    <link rel="shortcut icon" href="{% static 'image/logo/logo-color.png'%}" type="image/x-icon">
</head>
<style>
    .img_wrapper_box {
        width: fit-content;
        padding: 16px 0;
    }

    .img_box_wrapper {
        position: relative;
    }

    .img_div>img {
        max-width: 250px;
        /* max-height: 160px; */
        height: 200px;
    }

    .delete_button_wrapper {
        display: flex;
        justify-content: flex-end;
    }

    header.delete_button_wrapper * {
        padding: 0;
        margin: 0;
    }

    .delete_button_wrapper {
        position: absolute;
        right: 0;
        margin-right: 3px;
        margin-top: 3px;
    }

    .delete_button_wrapper button {
        opacity: 80%;
        height: fit-content;
    }
</style>

<body>
    <div>
        <div class="info-title-box info-title-box-flex">
            <div class="logo-box-layout">
                <div class="logo-box">
                    <img src="{% static 'image/logo/white.png' %}">
                </div>
                <div class="logo-title">
                    <span>Jar</span>
                </div>
            </div>
            <div>
                <div class="select-name">
                    <span>과외 매칭 관리</span>
                </div>
            </div>
        </div>
        <div class="wrap">

              <!-- 사이드 바 -->
       {% include "admin/side_bar.html" %}

            <div class="container">
                <div class="container-margin">
                    <!-- 헤더 -->
                    <div class="prev-button-layout">
                        <div>
                            <a href="{% url 'admin:board-lesson-match-list-page' page=page keyword=keyword %}">
                                <img src="{% static 'image/admin/prev_icon.png' %}" class="prev-icon">
                                <span class="prev-title">리스트로 돌아가기</span>
                            </a>
                        </div>
                    </div>
                    <div class="section_wrapper is-flex">
                        <!-- 내용 섹션 -->
                        <section class="board-info-box-layout">
                            <div class="board-info-box">
                                <div class="board-info-title-box">
                                    <span>✏️ 과외 리뷰 상세보기</span>
{#                                    <div class="modify-button-box">#}
{#                                        <a>#}
{#                                            <span>⚙️</span>#}
{#                                            <a>수정</a>#}
{#                                        </a>#}
{#                                    </div>#}
                                </div>

                                <hr>
                                <div class="info-table">
                                    <form action="">
                                        <div class="board_info board_writer">
                                            <span class="span-bold">리뷰 작성자 :</span>
                                            <!-- 작성자 명  -->
                                            <span>{{ post.member.member_nickname }}</span>
                                        </div>
                                         <div class="board_info board_writer">
                                            <span class="span-bold">리뷰 받는 사람 :</span>
                                            <!-- 작성자 명  -->
                                            <span>{{ post.reviewed_member.member_nickname }}</span>
                                        </div>
                                        <!-- <div class="info-member">
                                            <span class="span-bold">좋아요 :</span>
                                            <span>3</span>
                                        </div> -->
                                        <div class="board_info board_reigster_date">
                                            <span class="span-bold">작성 날짜 :</span>
                                            <!-- 작성 날짜  -->
                                            <span>{{ post.created_date|date:"Y-m-d H:i" }}</span>
                                        </div>
                                        <div class="board_title">
                                            <span class="span-bold">제목 :</span>
                                            <!-- 제목  -->
                                            <span>{{ post.post_title }}</span>
                                        </div>
                                        <div style="display: none;">
                                            <label class="file_insert_label">
                                                <input type="file" style="display:none;" class="file" multiple>
                                                <div class="file-image-box">
                                                    <p>사진 첨부</p>
                                                </div>
                                            </label>
                                        </div>
                                        <hr>
                                        <div style="min-height: 200px;">
                                            {{ post.post_content }}
                                        </div>
                                        <hr>
                                        <div style="display: flex; flex-direction: row-reverse">
    {#                                        <button class="btn_done btn_selection">채택</button>#}
                                            <label for="" style="display: inline-block; height: 30px; width: fit-content; padding: 2px 10px; background-color: black; color: white;">
                                                <a href="#">게시글 보러가기</a>
                                            </label>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
{#<script src="{% static 'js/admin/sidemenu.js' %}"></script>#}
</html>