* {
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}


html {
  line-height: 1.5;
  tab-size: 4;
  font-family: Pretendard,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  line-height: inherit;
}

button {
  cursor: pointer;
  background-color: transparent;
  background-image: none;
  text-transform: none;
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

menu, ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#wrap {
  min-height: 100%;
}


/* 슬라이더 배너 */
.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

#slide-banner {
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin: 32px auto 60px auto;
}

div.mySwiper {
  width: 1678px;
  min-width: 1678px;
}

div.swiper-slide {
  width: 560px;
}

div.swiper-slide-next>div>button>img,
div.swiper-slide-prev>div>button>img{
  animation: fadeout 0.5s;
  animation-fill-mode: both;
}

@keyframes fadeout {
  from {
      opacity: 1;
  }
  to {
      opacity: 0.3;
  }
}

button.swiper-slide-btn {
  border-radius: 16px;
  border-style: none;
  width: 550px;
  height: 336px;
  transition-duration: .5s;
  transition-property: all;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  text-align: left;
  overflow: hidden;
  position: relative;
}

button.swiper-slide-btn img{
  width: 100%;
  display: block;
} 

/* 슬라이드 버튼 */
div.slide-banner-button {
  padding-left: 32px;
  padding-right: 32px;
  width: 550px;
  display: flex;
  column-gap: 12px;
  align-items: center;
  bottom: 24px;
  left: 34%;
  position: absolute;
  z-index: 5;
}

div.slide-banner-count {
  padding: 6px 12px 6px 12px;
  border-radius: 20px;
  border-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,.4);
  width: auto;
}

div.slide-banner-count span:first-child{
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  color: #fff;
  fill: #fff;
}

div.slide-banner-count span:last-child{
  color: hsla(0,0%,100%,.8);
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

div.slide-banner-btns {
  display: flex;
  column-gap: 12px;
}

.swiper-button-next,
.swiper-button-prev {
  width: 40px;
  height: 40px;
  border-radius: 9999px;
  border-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,.4);
  position: inherit;
  margin: 0;
}

.swiper-button-next svg,
.swiper-button-prev svg {
  width: 16px;
  height: 16px;
  color: #fff;
  fill: #fff;
}




/* 메인 콘텐츠 */
#main {
  row-gap: 48px;
  display: flex;
  flex-direction: column;
  max-width: 720px;
  min-width: 350px;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  background-color: #fff;
}

header.starmentor-title {
  display: flex;
  align-items: center;
  margin-left: 16px;
}

div.startmentor-title-select {
  display: flex;
  align-items: center;
  gap: 6px;
}

div.startmentor-title-select h1 {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #333334;
  fill: #333334;
  margin: 0;
}

div.startmentor-title-select svg {
  margin-top: 0;
  width: 20px;
  height: 20px;
  color: #8a8a8b;
  fill: #8a8a8b;
  display: block;
}


/* 주간 인기 과외 선생님 슬라이드 */
div.starmentor-banner {
  min-height: 218px;
  margin-top: 24px;
}

div.starmentor-banner-relative {
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
}

div.sub-swiper-wrapper>div {
  margin-left: 0;
}

button.swiper-slide-sub-btn {
  text-align: left;
  width: 100%;
  display: block;
  border: 0 solid #e5e7eb;
}

span.swiper-slide-sub-btn-child-span {
  display: block;
  overflow: hidden;
  width: initial;
  height: initial;
  background: none;
  opacity: 1;
  border: 0px;
  margin: 0px;
  padding: 0px;
  position: relative;
}
span.swiper-slide-sub-btn-child-span>span {
  display: block;
  width: initial;
  height: initial;
  background: none;
  opacity: 1;
  border: 0px;
  margin: 0px;
  padding: 100% 0px 0px;
}


span.swiper-slide-sub-btn-child-span>img {
  position: absolute;
  inset: 0px;
  box-sizing: border-box;
  padding: 0px;
  border: none;
  margin: auto;
  display: block;
  width: 0px;
  height: 0px;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: center center;
  border-radius: 16px;
}

div.swiper-slide-sub-border {
  border: 0 solid #e5e7eb;
  border-width: 1px;
  border-radius: 16px;
  width: 128px;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  border-color: rgba(0,0,0,.1);
}

h2.starmentor-nickname {
  overflow: hidden;
  margin: 12px 0 0 0;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  color: #333334;
  fill: #333334;
}

p.starmentor-language {
  margin: 2px 0 0 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #666667;
  fill: #666667;
}

p.starmentor-introduction {
  overflow: hidden;
  margin: 4px 0 0 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  word-break: break-all;
  color: #8a8a8b;
  fill: #8a8a8b;
}

button.swiper-sub-button-prev {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px, rgba(0, 0, 0, 0.1) 0px 4px 5px;
  top: 44px;
  display: flex;
  border-radius: 9999px;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  z-index: 5;
  left: 0;
  position: absolute;
  background-color: #fff;
  border: 0 solid #e5e7eb;
  display:none;
}

button.swiper-sub-button-next {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px, rgba(0, 0, 0, 0.1) 0px 4px 5px;
  top: 44px;
  border-radius: 9999px;
  border: 0 solid #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  right:0;
  position: absolute;
  z-index: 5;
  background-color: #fff;

}

button.swiper-sub-button-prev>svg {
  width: 16px;
  height: 16px;
  color: #1d1d1e;
  fill: #1d1d1e;
}

button.swiper-sub-button-next>svg {
  width: 16px;
  height: 16px;
  color: #1d1d1e;
  fill: #1d1d1e;
}


/* 최근 주목받는 포스트 */
header.recommend-post {
  margin-left: 16px;
  padding-top: 48px;
  border-top-width: 1px;
  border-top-style: solid;
  display: flex;
  align-items: center;
  border-color: #e6e6e7;
}

header.recommend-post h1 {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #333334;
  fill: #333334;
  margin: 0;
}

div.recommend-post-container {
  padding-left: 16px;
  padding-right: 16px;
}

ul.recommend-post-items {
  display: flex;
  flex-direction: column;
  place-content: center;
  margin-top: 24px;
  row-gap: 1rem;
  column-gap: 2.25rem;
}

li.recommend-post-item {
  padding-top: 8px;
  border-width: 0;
  padding-bottom: 0;
  width: 100%;
  border-color: #f3f3f4;
}

button.recommend-post-item-btn {
  text-align: left;
  width: 100%;
  display: block;
  border-style: none;
}

div.recommend-post-item-flex {
  display: flex;
  column-gap: 16px;
}

div.recommend-post-item-content {
  height: auto;
  word-break: break-all;
  width: 100%;
}

div.recommend-post-item-content h2 {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #333334;
  fill: #333334;
  overflow: hidden;
  word-break: break-word;
  word-wrap: break-word;
}

div.recommend-post-item-content p {
  margin-top: 6px;
  margin-bottom: 18px;
  word-break: break-word;
  word-wrap: break-word;
  overflow: hidden;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #8a8a8b;
  fill: #8a8a8b;
}


div.recommend-post-item-img {
  width: 102px;
  height: 102px;
  border-radius: 8px;
  flex-shrink: 0;
  position: relative;
}

span.recommend-post-item-img-span {
  display: block;
  overflow: hidden;
  width: initial;
  height: initial;
  background: none;
  opacity: 1;
  border: 0px;
  margin: 0px;
  padding: 0px;
  position: absolute;
  inset: 0px;
}

span.recommend-post-item-img-span img {
  position: absolute;
  inset: 0px;
  padding: 0px;
  border: none;
  margin: auto;
  display: block;
  width: 0px;
  height: 0px;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: center center;
  border-radius: 8px;
}

div.recommend-post-item-flex-sub {
  display: flex;
  align-items: center;
  margin-top: 12px;
}

div.recommend-post-item-icon {
  width: 18px;
  height: 18px;
  background: url("https://steadio.imgix.net/profiles/bd878321-cdff-4a83-bb4c-faff2205ad8f/profileImage/f79975b5-1728-4b70-980a-0636628b83fb.jpg?auto=format%2Ccompress&h=300&lossless=true&w=300") center center / cover no-repeat;
  border-radius: 9999px;
  flex-shrink: 0;
  position: relative;
}

div.recommend-post-item-flex-sub-flex {
  display: flex;
  align-items: center;
  column-gap: 2px;
  margin-left: 6px;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

span.recommend-post-item-sub-nickname {
  max-width: 100%;
  overflow: hidden;
  word-break: break-all;
  color: #333334;
  fill: #333334;
}

div.recommend-post-item-flex-sub-flex svg {
  width: 8px;
  height: 8px;
  color: #b9b9bb;
  fill: #b9b9bb;
  display: block;
}

span.recommend-post-item-sub-date {
  flex-shrink: 0;
  color: #8a8a8b;
  fill: #8a8a8b;
}

span.recommend-post-item-sub-count {
  flex-shrink: 0;
  color: #8a8a8b;
  fill: #8a8a8b;
}


div.recommend-post-refresh {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

button.recommend-post-refresh-btn {
  width: 116px;
  height: 40px;
  padding-left: 15px;
  padding-right: 15px;
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #333334;
  fill: #333334;
  border-color: rgba(0,0,0,.1);
  background-color: #fff;
  cursor: pointer;
}

button.recommend-post-refresh-btn svg{
  width: 16px;
  height: 16px;
  color: #5b44ea;
  fill: #5b44ea;
}

span.recommend-post-refresh-text {
  margin-left: 4px;
  color: #333334;
  fill: #333334;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
}

span.recommend-post-refresh-count {
  color: #8a8a8b;
  fill: #8a8a8b;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  
}

/*추천 포스트*/
div.recommend-one-post {
  border: 0 solid #e5e7eb;
  padding-top: 28px;
  border-top-width: 1px;
  border-color: #e6e6e7;
}

button.recommend-one-post-btn {
  display: flex;
  text-align: left;
  flex-direction: row;
  width: 100%;
  border: 0 solid #e5e7eb;
}

div.recommend-one-post-btn-img {
  width: 50%;
  margin-top: 24px;
  border-radius: 16px;
  position: relative;
}

span.recommend-one-post-btn-img-span {
  display: block;
  overflow: hidden;
  width: initial;
  height: initial;
  background: none;
  opacity: 1;
  border: 0px;
  margin: 0px;
  padding: 0px;
  position: relative;
  border-radius: 16px;
}

span.recommend-one-post-btn-img-span>span{
  display: block;
  width: initial;
  height: initial;
  background: none;
  opacity: 1;
  border: 0px;
  margin: 0px;
  padding: 63.75% 0px 0px;
}

span.recommend-one-post-btn-img-span>img{
  position: absolute;
  inset: 0px;
  padding: 0px;
  border: none;
  margin: auto;
  display: block;
  width: 0;
  height: 0;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
}

section.recommend-one-post-btn-content {
  width: 50%;
  display: flex;
  row-gap: 16px;
  flex-direction: column;
  margin: 24px 36px 0 0;
  order: -9999;
}

strong.recommend-one-post-btn-content-strong {
  color: rgb(126, 105, 254);
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;

}

h2.recommend-one-post-btn-content-h2 {
  margin: 8px 0 0 0;
  word-break: keep-all;
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  color: #333334;
  fill: #333334;
}

p.recommend-one-post-btn-content-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #666667;
  fill: #666667;
  margin: 0;
}



/* 새로운 과외 선생님을 만나보세요*/
header.new-teacher-title {
  padding-top: 28px;
  border-top-width: 1px;
  display: flex;
  align-items: center;
  margin: 0 0 0 16px;
  border: 0 solid #e5e7eb;
  border-top-width: 1px;
  border-color: #e6e6e7;
}

div.new-teacher-title-flex {
  display: flex;
  gap: 6px;
  align-items: center;
}

h1.new-teacher-title-content {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #333334;
  fill: #333334;
  margin: 0;
}

div.new-teacher-title-flex svg{
  width: 20px;
  height: 20px;
  margin-top: 0;
  color: #8a8a8b;
  fill: #8a8a8b;
}


div.new-teacher-banner {
  min-height: 218px;
  margin-top: 24px;
}

div.new-teacher-banner-relative {
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
}

div.third-swiper-wrapper>div {
  margin-left: 0;
}

button.swiper-slide-third-btn {
  text-align: left;
  width: 100%;
  display: block;
  border: 0 solid #e5e7eb;
}

span.swiper-slide-third-btn-child-span {
  display: block;
  overflow: hidden;
  width: initial;
  height: initial;
  background: none;
  opacity: 1;
  border: 0px;
  margin: 0px;
  padding: 0px;
  position: relative;
}
span.swiper-slide-third-btn-child-span>span {
  display: block;
  width: initial;
  height: initial;
  background: none;
  opacity: 1;
  border: 0px;
  margin: 0px;
  padding: 100% 0px 0px;
}


span.swiper-slide-third-btn-child-span>img {
  position: absolute;
  inset: 0px;
  box-sizing: border-box;
  padding: 0px;
  border: none;
  margin: auto;
  display: block;
  width: 0px;
  height: 0px;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: center center;
  border-radius: 16px;
}

div.swiper-slide-third-border {
  border: 0 solid #e5e7eb;
  border-width: 1px;
  border-radius: 16px;
  width: 128px;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  border-color: rgba(0,0,0,.1);
}

h2.new-teacher-nickname {
  overflow: hidden;
  margin: 12px 0 0 0;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  color: #333334;
  fill: #333334;
}

p.new-teacher-language {
  margin: 2px 0 0 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #666667;
  fill: #666667;
}

p.new-teacher-introduction {
  overflow: hidden;
  margin: 4px 0 0 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  word-break: break-all;
  color: #8a8a8b;
  fill: #8a8a8b;
}

button.swiper-third-button-prev {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px, rgba(0, 0, 0, 0.1) 0px 4px 5px;
  top: 44px;
  display: flex;
  border-radius: 9999px;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  z-index: 5;
  left: 0;
  position: absolute;
  background-color: #fff;
  border: 0 solid #e5e7eb;
  display:none;
}

button.swiper-third-button-next {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px, rgba(0, 0, 0, 0.1) 0px 4px 5px;
  top: 44px;
  border-radius: 9999px;
  border: 0 solid #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  right:0;
  position: absolute;
  z-index: 5;
  background-color: #fff;

}

button.swiper-third-button-prev>svg {
  width: 16px;
  height: 16px;
  color: #1d1d1e;
  fill: #1d1d1e;
}

button.swiper-third-button-next>svg {
  width: 16px;
  height: 16px;
  color: #1d1d1e;
  fill: #1d1d1e;
}




/*폴인어스 과외 선생님*/
header.teachers-title {
  padding-top: 28px;
  border-top-width: 1px;
  display: flex;
  align-items: center;
  margin: 0 0 0 16px;
  border: 0 solid #e5e7eb;
  border-top-width: 1px;
  border-color: #e6e6e7;
}

div.teachers-title-flex {
  display: flex;
  gap: 6px;
  align-items: center;
}

h1.teachers-title-content {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #333334;
  fill: #333334;
  margin: 0;
}

div.teachers-title-flex svg{
  width: 20px;
  height: 20px;
  margin-top: 0;
  color: #8a8a8b;
  fill: #8a8a8b;
}

/*폴인어스 카테고리*/
div.teachers-category {
  margin-top: 20px;
}

ul.teachers-category-list {
  margin: 0 16px;
  display: flex;
  column-gap: 8px;
  overflow-x: auto;
  cursor: pointer;
}
li.teachers-category-item {
  margin-left: 0;
  flex-shrink: 0;
}

button.teachers-category-item-btn {
  padding: 8px 11px;
  border-width: 1px;
  border-radius: 33px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  border-color: #e6e6e7;
  color: #1d1d1e;
  fill: #1d1d1e;
  background-color: #fff;
}

button.teachers-category-item-btn-active {
  padding: 9px 12px;
  border-radius: 33px;
  border-width: 1px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  fill: #fff;
  background-color: #7e69fe;
}


/*폴인어스 과외 선생님 슬라이드*/
div.teachers-banner {
  margin-top: 20px;
  margin-bottom: 128px;
}

div.teachers-banner-relative {
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
}

div.fourth-swiper-wrapper>div {
  margin-left: 0;
}

button.swiper-slide-fourth-btn {
  text-align: left;
  width: 100%;
  display: block;
  border: 0 solid #e5e7eb;
}

span.swiper-slide-fourth-btn-child-span {
  display: block;
  overflow: hidden;
  width: initial;
  height: initial;
  background: none;
  opacity: 1;
  border: 0px;
  margin: 0px;
  padding: 0px;
  position: relative;
}
span.swiper-slide-fourth-btn-child-span>span {
  display: block;
  width: initial;
  height: initial;
  background: none;
  opacity: 1;
  border: 0px;
  margin: 0px;
  padding: 100% 0px 0px;
}


span.swiper-slide-fourth-btn-child-span>img {
  position: absolute;
  inset: 0px;
  box-sizing: border-box;
  padding: 0px;
  border: none;
  margin: auto;
  display: block;
  width: 0px;
  height: 0px;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: center center;
  border-radius: 16px;
}

div.swiper-slide-fourth-border {
  border: 0 solid #e5e7eb;
  border-width: 1px;
  border-radius: 16px;
  width: 128px;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  border-color: rgba(0,0,0,.1);
}

h2.teachers-nickname {
  overflow: hidden;
  margin: 12px 0 0 0;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  color: #333334;
  fill: #333334;
}

p.teachers-language {
  margin: 2px 0 0 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #666667;
  fill: #666667;
}

p.teachers-introduction {
  overflow: hidden;
  margin: 4px 0 0 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  word-break: break-all;
  color: #8a8a8b;
  fill: #8a8a8b;
}

button.swiper-fourth-button-prev {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px, rgba(0, 0, 0, 0.1) 0px 4px 5px;
  top: 44px;
  display: flex;
  border-radius: 9999px;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  z-index: 5;
  left: 0;
  position: absolute;
  background-color: #fff;
  border: 0 solid #e5e7eb;
  display:none;
}

button.swiper-fourth-button-next {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px, rgba(0, 0, 0, 0.1) 0px 4px 5px;
  top: 44px;
  border-radius: 9999px;
  border: 0 solid #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  right:0;
  position: absolute;
  z-index: 5;
  background-color: #fff;

}

button.swiper-fourth-button-prev>svg {
  width: 16px;
  height: 16px;
  color: #1d1d1e;
  fill: #1d1d1e;
}

button.swiper-fourth-button-next>svg {
  width: 16px;
  height: 16px;
  color: #1d1d1e;
  fill: #1d1d1e;
}