{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/admin/sidemenu.css' %}" />
  </head>
  <body>
    <!-- 사이드 바 -->
      <div id="side-bar">
        <div class="side-menu">
          <div>
            <div class="menu-title-layout">
              <div class="menu-title">
                <div class="menu-name">MENU</div>
              </div>
            </div>
            <ul class="menu-bar">
              <li class="menu">
                <div class="menu-flex">
                  <span>📢 공지사항 관리</span>
                  <div class="triangle-button">
                    <img
                      src="{% static 'image/admin/arrow_icon.png' %}"
                      class="icon triangle-icon triangle"
                    />
                  </div>
                </div>
                <ul class="menus2 menus" style="display: none">
                  <li class="select-menu">
                    <a href="{% url 'admin:board-notice-list-init' %}">
                      <span>공지사항 목록</span>
                    </a>
                  </li>
                  <li class="select-menu">
                    <a href="{% url 'admin:board-notice-write' page=page %}">
                      <span>공지사항 작성</span>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="menu">
                <div class="menu-flex">
                  <a href="{% url 'admin:member-list-init' %}">
                    <span>👤 회원 관리</span>
                  </a>
                </div>
              </li>

              <li class="menu">
                <div class="menu-flex">
                  <span>✏️ 과외 관리</span>
                  <div class="triangle-button">
                    <img
                      src="{% static 'image/admin/arrow_icon.png' %}"
                      class="icon triangle-icon triangle"
                    />
                  </div>
                </div>
                <ul class="menus1 menus" style="display: none">
                  <li class="select-menu">
                    <a href="{% url 'admin:board-lesson-list-init' %}">
                        <span>과외 목록보기</span>
                    </a>
                  </li>
                  <li class="select-menu">
                    <a href="{% url 'admin:board-lesson-match-list-init' %}">
                      <span>과외 매칭 목록보기</span>
                    </a>
                  </li>
                </ul>
              </li>

              <li class="menu">
                <div class="menu-flex">
                  <a href="{% url 'admin:board-helpers-list-init' %}">
                    <span>💞 헬퍼스 관리</span>
                  </a>
                </div>
              </li>
              <li class="menu">
                <div class="menu-flex">
                  <a href="{% url 'admin:board-event-list-init' %}">
                    <span>🎉 이벤트 관리</span>
                  </a>
                </div>
              </li>
              <li class="menu">
                <div class="menu-flex">
                  <a href="{% url 'admin:board-inquiry-list-init' %}">
                    <span>📋 1:1 문의 관리</span>
                  </a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    <!-- 사이드 바 끝-->
  </body>
  <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
  <script src="{% static 'js/admin/sidemenu.js' %}"></script>
</html>
