{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 페이지- 이벤트 상세보기</title>
    <link rel="stylesheet" href="{% static 'css/admin/event/admin_event_detail.css' %}"/>
    <link rel="shortcut icon" href="{% static 'image/logo/logo-color.png'%}" type="image/x-icon">
</head>

<body>
    <div>
        <div class="info-title-box info-title-box-flex">
            <div class="logo-box-layout">
                <div class="logo-box">
                    <a href="/"><img src="{%  static 'image/logo/white.png' %}"></a>
                </div>
                <div class="logo-title">
                    <span>Jar</span>
                </div>
            </div>
            <div>
                <div class="select-name">
                    <span>이벤트 관리</span>
                </div>
            </div>
        </div>
        <div class="wrap">

            <!-- 사이드 바 -->
           {% include "admin/side_bar.html" %}

            <div class="container">
                <div class="container-margin">
                    <!-- 헤더 -->
                    <div class="prev-button-layout">
                        <div>
                            <a href="{% url 'admin:board-event-list-page' page=page keyword=keyword %}">
                                <img src="{% static 'image/admin/prev_icon.png' %}" class="prev-icon">
                                <span class="prev-title">리스트로 돌아가기</span>
                            </a>
                        </div>
                    </div>

                    <!-- 내용 섹션 -->
                    <section class="board-info-box-layout">
                        <div class="board-info-box">
                            <div class="board-info-title-box" style="position: relative">
                                <span>🎉이벤트 상세보기</span>
{#                                <div class="modify-button-box">#}
{#                                    <a>#}
{#                                        <span>⚙️</span>#}
{#                                        <a>수정</a>#}
{#                                    </a>#}
{#                                </div>#}
                            </div>
                            <hr>
                            <div class="info-table">
                                <div class="board_title">
                                    <span class="span-bold">제목 :</span>
                                    <!-- 제목  -->
                                    <span>{{ post.post_title }}</span>
                                </div>
                                <hr>
                                <div class="board_title">
                                    <span class="span-bold">주소 :</span>
                                    <!-- 제목  -->
                                    <span>{{ post.event_location }}</span>
                                </div>
                                <hr>
                                <div class="post-content-text">
                                </div>
                                <input type="hidden" value="{{ post.post_content }}" class="post-content-value">
                                <section style="margin: 0 auto" class="img_wrapper_box">
                                    <div class="img_ul_wrapper">
                                        <ul class="img_ul">
                                            {% for post_file in post_files %}
                                                <img style="display:block; margin: 0 auto" width="400px" src="/upload/{{ post_file.image }}">
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </section>
                                <hr>
                                <div style="display: flex; flex-direction: row-reverse">
{#                                        <button class="btn_done btn_selection">채택</button>#}
                                    <label for="" style="display: inline-block; height: 30px; width: fit-content; padding: 2px 10px; background-color: black; color: white;">
                                        <a href="/event/detail/{{ post.id }}">게시글 보러가기</a>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
  <script>
      document.querySelector(".post-content-text").innerHTML = $('.post-content-value').val();
  </script>
<script src="{%  static 'js/admin/sidemenu.js'%}"></script>
</html>