<!DOCTYPE html>
<html lang="ko" class="l-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/css/login/login.css" />
    <title>login</title>
  </head>
  <body class="l-full">
    <div class="full-wrap">
      <div class="full-screen">
        <div class="left-full">
          <div class="left-head">
            <button type="button" class="back-button">
              <div class="button-text-wrap">
                <svg
                  viewBox="0 0 17 16"
                  xmlns="http://www.w3.org/2000/svg"
                  height="16px"
                  width="16px"
                  class="arrow-icon"
                >
                  <path
                    d="M13.833 8a.667.667 0 0 0-.666-.667H5.72L8.973 4.08a.667.667 0 1 0-.943-.943L3.167 8l4.863 4.863a.665.665 0 0 0 .94-.94L5.72 8.667h7.447A.667.667 0 0 0 13.833 8Z"
                  ></path>
                </svg>
                <div>뒤로</div>
              </div>
            </button>
          </div>
          <section class="left-main">
            <h1 class="text-logo-wrap">
              언어를 배우는
              <br />
              사람들을 만나는 공간
            </h1>
              <!-- 로고 -->
              <img class="logo-text" src="../../static/image/admin/foreign-us.png" alt="">
            <div class="kakao-tag-wrap">
              <div class="kakao-tag-wrap-in">
                <button type="button" class="kakao-btn">
                  <div class="kakao-btn-text">
                    <svg
                      viewBox="0 0 17 16"
                      xmlns="http://www.w3.org/2000/svg"
                      height="16px"
                      width="16px"
                      class="kakao-button"
                    >
                      <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M8.5 2C4.803 2 1.833 4.306 1.833 7.128a5.026 5.026 0 0 0 3.091 4.339l-.636 2.306c-.03.06 0 .151.06.181.061.061.182.061.243 0l2.697-1.79c.394.061.788.091 1.212.091 3.667 0 6.667-2.306 6.667-5.127C15.167 4.306 12.197 2 8.5 2Z"
                      ></path>
                    </svg>
                    <div>카카오로 시작하기</div>
                  </div>
                </button>
              </div>
            </div>
          </section>
        </div>
        <div class="right-full">
          <div class="right-wrap">
            <span class="right-span">
              <img
                src="../../static/image/login/Add a heading.png"
                alt="포린어스"
                class="login-page-img"
              />
            </span>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
