<!DOCTYPE html>
<html lang="ko" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/css/about_us/about_us.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css">
    <title>소개</title>
  </head>
  <body class="h-full">
    <div class="main-wrap">
      <!-- 헤더 -->
      <nav></nav>
      <!-- 슬라이드 -->
      <div></div>
      <!-- section-1 -->
      <section class="first-section">
        <p class="head-sub-text">외국인 친구들과 자유롭게 어디서나</p>
        <h2 class="head-text">Foreign Us 에서 새로운 언어의 세계로 🌍</h2>
        <div class="show-boxes-wrap">
          <div class="show-box box1">
            <span class="pic-box-wrap1">
              <span class="pic-box-contain1"></span>
              <img
                src="../../static/image/people.jpg"
                alt="외국인들"
                style="width: 432px; height: 260px; border-radius: 5%"
              />
            </span>
          </div>
          <div class="show-box text-box1">
            <svg viewBox="0 0 24 24" xmlns="first-text">
              <path
                d="M10.385 12.208h-.793l.365 1.389h.06l.368-1.389ZM13.544 12.208l.367 1.366h.06l.356-1.366h-.783Z"
              ></path>
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M8.7 2.7a6 6 0 0 0-6 6v6.6a6 6 0 0 0 6 6h6.6a6 6 0 0 0 6-6V8.7a6 6 0 0 0-6-6H8.7Zm1.188 12.75c-.471 0-.885-.3-1.014-.734l-.743-2.508h-.516A.603.603 0 0 1 7 11.62c0-.325.276-.59.615-.59h.168l-.274-.924c-.135-.454.221-.905.715-.905.34 0 .637.222.72.538l.339 1.292h1.414l.295-1.11a.99.99 0 0 1 .967-.72c.456 0 .854.295.967.717l.3 1.113h1.41l.337-1.292a.737.737 0 0 1 .72-.538c.493 0 .849.45.714.905l-.274.925h.252c.34 0 .615.264.615.59 0 .325-.276.588-.615.588h-.6l-.743 2.508a1.048 1.048 0 0 1-1.014.734c-.474 0-.89-.303-1.016-.74l-.724-2.502h-.66l-.724 2.502c-.126.437-.542.74-1.016.74Z"
              ></path>
            </svg>
            <h3 class="title-1">언어!! 실전에서 사용하자</h3>
            <p class="title-1-text">그 나라 사람에게 직접 배울 수 있는 기회</p>
          </div>
          <div class="show-box box2">
            <span class="pic-box-wrap2">
              <span class="pic-box-contain2"></span>
              <img
                src="../../static/image/papaer-work.jpg"
                alt="도움"
                style="width: 432px; height: 260px; border-radius: 5%"
              />
            </span>
          </div>
          <div class="show-box text-box2">
            <svg
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              class="w-[24px] h-[24px] content_primary md:w-[36px] md:h-[36px]"
            >
              <path
                d="M11.163 19.654a1.185 1.185 0 0 0 1.675 0l6.642-6.584c2.008-2.143 2.008-5.57.11-7.595-1.51-1.684-4.27-2.025-5.93-.506L12 6.488l-1.66-1.52c-1.66-1.518-4.42-1.177-5.93.507-1.898 2.025-1.898 5.452.11 7.595l6.643 6.584Z"
              ></path>
            </svg>
            <h3 class="title-2">Do You Need Help?</h3>
            <p class="title-2-text">서로 도와주고 언어도 배우고</p>
          </div>
          <div class="show-box box3">
            <span class="pic-box-wrap3">
              <span class="pic-box-contain3"></span>
              <img
                src="../../static/image/event.jpg"
                alt="이벤트"
                style="width: 432px; height: 260px; border-radius: 5%"
              />
            </span>
          </div>
          <div class="show-box text-box3">
            <svg
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              class="w-[24px] h-[24px] content_primary md:w-[36px] md:h-[36px]"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M15.7 3.6c2.7 0 4.889 2.189 4.889 4.889v4.498c0 2.7-2.189 4.889-4.889 4.889h-2.322l-3.73 2.933a.978.978 0 0 1-1.475-.842v-2.091A4.573 4.573 0 0 1 3.6 13.303V8.49c0-2.7 2.189-4.889 4.889-4.889H15.7Zm-6.6 8.2a.9.9 0 1 0 0-1.8.9.9 0 0 0 0 1.8Zm3.9-.9a.9.9 0 1 1-1.8 0 .9.9 0 0 1 1.8 0Zm2.1.9a.9.9 0 1 0 0-1.8.9.9 0 0 0 0 1.8Z"
              ></path>
            </svg>
            <h3 class="title-3">다양한 이벤트</h3>
            <p class="title-3-text">각 나라의 축제,이벤트</p>
          </div>
        </div>
      </section>
      <!-- apps -->
      <section></section>
      <!-- 카테고리 목록(기존) -->
      <section></section>
      <!-- 카테고리 선택목록 -->
      <section class="second-section">
        <div class="second-section-wrap">
          <h3 class="title-for-2nd-section">
            Foreign Us 에서 다양한 나라의 친구들과 언어를 쉐어 해보세요🌎
          </h3>
          <ul class="category-icon-Wrap-for-2nd-section">
            <li class="categories">
              <div class="img-wrap-for-2nd-section-category">
                <span class="img-wrap-size">
                  <img src="../../static/image/tutoring.png" alt="과외" />
                </span>
              </div>
              <span class="list-button">STUDY</span>
              <p class="list-explain">
                자신이 원하는 선생님/학생을<br />선택 할수있어요
              </p>
            </li>
            <li class="categories">
              <div class="img-wrap-for-2nd-section-category">
                <span class="img-wrap-size">
                  <img src="../../static/image/helpus.png" alt="헬퍼스" />
                </span>
              </div>
              <span class="list-button">Help Us</span>
              <p class="list-explain">
                도움이 필요한 외국인 친구들을<br />도와주고<br />언어도 사용해
                보아요
              </p>
            </li>
            <li class="categories">
              <div class="img-wrap-for-2nd-section-category">
                <span class="img-wrap-size">
                  <img src="../../static/image/event.png" alt="이벤트" />
                </span>
              </div>
              <span class="list-button">Event</span>
              <p class="list-explain">
                여러분이 원하는 이벤트를<br />만들어 보아요
              </p>
            </li>
          </ul>
        </div>
      </section>
      <section class="third-section">
        <div class="content-head-title-3rd-section">
          <h3 class="content-head-title">Find Your Tutor</h3>
        </div>
        <div class="main-content-wrap-for-3rd">
          <div class="containers-for-3rd">
            <div class="content-img-wrap">
              <span class="content-img-span">
                <span class="content-img-span-span"> </span>
                <img class="content-img-span-img"  src="../../static/image/Global.png" alt="" />
              </span>
            </div>
            <h5 class="content-explain-title">언어 선택</h5>
            <p class="content-explain">과외 받고싶은 언어를 선택할수 있어요</p>
          </div>
          <div class="containers-for-3rd">
            <div class="content-img-wrap">
              <span class="content-img-span">
                <span class="content-img-span-span"> </span>
                <img class="content-img-span-img" src="../../static/image/Global.png" alt="" />
              </span>
            </div>
            <h5 class="content-explain-title">선생님 or 학생 선택</h5>
            <p class="content-explain">과외 받고싶은 언어를 선택할수 있어요</p>
          </div>
        </div>
        <div class="gap"></div>
        <div class="content-head-title-3rd-section">
          <h3 class="content-head-title">Help Us</h3>
        </div>
        <div class="main-content-wrap-for-3rd">
          <div class="containers-for-3rd">
            <div class="content-img-wrap">
              <span class="content-img-span">
                <span class="content-img-span-span"> </span>
                <img class="content-img-span-img" src="../../static/image/help.foreigner.png" alt="" />
              </span>
            </div>
            <h5 class="content-explain-title">도움 선택</h5>
            <p class="content-explain">도움이 필요한 사람 or 도움 줄 사람</p>
          </div>
          <div class="containers-for-3rd">
            <div class="content-img-wrap">
              <span class="content-img-span">
                <span class="content-img-span-span"> </span>
                <img class="content-img-span-img" src="../../static/image/help.foreigner.png" alt="" />
              </span>
            </div>
            <h5 class="content-explain-title">도움 목록</h5>
            <p class="content-explain">자유롭게 선택할수 있어요</p>
          </div>
        </div>
        <div class="gap"></div>
        <div class="content-head-title-3rd-section">
          <h3 class="content-head-title">Event</h3>
        </div>
        <div class="main-content-wrap-for-3rd">
          <div class="containers-for-3rd">
            <div class="content-img-wrap">
              <span class="content-img-span">
                <span class="content-img-span-span"> </span>
                <img class="content-img-span-img" src="../../static/image/event.pic.png" alt="" />
              </span>
            </div>
            <h5 class="content-explain-title">이벤트</h5>
            <p class="content-explain">이벤트 주최 or 이벤트 참여</p>
          </div>
          <div class="containers-for-3rd">
            <div class="content-img-wrap">
              <span class="content-img-span">
                <span class="content-img-span-span"> </span>
                <img class="content-img-span-img" src="../../static/image/event.pic.png" alt="" />
              </span>
            </div>
            <h5 class="content-explain-title">이벤트 선택</h5>
            <p class="content-explain">가고싶은 이벤를 선택할수 있어요</p>
          </div>
        </div>
        <div class="suggestion-wrap">
          <div class="suggestion-wrap-body">
            <div class="suggestion-left-box">
              <div class="sgt-icon-wrap">
                <span class="sgt-icon-span">
                  <img
                    class="sgt-icon-span-img"
                    src="https://steadio.co/_next/image?url=https%3A%2F%2Fsteadio-asset.s3.ap-northeast-2.amazonaws.com%2Fstatic%2Fimages%2Fhome%2Fimg_inquiry.png&w=1920&q=75"
                    alt="전등 아이콘"
                  />
                </span>
              </div>
              <div class="suggestion-text-wrap">
                <h5 class="suggestion-title">Foreign Us 팀에 제안해주세요!</h5>
                <p class="suggestion-text">
                  필요한 기능과 원하는 혜택이 있으신가요?<br />더 좋은 환경을
                  마련해 드리겠습니다.
                </p>
              </div>
            </div>
            <a class="suggestion-btn-wrap" href="">
              <button type="button" class="suggestion-btn">
                지금 제안하기
              </button>
            </a>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
