/* helpers/list.html */
*,
:after,
:before {
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}

html {
  height: 100%;
  line-height: 1.5;
  tab-size: 4;
  font-family: Pretendard, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol, Noto Color Emoji;
  display: block;
}

body {
  margin: 0;
  line-height: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
  margin: 0;
}

menu,
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
  display: block;
  vertical-align: middle;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
}

button,
select {
  text-transform: none;
}

[role='button'],
button {
  cursor: pointer;
}

[type='button'],
[type='reset'],
[type='submit'],
button {
  background-color: transparent;
  background-image: none;
}

main.main {
  display: flex;
  padding-left: 0;
  padding-right: 0;
  flex-direction: column;
  max-width: 720px;
  min-height: 100vh;
  min-width: 350px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  position: relative;
}

.main div.filter {
  padding-top: 50px;
  padding-bottom: 14px;
  justify-content: space-between;
  border-bottom-width: 1px;
  align-items: center;
  display: flex;
  border-color: #e6e6e7;
}

.main div.filter div.order {
  align-items: center;
  display: flex;
}

.main div.filter label.order-label:first-child {
  padding-left: 0;
  padding-right: 12px;
  position: relative;
}

.main div.filter label.order-label {
  padding-left: 12px;
  padding-right: 12px;
  position: relative;
}

.main div.filter input.order-input {
  opacity: 0;
  cursor: pointer;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  position: absolute;
}

.main div.filter label.order-label.active span.order-text {
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  color: #1d1d1e;
  fill: #1d1d1e;
}

.main div.filter label.order-label span.order-text {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #8a8a8b;
  fill: #8a8a8b;
}

.main div.filter span.order-line {
  border-left-width: 2px;
  overflow: hidden;
  flex-grow: 0;
  width: 2px;
  height: 16px;
  display: flex;
  border-color: #e6e6e7;
}

.main div.filter button.filter-button {
  gap: 6px;
  align-items: center;
  display: flex;
}

.main div.filter svg.filter-image {
  width: 24px;
  height: 24px;
  color: #666667;
  fill: #666667;
}

.main div.filter span.filter-text {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #333334;
  fill: #333334;
}

/* 글목록 */
.main ul.post-wrapper {
  margin-top: 28px;
  row-gap: 1rem;
  column-gap: 2.25rem;
  display: grid;
}

.main ul.post-wrapper li.post:first-child {
  padding-top: 8px;
  border-width: 0;
  padding-bottom: 0;
  border-color: #f3f3f4;
}

.main ul.post-wrapper li.post {
  padding-bottom: 0;
  padding-top: 20px;
  border-top-width: 1px;
  border-color: #f3f3f4;
}

.main ul.post-wrapper button.post-link {
  text-align: left;
  width: 100%;
  display: block;
}

.main ul.post-wrapper div.post-container {
  column-gap: 16px;
  display: flex;
}

.main ul.post-wrapper div.post-text {
  display: flex;
  word-break: break-all;
  width: 100%;
  flex-direction: column;
}

.main ul.post-wrapper h2.post-title{
  display: block;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  overflow: hidden;
  word-break: break-word;
  word-wrap: break-word;
  color: #333334;
  fill: #333334;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.main ul.post-wrapper p.post-content {
  display: block;
  margin-top: 6px;
  word-break: break-word;
  word-wrap: break-word;
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #8a8a8b;
  fill: #8a8a8b;
  height: 54px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.main ul.post-wrapper div.post-image {
  width: 170px;
  height: 128px;
  border-radius: 8px;
  flex-shrink: 0;
  position: relative;
}

.main ul.post-wrapper span.post-thumbnail {
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  width: initial;
  height: initial;
  background: none;
  opacity: 1;
  border: 0px;
  margin: 0px;
  padding: 0px;
  position: absolute;
  inset: 0px;
}

.post-thumbnail img{
  max-width: 100%;
  border-radius: 17%;
}

.main ul.post-wrapper div.post-writer {
  align-items: center;
  display: flex;
  margin-top: 12px;
}

.main ul.post-wrapper div.writer-profile-image {
  width: 18px;
  height: 18px;
  background: url(https://steadio.imgix.net/profiles/441df290-4f1f-4bbe-ad59-4e1fca1811b8/profileImage/7d528809-1be6-4b28-b087-b6b344f19045.png?auto=format%2Ccompress&h=300&lossless=true&w=300)
      center center / cover no-repeat,
    rgb(255, 255, 255);
  box-shadow: var(0 0 #0000, 0 0 #0000), var(0 0 #0000, 0 0 #0000), var(0 0 #0000);
}

.main ul.post-wrapper div.writer-info {
  column-gap: 2px;
  align-items: center;
  display: flex;
  margin-left: 6px;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

.main ul.post-wrapper div.writer-name {
  max-width: 100%;
  overflow: hidden;
  word-break: break-all;
  color: #333334;
  fill: #333334;
}

.main ul.post-wrapper svg.writer-line {
  width: 8px;
  height: 8px;
  color: #b9b9bb;
  fill: #b9b9bb;
}

.main ul.post-wrapper span.write-info {
  flex-shrink: 0;
  color: #8a8a8b;
  fill: #8a8a8b;
}

/* 필터 모달 */
div.filter-modal {
  transform: translate(-50%, 0) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1);
  width: 100%;
  z-index: 20;
  top: 0;
  bottom: 0;
  left: 50%;
  position: fixed;
}

div.filter-modal div.category-select {
  padding-top: 27px;
  padding-left: 16px;
  padding-right: 16px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  width: 100%;
  z-index: 20;
  bottom: 0;
  position: absolute;
  background-color: #fff;
}

div.filter-modal div.filter-blur {
  display: block;
  width: 100%;
  height: 100%;
  z-index: 10;
  left: 0;
  top: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
}

div.filter-modal div.category-wrapper {
  padding-left: 0;
  padding-right: 0;
  max-width: 351px;
  padding-bottom: 16px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 328px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

div.filter-modal h4.category-title {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #1d1d1e;
  fill: #1d1d1e;
}

div.filter-modal div.category-tag-container {
  row-gap: 10px;
  column-gap: 8px;
  flex-wrap: wrap;
  display: flex;
}

div.filter-modal label.category-tag {
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 12px;
  padding-right: 12px;
  border-width: 1px;
  border-radius: 33px;
  cursor: pointer;
  position: relative;
}

div.filter-modal label.category-tag.active{
  border-color: #7e69fe;
}

div.filter-modal input.category-input {
  opacity: 0;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  position: absolute;
}

div.filter-modal span.category-tag-name {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #1d1d1e;
  fill: #1d1d1e;
}

div.filter-modal button.category-apply {
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 24px;
  justify-content: center;
  align-items: center;
  min-width: 88px;
  width: 100%;
  height: 48px;
  display: flex;
  position: relative;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  fill: #fff;
  background-color: #1d1d1e;
}

/* 반응형 */
@media (max-width: 768px) {
  main.main {
    padding-left: 16px;
    padding-right: 16px;
    min-width: 400px;
  }

  .main .filter {
    padding-top: 26px;
  }

  /* 글 목록 */
  .main ul.post-wrapper {
    margin-top: 20px;
  }

  .main li.post h2.post-title {
    font-size: 16px;
    line-height: 22px;
  }

  .main li.post p.post-content {
    margin-top: 4px;
    margin-bottom: 0px;
    height: 36px;
  }

  .main li.post div.post-image {
    width: 72px;
    height: 72px;
  }
}
