:root {
  --sendbird-light-primary-500: #491389;
  --sendbird-light-primary-400: #6211c8;
  --sendbird-light-primary-300: #742ddd;
  --sendbird-light-primary-200: #c2a9fa;
  --sendbird-light-primary-100: #dbd1ff;
  --sendbird-light-secondary-500: #066858;
  --sendbird-light-secondary-400: #027d69;
  --sendbird-light-secondary-300: #259c72;
  --sendbird-light-secondary-200: #69c085;
  --sendbird-light-secondary-100: #a8e2ab;
  --sendbird-light-information-100: #adc9ff;
  --sendbird-light-error-500: #9d091e;
  --sendbird-light-error-400: #bf0711;
  --sendbird-light-error-300: #de360b;
  --sendbird-light-error-200: #f66161;
  --sendbird-light-error-100: #fdaaaa;
  --sendbird-light-background-700: #000;
  --sendbird-light-background-600: #161616;
  --sendbird-light-background-500: #2c2c2c;
  --sendbird-light-background-400: #393939;
  --sendbird-light-background-300: #bdbdbd;
  --sendbird-light-background-200: #e0e0e0;
  --sendbird-light-background-100: #eee;
  --sendbird-light-background-50: #fff;
  --sendbird-light-overlay-01: rgba(0,0,0,.55);
  --sendbird-light-overlay-02: rgba(0,0,0,.32);
  --sendbird-light-onlight-01: rgba(0,0,0,.88);
  --sendbird-light-onlight-02: rgba(0,0,0,.5);
  --sendbird-light-onlight-03: rgba(0,0,0,.38);
  --sendbird-light-onlight-04: rgba(0,0,0,.12);
  --sendbird-light-ondark-01: hsla(0,0%,100%,.88);
  --sendbird-light-ondark-02: hsla(0,0%,100%,.5);
  --sendbird-light-ondark-03: hsla(0,0%,100%,.38);
  --sendbird-light-ondark-04: hsla(0,0%,100%,.12);
  --sendbird-light-shadow-01: 0 1px 5px 0 rgba(33,34,66,.04),0 0 3px 0 rgba(0,0,0,.08),0 2px 1px 0 rgba(0,0,0,.12);
  --sendbird-light-shadow-02: 0 3px 5px -3px rgba(33,34,66,.04),0 3px 14px 2px rgba(0,0,0,.08),0 8px 10px 1px rgba(0,0,0,.12);
  --sendbird-light-shadow-03: 0 6px 10px -5px rgba(0,0,0,.04),0 6px 30px 5px rgba(0,0,0,.08),0 16px 24px 2px rgba(0,0,0,.12);
  --sendbird-light-shadow-04: 0 9px 15px -7px rgba(0,0,0,.04),0 9px 46px 8px rgba(0,0,0,.08),0 24px 38px 3px rgba(0,0,0,.12);
  --sendbird-light-shadow-message-input: 0 1px 5px 0 rgba(33,34,66,.12),0 0 1px 0 rgba(33,34,66,.16),0 2px 1px 0 rgba(33,34,66,.08),0 1px 5px 0 rgba(0,0,0,.12);
  --sendbird-dark-primary-500: #491389;
  --sendbird-dark-primary-400: #6211c8;
  --sendbird-dark-primary-300: #742ddd;
  --sendbird-dark-primary-200: #c2a9fa;
  --sendbird-dark-primary-100: #dbd1ff;
  --sendbird-dark-secondary-500: #066858;
  --sendbird-dark-secondary-400: #027d69;
  --sendbird-dark-secondary-300: #259c72;
  --sendbird-dark-secondary-200: #69c085;
  --sendbird-dark-secondary-100: #a8e2ab;
  --sendbird-dark-information-100: #adc9ff;
}

*, :after, :before {
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  font-family: Pretendard,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

.l-full{
  height: 100%;
}

body {
  margin: 0;
  line-height: inherit;
}

body {
  display: block;
  margin: 0;
}

div {
  display: block;
}

[type=button], [type=reset], [type=submit], button {
  background-color: transparent;
  background-image: none;
}

[role=button], button {
  cursor: pointer;
}

audio, canvas, embed, iframe, img, object, svg, video {
  display: block;
  vertical-align: middle;
}

blockquote, dd, dl, figure, h1, h2, h3, h4, h5, h6, hr, p, pre {
  margin: 0;
}

.full-wrap{
  min-height: 100%;
}

.full-screen{
  min-height: 100vh;
  display: flex;
  height: 100%;
}

.left-full{
  padding-top: 52px;
  padding-bottom: 56px;
  width: 55%;
  align-items: center;
  flex-direction: column;
  display: flex;
  background-color: #e58f26d3;
}

.left-head{
  padding-left: 40px;
  padding-right: 40px;
  width: 100%;
}

.back-button{
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 24px;
  justify-content: center;
  align-items: center;
  min-width: 88px;
  height: 48px;
  display: flex;
  position: relative;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  fill: #ffffff;
  background-color: #000;
}

.button-text-wrap{
  justify-content: center;
  align-items: center;
  display: flex;
}

.arrow-icon{
  flex-shrink: 0;
  margin-right: 4px;
}

.left-main{
  margin-top: 38px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 32px;
  padding-right: 32px;
  align-items: center;
  flex-direction: column;
  max-width: 400px;
  min-width: 320px;
  width: 100%;
  display: flex;
}

.text-logo-wrap{
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  margin-bottom: 40px;
}

.logo-text{
  width: 352px;
  height: 176px;
  margin-top: 24px;
}


.kakao-tag-wrap{
  width: 100%;
}

.kakao-tag-wrap-in{
  row-gap: 12px;
  flex-direction: column;
  display: flex;
  margin-top: 30px;
}

.kakao-btn{
  padding-left: 20px;
  padding-right: 20px;
  --tw-bg-opacity: 1;
    background-color: rgb(255 234 43);
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    min-width: 88px;
    width: 100%;
    height: 48px;
    display: flex;
    position: relative;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #333334;
    fill: #333334;
}

.kakao-btn-text{
  justify-content: center;
  align-items: center;
  display: flex;
}
    
.kakao-button{
  flex-shrink: 0;
  margin-right: 4px;
}

.right-full{
  width: 45%;
  display: block;
}

.right-wrap{
  height: 100%;
  position: relative;
  background-color: #f3f3f4;
}

.right-span{
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  width: initial;
  height: initial;
  background: none;
  opacity: 1;
  border: 0px;
  margin: 0px;
  padding: 0px;
  position: absolute;
  inset: 0px;
}

.login-page-img{
  position: absolute;
  inset: 0px;
  box-sizing: border-box;
  padding: 0px;
  border: none;
  margin: auto;
  display: block;
  width: 0px;
  height: 0px;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: center center;
}