<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../../static/css/lesson/detail.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css"
    />
  <title>Document</title>
</head>
<body>
  <div>
    <!-- 헤더 -->
    <header></header>
    <!-- 메인 -->
    <div></div>
    <!-- 푸터 -->
    <footer class="post-footer">
      <div class="post-footer-wrapper">
        <div class="post-footer-container">
          <div class="footer-left">
            <div class="">

            </div>
          </div>
          <div></div>
        </div>
      </div>
    </footer>
  </div>  
</body>
</html>