body {
  margin: 0;
  line-height: inherit;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
  display: block;
  vertical-align: middle;
}

a {
  color: inherit;
  text-decoration: inherit;
}

img,
video {
  max-width: 100%;
  height: auto;
}

audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
  display: block;
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
  margin: 0;
}

[type='button'],
[type='reset'],
[type='submit'],
button {
  background-color: transparent;
  background-image: none;
}

button,
select {
  text-transform: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

li {
  display: list-item;
}

[role='button'],
button {
  cursor: pointer;
}

button,
select {
  text-transform: none;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

menu,
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

div.main-content {
  overflow-x: auto;
  flex-basis: 0px;
  flex-grow: 1;
  flex-shrink: 0;
}

div.main-content-grid {
  /* padding-bottom: 64px; */
  grid-template-columns: repeat(12, minmax(0, 1fr));
  row-gap: 0;
  column-gap: 16px;
  width: 944px;
  display: grid;
  margin-left: auto;
  margin-right: auto;
}

div.main-content div.content-wrapper {
  grid-column: 1/-1;
}

div.main-content div.top-bar {
  z-index: 10;
  top: 0;
  position: sticky;
  background-color: #fff;
}

/* 제목 */

div.main-content div.title-wrapper {
  padding-top: 41px;
  grid-column: 1/-1;
  border-color: rgba(0, 0, 0, 0.1);
}

div.main-content div.title-container {
  justify-content: space-between;
  display: flex;
}

div.main-content div.title-container h3 {
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  color: #1d1d1e;
  fill: #1d1d1e;
}

div.main-content div.title-container button {
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 20px;
  justify-content: center;
  height: 40px;
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  fill: #fff;
  background-color: #1d1d1e;
}

/* 탭 */
div.main-content div.tab-wrapper {
  margin-top: 26px;
}

div.main-content div.tab-wrapper ul {
  border-bottom-width: 1px;
  column-gap: 20px;
  height: 36px;
  display: flex;
  border-color: rgba(0, 0, 0, 0.1);
}

div.main-content div.tab-wrapper li {
  position: relative;
}

/* non-active */
button.message-tab {
  text-align: left;
  padding-bottom: 16px;
  height: 100%;
  display: block;
  position: relative;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  color: #b9b9bb;
  fill: #b9b9bb;
}

div.main-content button.message-tab p.text {
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
}

div.main-content button.message-tab div.number-wrapper {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 25px;
  margin-left: 8px;
  background-color: #f3f3f4;
}

div.main-content button.message-tab p.number {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
}

/* active */
div.main-content div.tab-wrapper button.active-tab {
  text-align: left;
  padding-bottom: 16px;
  height: 100%;
  display: block;
  position: relative;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  color: #1d1d1e;
  fill: #1d1d1e;
}

div.main-content button.active-tab p.text {
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
}

div.main-content button.active-tab div.number-wrapper {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 25px;
  margin-left: 8px;
  background-color: #f3f3f4;
}

div.main-content button.active-tab p.number {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
}

div.main-content div.button-line {
  width: 100%;
  height: 2px;
  bottom: -1.5px;
  position: absolute;
  background-color: #1d1d1e;
}

/* 글 개수, 검색창 */
div.main-content div.total-and-search-wrapper {
  padding-top: 12px;
  padding-bottom: 12px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

div.main-content span.total-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #1d1d1e;
  fill: #1d1d1e;
}

div.main-content span.total-num {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #5b44ea;
  fill: #5b44ea;
}

div.main-content div.search {
  column-gap: 12px;
  display: flex;
}

div.main-content label.search-label {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-width: 1px;
  border-radius: 20px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40px;
  display: flex;
  border-color: rgba(0, 0, 0, 0.1);
}

div.main-content input#search-input {
  content: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #333334;
  fill: #333334;
}

div.main-content button.search-button {
  margin-left: 10px;
}

div.main-content button.search-button svg {
  width: 20px;
  height: 20px;
  color: #1d1d1e;
  fill: #1d1d1e;
}

/* 쪽지들 */
div.main-content ul.message-wrapper {
  flex-direction: column;
  display: flex;
  margin-top: 8px;
}

div.main-content li.message {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom-width: 1px;
  align-items: center;
  display: flex;
  border-color: #f3f3f4;
}

div.main-content li.message:hover{
  background-color: #fafafb;
}

div.main-content button.content-wrapper {
  text-align: left;
  width: 280px;
  display: block;
}

div.main-content div.content {
  row-gap: 2px;
  flex-direction: column;
  display: flex;
  color: #333334;
  fill: #333334;
}

div.main-content ul div.title {
  gap: 2px;
  flex-direction: row;
  display: flex;
}

div.main-content ul div.title p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

div.main-content ul p.content-text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: 2px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #8a8a8b;
  fill: #8a8a8b;
}

/* 쪽지 사진 */
div.main-content div.file-wrapper {
  width: 36px;
  height: 36px;
  margin-left: 40px;
  position: relative;
}

div.main-content span.file {
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  width: initial;
  height: initial;
  background: none;
  opacity: 1;
  border: 0px;
  margin: 0px;
  padding: 0px;
  position: absolute;
  inset: 0px;
}

/* info들 */
div.main-content div.info-wrapper {
  column-gap: 40px;
  align-items: center;
  display: flex;
  margin-left: 100px;
}

div.main-content div.info {
  row-gap: 4px;
  align-items: flex-end;
  flex-direction: column;
  width: 56px;
  display: flex;
}

div.main-content div.info:last-child {
  width: 88px;
}

div.main-content div.info p.info-content {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

div.main-content div.info p.info-menu {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #8a8a8b;
  fill: #8a8a8b;
}

/* 삭제 버튼 */
div.main-content div.delete-wrapper {
  column-gap: 12px;
  align-items: center;
  display: flex;
  margin-left: auto;
}

div.main-content button.delete-button {
  border-width: 1px;
  border-radius: 9999px;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  display: flex;
  border-color: #e6e6e7;
}

div.main-content button.delete-button svg {
  width: 20px;
  height: 20px;
  color: #333334;
  fill: #333334;
}

/* 페이징 */
.paging-wrapper {
  justify-content: center;
  display: flex;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

.paging-wrapper ul li {
  margin-left: 8px;
  margin-right: 8px;
}

a.a-prev {
  opacity: 0.3;
  border-width: 1px;
  border-radius: 9999px;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  display: flex;
  border-color: #e6e6e7;
  color: #1d1d1e;
  fill: #1d1d1e;
}

a.a-prev svg{
  width: 16px;
  height: 16px;
}

a.a-next{
  opacity: 0.3;
  border-width: 1px;
  border-radius: 9999px;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  display: flex;
  border-color: #e6e6e7;
  color: #1d1d1e;
  fill: #1d1d1e;
}

a.a-next svg{
  width: 16px;
  height: 16px;
}

.paging-wrapper button.next svg {
  width: 16px;
  height: 16px;
}

.paging-wrapper button.page {
  border-radius: 9999px;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  display: flex;
  color: #1d1d1e;
  fill: #1d1d1e;
}

.paging-wrapper button.page-active {
  border-radius: 9999px;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  display: flex;
  color: #1d1d1e;
  fill: #1d1d1e;
  background-color: #f3f3f4;
}

button.page-active span.page-number {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #1d1d1e;
  fill: #1d1d1e;
}

button.page span.page-number {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #8a8a8b;
  fill: #8a8a8b;
}


/* 작성 글 삭제 모달 */
.modal {
  display: none;
}

.modal-wrapper {
  background-color: #fff;
  border-color: #e6e6e7;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 50;
  box-sizing: border-box;
  display: flex;
  min-width: 360px;
  transform: translate(-50%, -50%);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  border-width: 1px;
  padding: 32px;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.08), 0px 2px 6px rgba(0, 0, 0, 0.16);
}

.modal-message {
  color: #1d1d1e;
  fill: #1d1d1e;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  margin: 0 0 12px 0;
}

.modal-sub-message {
  color: #333334;
  fill: #333334;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  max-width: 276px;
  text-align: center;
  margin: 0;
}

.modal-choice-wraper {
  margin: 24px 0 0 0;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.button-cancel {
  background-color: #f3f3f4;
  color: #333334;
  fill: #333334;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  position: relative;
  display: flex;
  width: 100%;
  height: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding: 0 16px;
}

.button-cancel:hover {
  background-color: #e6e6e7;
}

.button-agree {
  background-color: #1d1d1e;
  color: #fff;
  fill: #fff;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  position: relative;
  display: flex;
  width: 100%;
  height: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding: 0 16px;
}

.button-agree:hover {
  background-color: #000000;
}

.modal-background {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 40;
  width: 100%;
  height: 100%;
}

/*알림*/
.notice_icon_wrapper {
    display: flex; /* 가로 정렬 */
    align-items: center; /* 세로 정렬 */
    margin-right: 10px;
}

.notice_icon{
    position: relative;
    filter: brightness(0) invert(1) grayscale(1);
    width: 22px;
    height: 22px;
    margin-right: 6px;
    vertical-align: middle;
}

.notice_num{
    position: absolute;
    top: 14px;
    right: 94px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 4px 8px;
    height: 15px;
    line-height: 7px;
    font-size: 12px;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 10px;
    font-weight: bold;
}
