*,
:after,
:before {
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}

a {
  color: inherit;
  text-decoration: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

button,
select {
  text-transform: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  background-image: none;
}

menu,
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  font-family: Pretendard, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  line-height: inherit;
}

#wrap {
  min-height: 100%;
}

.wrap-screen-flex {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 58px;
  top: 0;
  left: 0;
  padding: 0 32px;
  z-index: 20;
  position: sticky;
  background-color: #1d1d1e;
}

.header-logo-container {
  display: flex;
  align-items: center;
}

.header-logo-container > a > img {
  width: 96px;
  color: #fff;
  fill: #fff;
}

.header-logo-line {
  margin: 0 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  fill: #fff;
}

.header-logo-teacherStudio {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  fill: #fff;
}

.header-profile {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header-profile-pos {
  position: relative;
}

.header-profile-btn {
  width: 32px;
  height: 32px;
  border-radius: 9999px;
  background-color: #e6e6e7;
  position: relative;
}

.header-profile-btn-span {
  display: block;
  overflow: hidden;
  width: initial;
  height: initial;
  background: none;
  opacity: 1;
  border: 0px;
  margin: 0px;
  padding: 0px;
  position: absolute;
  inset: 0px;
}

.header-profile-btn-span > img {
  position: absolute;
  inset: 0px;
  box-sizing: border-box;
  padding: 0px;
  border: none;
  margin: auto;
  display: block;
  width: 0px;
  height: 0px;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: center center;
  border-radius: 9999px;
}

#main {
  display: flex;
  height: 100%;
  overflow: hidden;
}

.side-nav {
  flex-basis: 260px;
  border-width: 1px;
  border-color: #e6e6e7;
  background-color: #fafafb;
  position: relative;
}

.side-nav-top {
  padding-bottom: 28px;
  padding-top: 40px;
  margin: 0 32px;
  border-bottom-width: 1px;
  border-color: rgba(0, 0, 0, 0.06);
}

.side-nav-top-flex {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.side-nav-top-profile-icon {
  margin: 0 0 12px 0;
}

.side-nav-top-profile-icon-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  width: 68px;
  height: 68px;
}

.side-nav-top-profile-icon-img {
  display: block;
  overflow: hidden;
  width: initial;
  height: initial;
  background: none;
  opacity: 1;
  border: 0px;
  margin: 0px;
  padding: 0px;
  position: absolute;
  inset: 0px;
}

.side-nav-top-profile-icon-img > img {
  border-radius: 9999px;
  position: absolute;
  inset: 0px;
  box-sizing: border-box;
  padding: 0px;
  border: none;
  margin: auto;
  display: block;
  width: 0px;
  height: 0px;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: center center;
}

.side-nav-top-profile-icon-border {
  border-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 9999px;
  border-width: 1px;
}

.side-nav-top-nickname {
  margin: 0 0 12px 0;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #1d1d1e;
  fill: #1d1d1e;
}

.side-nav-top-mypage-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  padding: 0 15px;
  border-width: 1px;
  border-radius: 16px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  position: relative;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #333334;
  fill: #333334;
  background-color: #fff;
}

.side-nav-top-mypage-btn:hover {
  background-color: rgba(0, 0, 0, 0.05);
  border-color: rgba(0, 0, 0, 0);
}

.side-nav-top-mypage-btn-flex {
  display: flex;
  align-items: center;
  justify-items: center;
}

.side-nav-top-mypage-btn-flex > svg {
  flex-shrink: 0;
  margin-left: 4px;
}

.side-nav-bottom {
  padding: 32px 24px;
}

.side-nav-bottom-item {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 12px;
  margin-bottom: 8px;
  border-radius: 8px;
}

.side-nav-bottom-item:hover {
  background-color: #f2f0fc;
}

.side-nav-bottom-item-active {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 12px;
  margin-bottom: 8px;
  border-radius: 8px;
  background-color: #f2f0fc;
}

.side-nav-bottom-item-a {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.side-nav-bottom-item-a > svg {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  color: #333334;
  fill: #333334;
  display: block;
}

.side-nav-bottom-item-a > span {
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  color: #333334;
  fill: #333334;
}

.side-nav-bottom-item-a > svg:last-child {
  position: relative;
  left: 45px;
  color: #8a8a8b;
  fill: #8a8a8b;
  height: 16px;
  width: 16px;
}

.side-nav-bottom-item-a-active {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.side-nav-bottom-item-a-active > svg {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  color: #7e69fe;
  fill: #7e69fe;
}

.side-nav-bottom-item-a-active > span {
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  color: #1d1d1e;
  fill: #1d1d1e;
}

.post div.file-wrapper {
  width: 36px;
  height: 36px;
  margin-left: 40px;
  position: relative;
}

.file-wrapper span.file{
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  width: initial;
  height: initial;
  background: none;
  opacity: 1;
  border: 0px;
  margin: 0px;
  padding: 0px;
  position: absolute;
  inset: 0px;
}

/* 작성 글 목록 */
.main-content {
  overflow-x: auto;
  flex-basis: 0px;
  flex-grow: 1;
  flex-shrink: 0;
}

.main-content-grid {
  display: grid;
  row-gap: 0;
  column-gap: 16px;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  width: 944px;
  padding-bottom: 64px;
  margin: 0 auto;
}

.content-wrapper {
  grid-column: 1/-1;
}

.top-menu {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #fff;
}

.title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0 0 0;
}

.title-text {
  color: #1d1d1e;
  fill: #1d1d1e;
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  margin: 0;
}

.create-btn-size {
  width: 88px;
}

.create-btn {
  background-color: #1d1d1e;
  color: #fff;
  fill: #fff;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  position: relative;
  display: flex;
  width: 100%;
  height: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding: 0 16px;
}

.create-btn:hover {
  background-color: #000000;
}

.tab-wrapper {
  margin: 26px 0 0 0;
}

.tab-ul {
  border-color: rgba(0, 0, 0, 0.1);
  display: flex;
  height: 36px;
  column-gap: 20px;
  border-bottom-width: 1px;
}

.tab-item {
  position: relative;
}

.tab-item-btn {
  color: #b9b9bb;
  fill: #b9b9bb;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  text-align: left;
  position: relative;
  height: 100%;
  padding: 0 0 16px;
}

/* 작성 글 목록 */
.main-content {
  overflow-x: auto;
  flex-basis: 0px;
  flex-grow: 1;
  flex-shrink: 0;
}

.main-content-grid {
  display: grid;
  row-gap: 0;
  column-gap: 16px;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  width: 944px;
  padding-bottom: 64px;
  margin: 0 auto;
}

/* 활성화 중인 탭 */
.active-tab {
  color: #1d1d1e;
  fill: #1d1d1e;
}

.tab-title {
  margin: 0;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
}

.tab-number-wrapper {
  background-color: #f3f3f4;
  margin: 0 0 0 8px;
  border-radius: 25px;
  padding: 2px 8px;
}

.tab-number {
  margin: 0;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
}

.tab-line {
  width: 100%;
  height: 2px;
  bottom: 0px;
  position: absolute;
  background-color: #1d1d1e;
}

.total-and-search-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0;
}

.total-text {
  color: #1d1d1e;
  fill: #1d1d1e;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
}

.total-number {
  color: #5b44ea;
  fill: #5b44ea;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  margin: 0 0 0 4px;
}

.search {
  display: flex;
  column-gap: 12px;
}

.search-wrapper {
  width: 240px;
}

.search-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40px;
  padding: 10px 20px;
  border-width: 1px;
  border-radius: 20px;
  border-color: rgba(0, 0, 0, 0.1);
}

#search-input {
  content: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #333334;
  fill: #333334;
}

.search-button {
  margin-left: 10px;
  height: 100%;
}
.search-button > svg {
  width: 20px;
  height: 20px;
  color: #1d1d1e;
  fill: #1d1d1e;
}

.posts-wrapper {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
}

.post {
  border-color: #f3f3f4;
  display: flex;
  align-items: center;
  border-bottom-width: 1px;
  padding: 16px 8px;
}

.post-content-wrapper {
  width: 280px;
  text-align: left;
}

.post-content {
  color: #333334;
  fill: #333334;
  display: flex;
  flex-direction: column;
  row-gap: 2px;
}

.post-content > div {
  display: flex;
  flex-direction: row;
  gap: 2px;
}

.post-title {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
}

.post-content-text {
  color: #8a8a8b;
  fill: #8a8a8b;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin: 2px 0 0 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
}

.info-wrapper {
  margin: 0 0 0 165px;
  display: flex;
  align-items: center;
  column-gap: 30px;
}

.info {
  display: flex;
  width: 70px;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 4px;
}

.info:last-child {
  width: 52px;
}


.info-content {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
}

.info-menu {
  color: #8a8a8b;
  fill: #8a8a8b;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  margin: 0;
}

.info-date {
  display: flex;
  width: 88px;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 4px;
}

.edit-wrapper {
  margin: 0 0 0 auto;
  display: flex;
  align-items: center;
  column-gap: 12px;
}

.update-button {
  border-color: #e6e6e7;
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  border-width: 1px;
}

.update-button > svg {
  color: #333334;
  fill: #333334;
  height: 20px;
  width: 20px;
  margin: 0;
}

.delete-button {
  border-color: #e6e6e7;
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  border-width: 1px;
}

.delete-button > svg {
  color: #333334;
  fill: #333334;
  width: 20px;
  height: 20px;
}

/* 페이징 */
.paging-wrapper {
  justify-content: center;
  display: flex;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

.paging-wrapper ul li {
  margin-left: 8px;
  margin-right: 8px;
}

a.a-prev {
  opacity: 0.3;
  border-width: 1px;
  border-radius: 9999px;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  display: flex;
  border-color: #e6e6e7;
  color: #1d1d1e;
  fill: #1d1d1e;
}

a.a-prev svg{
  width: 16px;
  height: 16px;
}

a.a-next{
  opacity: 0.3;
  border-width: 1px;
  border-radius: 9999px;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  display: flex;
  border-color: #e6e6e7;
  color: #1d1d1e;
  fill: #1d1d1e;
}

a.a-next svg{
  width: 16px;
  height: 16px;
}

.paging-wrapper button.next svg {
  width: 16px;
  height: 16px;
}

.paging-wrapper button.page {
  border-radius: 9999px;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  display: flex;
  color: #1d1d1e;
  fill: #1d1d1e;
}

.paging-wrapper button.page-active {
  border-radius: 9999px;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  display: flex;
  color: #1d1d1e;
  fill: #1d1d1e;
  background-color: #f3f3f4;
}

button.page-active span.page-number {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #1d1d1e;
  fill: #1d1d1e;
}

button.page span.page-number {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #8a8a8b;
  fill: #8a8a8b;
}

/* 작성 글 삭제 모달 */
.modal {
  display: none;
}

.modal-wrapper {
  background-color: #fff;
  border-color: #e6e6e7;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 50;
  box-sizing: border-box;
  display: flex;
  min-width: 360px;
  transform: translate(-50%, -50%);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  border-width: 1px;
  padding: 32px;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.08), 0px 2px 6px rgba(0, 0, 0, 0.16);
}

.modal-message {
  color: #1d1d1e;
  fill: #1d1d1e;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  margin: 0 0 12px 0;
}

.modal-sub-message {
  color: #333334;
  fill: #333334;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  max-width: 276px;
  text-align: center;
  margin: 0;
}

.modal-choice-wraper {
  margin: 24px 0 0 0;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.button-cancel {
  background-color: #f3f3f4;
  color: #333334;
  fill: #333334;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  position: relative;
  display: flex;
  width: 100%;
  height: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding: 0 16px;
}

.button-cancel:hover {
  background-color: #e6e6e7;
}

.button-agree {
  background-color: #1d1d1e;
  color: #fff;
  fill: #fff;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  position: relative;
  display: flex;
  width: 100%;
  height: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding: 0 16px;
}

.button-agree:hover {
  background-color: #000000;
}

.modal-background {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 40;
  width: 100%;
  height: 100%;
}

